<!DOCTYPE html>
<html  lang="en" ng-app="Payitezy">

<head th:replace="fragments/PortalHeadFragment"></head>

<body style="overflow-x:hidden !important;">
	<header th:replace="fragments/HeaderFragment::HeaderFragment('true','DEALS')"></header>
	<th:block th:replace="fragments/MainSliderFragment"></th:block>
	<!-- <iframe style="width:120px;height:240px;" marginwidth="0" marginheight="0" scrolling="no" frameborder="0" src="//ws-in.amazon-adsystem.com/widgets/q?ServiceVersion=20070822&amp;OneJS=1&amp;Operation=GetAdHtml&amp;MarketPlace=IN&amp;source=ac&amp;ref=qf_sp_asin_til&amp;ad_type=product_link&amp;tracking_id=payitezyin-21&amp;marketplace=amazon&amp;region=IN&amp;placement=B019E07H3Y&amp;asins=B019E07H3Y&amp;show_border=true&amp;link_opens_in_new_window=true&amp;linkId=">
</iframe> -->

<!-- <iframe style="width:120px;height:240px;" marginwidth="0" marginheight="0" scrolling="no" frameborder="0" src="//ws-in.amazon-adsystem.com/widgets/q?ServiceVersion=20070822&amp;OneJS=1&amp;Operation=GetAdHtml&amp;MarketPlace=IN&amp;source=ac&amp;ref=qf_sp_asin_til&amp;ad_type=product_link&amp;tracking_id=payitezyin-21&amp;marketplace=amazon&amp;region=IN&amp;placement=B00QOZB41Y&amp;asins=B00QOZB41Y&amp;linkId=&amp;show_border=true&amp;link_opens_in_new_window=true">
</iframe>
 -->
<th:block th:replace="fragments/FooterFragment"></th:block>
	<script th:replace="fragments/PortalScriptsFragment"></script>
</body>
</html>