<!DOCTYPE html>
<html  lang="en" ng-app="Payitezy">

<head th:replace="fragments/PortalHeadFragment"></head>

<body>
	<header th:replace="fragments/HeaderFragment"></header>
	<div th:switch="${#httpServletRequest.getParameter('name')}">
		<th:block th:case="'AMAZON'" th:replace="fragments/AmazonFragment"></th:block>
		<th:block th:case="'EBAY'" th:replace="fragments/EbayFragment"></th:block>
		<th:block th:case="'SNAPDEAL'" th:replace="fragments/SnapDealFragment"></th:block>
		<th:block th:case="'FLIPKART'" th:replace="fragments/FlipKartFragment"></th:block>
	</div>
	<th:block th:replace="fragments/FooterFragment"></th:block>
	<script th:replace="fragments/PortalScriptsFragment"></script>
</body>
</html>