<!DOCTYPE html>
<html  lang="en" ng-app="Payitezy">

<head th:replace="fragments/PortalHeadFragment"></head>

<body>
	<header th:replace="fragments/HeaderFragment::HeaderFragment('false','RECHARGE')">
		

	</header>

	
  <div class="page-content pdt40" > 
  <div class="header_rechrge" >
     <span>Mobiles Recharges and Datacard Recharges</span>
   </div>

  <div class="page-section banner default" id="recharge_tab">
      <div class="container">
          <div class="row">
                    <div class="col-lg-12 srh-brd">
           <div class="col-md-12">
                  <ul class="nav nav-tabs" id="myTab">
        <li class="active"><a data-target="#mobile_recharge_tab" data-toggle="tab"><i class="fa flaticon-technology-13 theme-color"  aria-hidden="true"></i>&nbsp;&nbsp;Mobile</a></li>
        <li><a data-target="#datacard" data-toggle="tab"><i class="fa flaticon-technology-15 theme-color"  aria-hidden="true"></i>&nbsp;&nbsp;DataCard</a></li>
      </ul>
      <div class="tab-content" style="margin-top: 25px;">
         <div id="mobile_recharge_tab" class="tab-pane fade in active" ng-controller="MobileRechargeController">  
           
           <th:block th:replace="fragments/MobileRechargeFragment"></th:block>
                     </div>


<!-- dataCard tab Content -->
     <div id="datacard" class="tab-pane fade" ng-controller="DatacardController">
      <th:block th:replace="fragments/DatacardRechargeFragment"></th:block>
            </div>
<!-- End DataCard Tabs -->
              </div>
                 </div>        
                    </div>
                       </div>
      <!-- its bill payments and recharge tabs -->
<!-- <th:block th:replace="fragments/BillTicketPaymentsFragment"></th:block> -->
    </div>
  </div>
 </div><!-- content end-->
	<th:block th:replace="fragments/FooterFragment"></th:block>
	<script th:replace="fragments/PortalScriptsFragment"></script>
</body>
</html>	