
<!DOCTYPE html>
<html >

<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <!-- Page title set in pageTitle directive -->
  <title page-title></title>
  <link rel="stylesheet" type="text/css" href="../../common/css/home/style2.css" />

	<style>
	.text-center{
		text-align: center;
	}
	body{
		background: #EFEFEF;
	}
	</style>
</head>
<body class="mini-navbar" id="page-top">
	<nav class="navbar navbar-static-top white-bg" role="navigation">
	<div class="navbar-header">
	<h1 class="text-center">PayitEsy</h1>
	</div>
</nav>

</body>
</html>
