    /*
    Flaticon icon font: Flaticon
    Creation date: 30/04/2016 22:33
    */

    @font-face {
  font-family: "Flaticon";
  src: url("./Flaticon.eot");
  src: url("./Flaticon.eot?#iefix") format("embedded-opentype"),
       url("./Flaticon.woff") format("woff"),
       url("./Flaticon.ttf") format("truetype"),
       url("./Flaticon.svg#Flaticon") format("svg");
  font-weight: normal;
  font-style: normal;
}

@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: "Flaticon";
    src: url("./Flaticon.svg#Flaticon") format("svg");
  }
}

    .fi:before{
        display: inline-block;
  font-family: "Flaticon";
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  line-height: 1;
  text-decoration: inherit;
  text-rendering: optimizeLegibility;
  text-transform: none;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  font-smoothing: antialiased;
    }

    .flaticon-apple:before { content: "\f100"; }
.flaticon-arrow:before { content: "\f101"; }
.flaticon-arrows:before { content: "\f102"; }
.flaticon-arrows-1:before { content: "\f103"; }
.flaticon-arrows-10:before { content: "\f104"; }
.flaticon-arrows-11:before { content: "\f105"; }
.flaticon-arrows-14:before { content: "\f106"; }
.flaticon-arrows-2:before { content: "\f107"; }
.flaticon-arrows-3:before { content: "\f108"; }
.flaticon-arrows-4:before { content: "\f109"; }
.flaticon-arrows-5:before { content: "\f10a"; }
.flaticon-arrows-6:before { content: "\f10b"; }
.flaticon-arrows-7:before { content: "\f10c"; }
.flaticon-arrows-8:before { content: "\f10d"; }
.flaticon-arrows-9:before { content: "\f10e"; }
.flaticon-bag:before { content: "\f10f"; }
.flaticon-bars:before { content: "\f110"; }
.flaticon-bars-1:before { content: "\f111"; }
.flaticon-bars-2:before { content: "\f112"; }
.flaticon-bars-3:before { content: "\f113"; }
.flaticon-black:before { content: "\f114"; }
.flaticon-black-1:before { content: "\f115"; }
.flaticon-book:before { content: "\f116"; }
.flaticon-business:before { content: "\f117"; }
.flaticon-business-1:before { content: "\f118"; }
.flaticon-business-2:before { content: "\f119"; }
.flaticon-calendar:before { content: "\f11a"; }
.flaticon-cellphone:before { content: "\f11b"; }
.flaticon-check:before { content: "\f11c"; }
.flaticon-cinema:before { content: "\f11d"; }
.flaticon-clock:before { content: "\f11e"; }
.flaticon-clock-1:before { content: "\f11f"; }
.flaticon-close:before { content: "\f120"; }
.flaticon-close-1:before { content: "\f121"; }
.flaticon-close-2:before { content: "\f122"; }
.flaticon-cogwheel:before { content: "\f123"; }
.flaticon-cogwheel-2:before { content: "\f124"; }
.flaticon-coins:before { content: "\f125"; }
.flaticon-commerce:before { content: "\f126"; }
.flaticon-commerce-3:before { content: "\f127"; }
.flaticon-commerce-4:before { content: "\f128"; }
.flaticon-computer:before { content: "\f129"; }
.flaticon-connection:before { content: "\f12a"; }
.flaticon-cross:before { content: "\f12b"; }
.flaticon-door:before { content: "\f12c"; }
.flaticon-fashion:before { content: "\f12d"; }
.flaticon-hand:before { content: "\f12e"; }
.flaticon-home:before { content: "\f12f"; }
.flaticon-interface:before { content: "\f130"; }
.flaticon-line:before { content: "\f131"; }
.flaticon-location:before { content: "\f132"; }
.flaticon-lock:before { content: "\f133"; }
.flaticon-lock-1:before { content: "\f134"; }
.flaticon-lock-2:before { content: "\f135"; }
.flaticon-lock-4:before { content: "\f136"; }
.flaticon-logo:before { content: "\f137"; }
.flaticon-man:before { content: "\f138"; }
.flaticon-man-1:before { content: "\f139"; }
.flaticon-mark:before { content: "\f13a"; }
.flaticon-medical:before { content: "\f13b"; }
.flaticon-money:before { content: "\f13c"; }
.flaticon-money-1:before { content: "\f13d"; }
.flaticon-money-2:before { content: "\f13e"; }
.flaticon-money-3:before { content: "\f13f"; }
.flaticon-multimedia:before { content: "\f140"; }
.flaticon-multimedia-1:before { content: "\f141"; }
.flaticon-multimedia-2:before { content: "\f142"; }
.flaticon-multimedia-3:before { content: "\f143"; }
.flaticon-music:before { content: "\f144"; }
.flaticon-nature:before { content: "\f145"; }
.flaticon-note-1:before { content: "\f146"; }
.flaticon-note-2:before { content: "\f147"; }
.flaticon-open:before { content: "\f148"; }
.flaticon-pen:before { content: "\f149"; }
.flaticon-people:before { content: "\f14a"; }
.flaticon-people-1:before { content: "\f14b"; }
.flaticon-people-2:before { content: "\f14c"; }
.flaticon-people-3:before { content: "\f14d"; }
.flaticon-people-4:before { content: "\f14e"; }
.flaticon-people-5:before { content: "\f14f"; }
.flaticon-phone:before { content: "\f150"; }
.flaticon-play:before { content: "\f151"; }
.flaticon-right:before { content: "\f152"; }
.flaticon-round:before { content: "\f153"; }
.flaticon-shape:before { content: "\f154"; }
.flaticon-shape-1:before { content: "\f155"; }
.flaticon-shop:before { content: "\f156"; }
.flaticon-sign:before { content: "\f157"; }
.flaticon-signs:before { content: "\f158"; }
.flaticon-social:before { content: "\f159"; }
.flaticon-social-1:before { content: "\f15a"; }
.flaticon-social-2:before { content: "\f15b"; }
.flaticon-social-3:before { content: "\f15c"; }
.flaticon-social-media:before { content: "\f15d"; }
.flaticon-social-media-2:before { content: "\f15e"; }
.flaticon-social-media-9:before { content: "\f15f"; }
.flaticon-sound:before { content: "\f160"; }
.flaticon-squares:before { content: "\f161"; }
.flaticon-symbol:before { content: "\f162"; }
.flaticon-symbol-1:before { content: "\f163"; }
.flaticon-symbols:before { content: "\f164"; }
.flaticon-symbols-1:before { content: "\f165"; }
.flaticon-symbols-2:before { content: "\f166"; }
.flaticon-technology:before { content: "\f167"; }
.flaticon-technology-1:before { content: "\f168"; }
.flaticon-technology-13:before { content: "\f169"; }
.flaticon-technology-14:before { content: "\f16a"; }
.flaticon-technology-15:before { content: "\f16b"; }
.flaticon-technology-16:before { content: "\f16c"; }
.flaticon-technology-17:before { content: "\f16d"; }
.flaticon-technology-18:before { content: "\f16e"; }
.flaticon-technology-2:before { content: "\f16f"; }
.flaticon-technology-3:before { content: "\f170"; }
.flaticon-technology-4:before { content: "\f171"; }
.flaticon-technology-5:before { content: "\f172"; }
.flaticon-technology-6:before { content: "\f173"; }
.flaticon-technology-8:before { content: "\f174"; }
.flaticon-technology-9:before { content: "\f175"; }
.flaticon-telephone:before { content: "\f176"; }
.flaticon-tool:before { content: "\f177"; }
.flaticon-tool-1:before { content: "\f178"; }
.flaticon-tool-2:before { content: "\f179"; }
.flaticon-tool-3:before { content: "\f17a"; }
.flaticon-transport:before { content: "\f17b"; }
.flaticon-transport-1:before { content: "\f17c"; }
.flaticon-transport-11:before { content: "\f17d"; }
.flaticon-transport-12:before { content: "\f17e"; }
.flaticon-transport-2:before { content: "\f17f"; }
.flaticon-transport-3:before { content: "\f180"; }
.flaticon-transport-4:before { content: "\f181"; }
.flaticon-transport-5:before { content: "\f182"; }
.flaticon-transport-6:before { content: "\f183"; }
.flaticon-transport-7:before { content: "\f184"; }
.flaticon-transport-8:before { content: "\f185"; }
.flaticon-video:before { content: "\f186"; }
.flaticon-write:before { content: "\f187"; }
.flaticon-youtube-1:before { content: "\f188"; }
.flaticon-youtube-2:before { content: "\f189"; }
    
    $font-Flaticon-apple: "\f100";
    $font-Flaticon-arrow: "\f101";
    $font-Flaticon-arrows: "\f102";
    $font-Flaticon-arrows-1: "\f103";
    $font-Flaticon-arrows-10: "\f104";
    $font-Flaticon-arrows-11: "\f105";
    $font-Flaticon-arrows-14: "\f106";
    $font-Flaticon-arrows-2: "\f107";
    $font-Flaticon-arrows-3: "\f108";
    $font-Flaticon-arrows-4: "\f109";
    $font-Flaticon-arrows-5: "\f10a";
    $font-Flaticon-arrows-6: "\f10b";
    $font-Flaticon-arrows-7: "\f10c";
    $font-Flaticon-arrows-8: "\f10d";
    $font-Flaticon-arrows-9: "\f10e";
    $font-Flaticon-bag: "\f10f";
    $font-Flaticon-bars: "\f110";
    $font-Flaticon-bars-1: "\f111";
    $font-Flaticon-bars-2: "\f112";
    $font-Flaticon-bars-3: "\f113";
    $font-Flaticon-black: "\f114";
    $font-Flaticon-black-1: "\f115";
    $font-Flaticon-book: "\f116";
    $font-Flaticon-business: "\f117";
    $font-Flaticon-business-1: "\f118";
    $font-Flaticon-business-2: "\f119";
    $font-Flaticon-calendar: "\f11a";
    $font-Flaticon-cellphone: "\f11b";
    $font-Flaticon-check: "\f11c";
    $font-Flaticon-cinema: "\f11d";
    $font-Flaticon-clock: "\f11e";
    $font-Flaticon-clock-1: "\f11f";
    $font-Flaticon-close: "\f120";
    $font-Flaticon-close-1: "\f121";
    $font-Flaticon-close-2: "\f122";
    $font-Flaticon-cogwheel: "\f123";
    $font-Flaticon-cogwheel-2: "\f124";
    $font-Flaticon-coins: "\f125";
    $font-Flaticon-commerce: "\f126";
    $font-Flaticon-commerce-3: "\f127";
    $font-Flaticon-commerce-4: "\f128";
    $font-Flaticon-computer: "\f129";
    $font-Flaticon-connection: "\f12a";
    $font-Flaticon-cross: "\f12b";
    $font-Flaticon-door: "\f12c";
    $font-Flaticon-fashion: "\f12d";
    $font-Flaticon-hand: "\f12e";
    $font-Flaticon-home: "\f12f";
    $font-Flaticon-interface: "\f130";
    $font-Flaticon-line: "\f131";
    $font-Flaticon-location: "\f132";
    $font-Flaticon-lock: "\f133";
    $font-Flaticon-lock-1: "\f134";
    $font-Flaticon-lock-2: "\f135";
    $font-Flaticon-lock-4: "\f136";
    $font-Flaticon-logo: "\f137";
    $font-Flaticon-man: "\f138";
    $font-Flaticon-man-1: "\f139";
    $font-Flaticon-mark: "\f13a";
    $font-Flaticon-medical: "\f13b";
    $font-Flaticon-money: "\f13c";
    $font-Flaticon-money-1: "\f13d";
    $font-Flaticon-money-2: "\f13e";
    $font-Flaticon-money-3: "\f13f";
    $font-Flaticon-multimedia: "\f140";
    $font-Flaticon-multimedia-1: "\f141";
    $font-Flaticon-multimedia-2: "\f142";
    $font-Flaticon-multimedia-3: "\f143";
    $font-Flaticon-music: "\f144";
    $font-Flaticon-nature: "\f145";
    $font-Flaticon-note-1: "\f146";
    $font-Flaticon-note-2: "\f147";
    $font-Flaticon-open: "\f148";
    $font-Flaticon-pen: "\f149";
    $font-Flaticon-people: "\f14a";
    $font-Flaticon-people-1: "\f14b";
    $font-Flaticon-people-2: "\f14c";
    $font-Flaticon-people-3: "\f14d";
    $font-Flaticon-people-4: "\f14e";
    $font-Flaticon-people-5: "\f14f";
    $font-Flaticon-phone: "\f150";
    $font-Flaticon-play: "\f151";
    $font-Flaticon-right: "\f152";
    $font-Flaticon-round: "\f153";
    $font-Flaticon-shape: "\f154";
    $font-Flaticon-shape-1: "\f155";
    $font-Flaticon-shop: "\f156";
    $font-Flaticon-sign: "\f157";
    $font-Flaticon-signs: "\f158";
    $font-Flaticon-social: "\f159";
    $font-Flaticon-social-1: "\f15a";
    $font-Flaticon-social-2: "\f15b";
    $font-Flaticon-social-3: "\f15c";
    $font-Flaticon-social-media: "\f15d";
    $font-Flaticon-social-media-2: "\f15e";
    $font-Flaticon-social-media-9: "\f15f";
    $font-Flaticon-sound: "\f160";
    $font-Flaticon-squares: "\f161";
    $font-Flaticon-symbol: "\f162";
    $font-Flaticon-symbol-1: "\f163";
    $font-Flaticon-symbols: "\f164";
    $font-Flaticon-symbols-1: "\f165";
    $font-Flaticon-symbols-2: "\f166";
    $font-Flaticon-technology: "\f167";
    $font-Flaticon-technology-1: "\f168";
    $font-Flaticon-technology-13: "\f169";
    $font-Flaticon-technology-14: "\f16a";
    $font-Flaticon-technology-15: "\f16b";
    $font-Flaticon-technology-16: "\f16c";
    $font-Flaticon-technology-17: "\f16d";
    $font-Flaticon-technology-18: "\f16e";
    $font-Flaticon-technology-2: "\f16f";
    $font-Flaticon-technology-3: "\f170";
    $font-Flaticon-technology-4: "\f171";
    $font-Flaticon-technology-5: "\f172";
    $font-Flaticon-technology-6: "\f173";
    $font-Flaticon-technology-8: "\f174";
    $font-Flaticon-technology-9: "\f175";
    $font-Flaticon-telephone: "\f176";
    $font-Flaticon-tool: "\f177";
    $font-Flaticon-tool-1: "\f178";
    $font-Flaticon-tool-2: "\f179";
    $font-Flaticon-tool-3: "\f17a";
    $font-Flaticon-transport: "\f17b";
    $font-Flaticon-transport-1: "\f17c";
    $font-Flaticon-transport-11: "\f17d";
    $font-Flaticon-transport-12: "\f17e";
    $font-Flaticon-transport-2: "\f17f";
    $font-Flaticon-transport-3: "\f180";
    $font-Flaticon-transport-4: "\f181";
    $font-Flaticon-transport-5: "\f182";
    $font-Flaticon-transport-6: "\f183";
    $font-Flaticon-transport-7: "\f184";
    $font-Flaticon-transport-8: "\f185";
    $font-Flaticon-video: "\f186";
    $font-Flaticon-write: "\f187";
    $font-Flaticon-youtube-1: "\f188";
    $font-Flaticon-youtube-2: "\f189";