<div id="mainHeader" th:fragment = "HeaderFragment">

<!--BEGIN TOP BAR -->
        <div class="pre-header" >
          <div class="container">
              <div class="row">
               
                  <div class="col-lg-7 col-md-6 col-sm-6 col-xs-12 additional-shop-info">
                      <ul class="list-unstyled list-inline">
                        
                           <li><i class="fa fa-gift"></i><span>A SPECIAL GIFT FOR YOUR FIRST ORDER!<a href="#" style="color:#E02222"> READ HERE ></a></span></li> 
                        
                          <!-- <li class="shop-currencies">
                              <a href="javascript:void(0);">€</a>
                              <a href="javascript:void(0);">£</a>
                              <a href="javascript:void(0);" class="current">$</a>
                          </li> -->
                          <li class="" style="padding-left:0px;">
                          <i class="fa fa-phone"> </i> <a href="javascript:void(0);" class="current">OUR CUSTOMER CARE</a>
                          +91 9966 622 633</li>
                          
                      </ul>
                  </div>
                  
                  
                  <div class="col-lg-5 col-md-6 col-sm-6 col-xs-12 additional-nav">
                      <ul class="list-unstyled list-inline pull-right" ng-controller="loginController">
                        <li><a href="/"><i class="fa fa-home"></i>Home</a></li>
                          <li class="dropdown" id="shop-account" ng-mouseover="hoverIn()" ng-mouseleave="hoverOut()"><a class="dropdown-toggle" data-toggle="dropdown" data-target="#" href="#"><i class="fa fa-user"></i>My Account</a>
                      <div class="clearfix login-box with_registration dropdown-menu" ng-show="hoverEdit">
                        <div id="customer_login">
                          <div class="customer-login-box customer-login-box1">
                            <form method="post" class="login">
                              <div class="form-group">
                              <label for="username">Username or email address <span class="required">*</span></label>
                              <input type="text" class="form-control" name="username" id="username"/>
                              </div>
                              <div class="form-group">
                              <label for="password">Password <span class="required">*</span></label>
                              <input class="form-control" type="password" name="password" id="password"/>
                              </div>
                              <div class="form-group login-submit">
                                <input type="submit" class="button btn btn-flat-red button-login" name="login" value="Login"/>
                                <!-- <p class="lost_password">
                                <a href="#">Lost password?</a>
                                New Customer ? <a class="signup" href="#">Sign up</a>
                                </p> -->
                              </div>
                            </form>
                          </div>
                        </div>
                      </div>

                          </li>
                          <li><a href="shop-wishlist.html"><i class="icon-bag"></i>My Wishlist</a></li>
                          <li class="hidden-xs hidden-sm" style="width:120px;"><a href="#"></a></li>
                         <!--  <li id="cart" class="hidden-xs hidden-sm"><a href="cart.html"><span class="minicart">5 items $1230</span>
                          
                          </a></li> -->
                          <li><i class=""></i> <!-- <a href="shop-checkout.html">Checkout</a> --></li>
                         <!--  <li><a href="page-login.html">Log In</a></li> -->
                      </ul>
                      
                  </div>
              </div>
          </div>        
      </div> 
      <!-- END TOP BAR -->

       <!-- BEGIN HEADER -->
      <div class="header" ng-class="myVar">
        <div class="container" ng-controller="headerToggle">
          <a class="site-logo" href="/">
            <img src="../static/images/logos.png" 
            th:src="@{/images/logos.png}" 
            alt="Hungry Logo" />

          </a>

          <a href="javascript:void(0);" class="mobi-toggler" ng-click="myVar='menuOpened'"><i class="fa fa-bars"></i>


          </a>

          <!-- BEGIN CART -->
          <div class="top-cart-block">
            <div class="top-cart-info">
              <a href="javascript:void(0);" class="top-cart-info-count">3 items</a>
              <a href="javascript:void(0);" class="top-cart-info-value">$1260</a>
            </div>

            <i class="fa fa-shopping-cart"></i>
                          
            <div class="top-cart-content-wrapper">
              <div class="top-cart-content">
                <ul class="scroller" style="height: 250px;">
                  <li>
                    <a href="shop-item.html">
                      <!-- <img src="../static/common/lib/frontend/pages/img/cart-img.jpg" alt="Rolex Classic Watch" width="37" height="34"> -->
                    </a>
                    <span class="cart-content-count">x 1</span>
                    <strong><a href="shop-item.html">Rolex Classic Watch</a></strong>
                    <em>$1230</em>
                    <a href="javascript:void(0);" class="del-goods">&nbsp;</a>
                  </li>
                  <li>
                    <a href="shop-item.html"><!-- <img src="../static/common/lib/frontend/pages/img/cart-img.jpg" alt="Rolex Classic Watch" width="37" height="34"> --></a>
                    <span class="cart-content-count">x 1</span>
                    <strong><a href="shop-item.html">Rolex Classic Watch</a></strong>
                    <em>$1230</em>
                    <a href="javascript:void(0);" class="del-goods">&nbsp;</a>
                  </li>
                  <li>
                    <a href="shop-item.html"><!-- <img src="../static/common/assets/frontend/pages/img/cart-img.jpg" alt="Rolex Classic Watch" width="37" height="34"> --></a>
                    <span class="cart-content-count">x 1</span>
                    <strong><a href="shop-item.html">Rolex Classic Watch</a></strong>
                    <em>$1230</em>
                    <a href="javascript:void(0);" class="del-goods">&nbsp;</a>
                  </li>
                  <li>
                    <a href="shop-item.html"><!-- <img src="../static/common/lib/frontend/pages/img/cart-img.jpg" alt="Rolex Classic Watch" width="37" height="34"> --></a>
                    <span class="cart-content-count">x 1</span>
                    <strong><a href="shop-item.html">Rolex Classic Watch</a></strong>
                    <em>$1230</em>
                    <a href="javascript:void(0);" class="del-goods">&nbsp;</a>
                  </li>
                  <li>
                    <a href="shop-item.html"><!-- <img src="../../assets/frontend/pages/img/cart-img.jpg" alt="Rolex Classic Watch" width="37" height="34"> --></a>
                    <span class="cart-content-count">x 1</span>
                    <strong><a href="shop-item.html">Rolex Classic Watch</a></strong>
                    <em>$1230</em>
                    <a href="javascript:void(0);" class="del-goods">&nbsp;</a>
                  </li>
                  <li>
                    <a href="shop-item.html"><!-- <img src="../../assets/frontend/pages/img/cart-img.jpg" alt="Rolex Classic Watch" width="37" height="34"> --></a>
                    <span class="cart-content-count">x 1</span>
                    <strong><a href="shop-item.html">Rolex Classic Watch</a></strong>
                    <em>$1230</em>
                    <a href="javascript:void(0);" class="del-goods">&nbsp;</a>
                  </li>
                  <li>
                    <a href="shop-item.html"><!-- <img src="../../assets/frontend/pages/img/cart-img.jpg" alt="Rolex Classic Watch" width="37" height="34"> --></a>
                    <span class="cart-content-count">x 1</span>
                    <strong><a href="shop-item.html">Rolex Classic Watch</a></strong>
                    <em>$1230</em>
                    <a href="javascript:void(0);" class="del-goods">&nbsp;</a>
                  </li>
                  <li>
                    <a href="shop-item.html"><!-- <img src="../../assets/frontend/pages/img/cart-img.jpg" alt="Rolex Classic Watch" width="37" height="34"> --></a>
                    <span class="cart-content-count">x 1</span>
                    <strong><a href="shop-item.html">Rolex Classic Watch</a></strong>
                    <em>$1230</em>
                    <a href="javascript:void(0);" class="del-goods">&nbsp;</a>
                  </li>
                </ul>
                <div class="text-right">
                  <a href="shop-shopping-cart.html" class="btn btn-default">View Cart</a>
                  <a href="shop-checkout.html" class="btn btn-primary">Checkout</a>
                </div>
              </div>
            </div>            
          </div>
          <!--END CART -->

          <!-- BEGIN NAVIGATION -->
          <div class="header-navigation" >
            <ul>
            <li class="main_search"><!-- <a href="shop-item.html"><i class="fa fa-search"></i> Search</a> -->
              <div id="wrap">
                <form action="" autocomplete="on">
                <input id="search" name="search" type="text" placeholder="What're we looking for ?"/><input id="search_submit" value="Rechercher" type="submit"/>
                </form>
              </div>
            </li>
              <li class="dropdown dropdown-megamenu">
                <a class="dropdown-toggle" data-toggle="dropdown" data-target="#" href="#">
                  <i class="fa fa-bars"></i> Menu
                  
                </a>
                 <ul class="dropdown-menu" style="position: absolute;left: 0px;width: 100%;">
                  <li>
                    <div class="header-navigation-content">
                     <div class="col-xs-3"> <!-- required for floating -->
  					  <!-- Nav tabs -->
  					  <ul class="nav nav-tabs tabs-left"><!-- 'tabs-right' for right tabs -->
  						<li class="active"><a href="#breakFast" data-toggle="tab" style="padding-top:15px;padding-bottom:15px;background:none">Break Fast</a></li>
  						<li><a href="#lunch" data-toggle="tab" style="padding-top:15px;padding-bottom:15px;background:none;">Lunch </a></li>
  						<li><a href="#snacks" data-toggle="tab" style="padding-top:15px;padding-bottom:15px;background:none;">Snacks</a></li>
  						<li><a href="#dinner" data-toggle="tab" style="padding-top:15px;padding-bottom:15px;background:none;">Dinner</a></li>
  					  </ul>
  					</div>
  					<div class="col-xs-9">
  						<!-- Tab panes -->
  						<div class="tab-content">
  						  <div class="tab-pane active" id="breakFast"><div class="rotate">Break Fast (07:00 AM to 10:30 AM)</div></div>
  						  <div class="tab-pane" id="lunch"><div class="rotate">Lunch Fast (12:30 AM to 03:30 AM)</div></div>
  						  <div class="tab-pane" id="snacks"><div class="rotate1">Snacks (03:30 AM to 6:30 AM)</div></div>
  						  <div class="tab-pane" id="dinner"><div class="rotate1">Dinner (06:30 AM to 12:30 AM)</div></div>
  						</div>
  					</div>
                      </div>
                  </li>
                </ul>
              </li>
              
              </ul>
          </div>
          <!-- END NAVIGATION -->
        </div>
      </div>
    </div>