<script src="../static/common/lib/global/plugins/jquery.min.js" th:src="@{/common/lib/global/plugins/jquery.min.js}" type="text/javascript"></script>
      <script src="../static/common/lib/global/plugins/jquery-migrate.min.js" th:src="@{/common/lib/global/plugins/jquery-migrate.min.js}" type="text/javascript"></script>
      <script src="../static/common/lib/global/plugins/bootstrap/js/bootstrap.min.js" th:src="@{/common/lib/global/plugins/bootstrap/js/bootstrap.min.js}" type="text/javascript"></script>      
      <script src="../static/common/lib/frontend/layout/scripts/back-to-top.js" th:src="@{/common/lib/frontend/layout/scripts/back-to-top.js}" type="text/javascript"></script>
      <script src="../static/common/lib/global/plugins/jquery-slimscroll/jquery.slimscroll.min.js" th:src="@{/common/lib/global/plugins/jquery-slimscroll/jquery.slimscroll.min.js}" type="text/javascript"></script>
      <!-- END CORE PLUGINS -->

      <!-- BEGIN PAGE LEVEL JAVASCRIPTS (REQUIRED ONLY FOR CURRENT PAGE) -->
      <script src="../static/common/lib/global/plugins/fancybox/source/jquery.fancybox.pack.js" th:src="@{/common/lib/global/plugins/fancybox/source/jquery.fancybox.pack.js}" type="text/javascript"></script><!-- pop up -->
      <script src="../static/common/lib/global/plugins/carousel-owl-carousel/owl-carousel/owl.carousel.min.js" th:src="@{/common/lib/global/plugins/carousel-owl-carousel/owl-carousel/owl.carousel.min.js}" type="text/javascript"></script><!-- slider for products -->
      <script src='../static/common/lib/global/plugins/zoom/jquery.zoom.min.js' th:src="@{/common/lib/global/plugins/zoom/jquery.zoom.min.js}" type="text/javascript"></script><!-- product zoom -->
      <script src="../static/common/lib/global/plugins/bootstrap-touchspin/bootstrap.touchspin.js" th:src="@{/common/lib/global/plugins/bootstrap-touchspin/bootstrap.touchspin.js}" type="text/javascript"></script><!-- Quantity -->
      <script src="../static/common/js/swiper.min.js" th:src="@{/common/js/swiper.min.js}"> </script>
      <script src="../static/common/js/idangerous.swiper.min.js" th:src="@{/common/js/idangerous.swiper.min.js}"> </script>
      <script src="../static/common/js/masterslider.min.js" th:src="@{/common/js/masterslider.min.js}"> </script>
     
      <script src="../static/common/js/slider.banners.js" th:src="@{/common/js/slider.banners.js}"> </script>
      <script src="../static/common/js/theme_ga.js" th:src="@{/common/js/theme_ga.js}"> </script>
      <script src="../static/common/js/theme.js" th:src="@{/common/js/theme.js}"> </script>

      <!-- BEGIN LayerSlider -->
      <script src="../static/common/lib/global/plugins/slider-layer-slider/js/greensock.js" th:src="@{/common/lib/global/plugins/slider-layer-slider/js/greensock.js}" type="text/javascript"></script><!-- External libraries: GreenSock -->
      <script src="../static/common/lib/global/plugins/slider-layer-slider/js/layerslider.transitions.js" th:src="@{/common/lib/global/plugins/slider-layer-slider/js/layerslider.transitions.js}" type="text/javascript"></script><!-- LayerSlider script files -->
      <script src="../static/common/lib/global/plugins/slider-layer-slider/js/layerslider.kreaturamedia.jquery.js" th:src="@{/common/lib/global/plugins/slider-layer-slider/js/layerslider.kreaturamedia.jquery.js}" type="text/javascript"></script><!-- LayerSlider script files -->
      <script src="../static/common/lib/frontend/pages/scripts/layerslider-init.js" th:src="@{/common/lib/frontend/pages/scripts/layerslider-init.js}" type="text/javascript"></script>
      <!-- END LayerSlider -->

    
      <script src="../static/common/lib/global/plugins/slider-revolution-slider/rs-plugin/js/jquery.themepunch.revolution.min.js" th:src="@{/common/lib/global/plugins/slider-revolution-slider/rs-plugin/js/jquery.themepunch.revolution.min.js}" type="text/javascript"></script> 
      <script src="../static/common/lib/global/plugins/slider-revolution-slider/rs-plugin/js/jquery.themepunch.tools.min.js" th:src="@{/common/lib/global/plugins/slider-revolution-slider/rs-plugin/js/jquery.themepunch.tools.min.js}" type="text/javascript"></script> 
      <script src="../static/common/lib/frontend/pages/scripts/revo-slider-init.js" th:src="@{/common/lib/frontend/pages/scripts/revo-slider-init.js}" type="text/javascript"></script>
      <!-- END RevolutionSlider -->
  <script src="../static/common/lib/global/plugins/uniform/jquery.uniform.min.js" th:src="@{/common/lib/global/plugins/uniform/jquery.uniform.min.js}"  type="text/javascript"></script>

 <script src="../static/common/lib/global/plugins/rateit/src/jquery.rateit.js" th:src="@{/common/lib/global/plugins/rateit/src/jquery.rateit.js}" type="text/javascript"></script>
<script type="text/javascript" src="../static/common/lib/global/plugins/bootstrap-datepicker/js/bootstrap-datepicker.js" th:src="@{/common/lib/global/plugins/bootstrap-datepicker/js/bootstrap-datepicker.js}"></script>
<!-- <script type="text/javascript" src="../static/common/lib/global/plugins/bootstrap-timepicker/js/bootstrap-timepicker.min.js" th:src="@{/common/lib/global/plugins/bootstrap-datepicker/js/bootstrap-timepicker.min.js}"></script> -->
<script type="text/javascript" src="../static/common/lib/global/plugins/clockface/js/clockface.js" th:src="@{/common/lib/global/plugins/clockface/js/clockface.js}"></script>
<script type="text/javascript" src="../static/common/lib/global/plugins/bootstrap-daterangepicker/moment.min.js" th:src="@{/common/lib/global/plugins/bootstrap-daterangepicker/moment.min.js}"></script>
<script type="text/javascript" src="../static/common/lib/global/plugins/bootstrap-daterangepicker/daterangepicker.js" th:src="@{/common/lib/global/plugins/bootstrap-daterangepicker/daterangepicker.js}"></script>
<script type="text/javascript" src="../static/common/lib/global/plugins/bootstrap-colorpicker/js/bootstrap-colorpicker.js" th:src="@{/common/lib/global/plugins/bootstrap-colorpicker/js/bootstrap-colorpicker.js}"></script>
<script type="text/javascript" src="../static/common/lib/global/plugins/bootstrap-datetimepicker/js/bootstrap-datetimepicker.min.js" th:src="@{/common/lib/global/plugins/bootstrap-datetimepicker/js/bootstrap-datetimepicker.min.js}"></script>
<!-- END PAGE LEVEL PLUGINS -->
<!-- <script src="../../assets/global/scripts/metronic.js" type="text/javascript"></script> -->



      <script src="../static/common/lib/frontend/layout/scripts/layout.js" th:src="@{/common/lib/frontend/layout/scripts/layout.js}" type="text/javascript"></script>
      <script type="text/javascript">
          jQuery(document).ready(function() {
              Layout.init();    
              Layout.initOWL();

              LayersliderInit.initLayerSlider();
              RevosliderInit.initRevoSlider();
              Layout.initImageZoom();
              Layout.initTouchspin();
              Layout.initTwitter();
               Layout.initUniform();
                Layout.initSliderRange();
               




              
                
          });

          $('.checker span').click(function(){
            $(this).toggleClass('checked');
          });
          var baseURL = window.location.origin;
          var getNextPage = function(event){
            /*alert("ok")
*/            if(!($(this).attr('data-index')!=NaN))
              var pageNo = $(this).attr('data-index'); 
                    {
                      $.ajax({ 
       url: baseURL+"/page/"+pageNo,
       
       dataType: "html",
       success: function(response) {

           $('#itemList').append(response);
           /*$('#itemList').html('');*/

          
       },
       failure: function(errMsg) {
         alert("failure");
       }
     });
                    }              



          };
      </script>
