<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">

  <!--[if IE 8]> <html lang="en" class="ie8 no-js"> <![endif]-->
  <!--[if IE 9]> <html lang="en" class="ie9 no-js"> <![endif]-->
  <!--[if !IE]><!-->
  
<html xmlns:th="http://www.thymeleaf.org">
  <!--<![endif]-->

  <!-- Head BEGIN -->
  <head th:replace="fragments/HeadFragment"></head>
  <!-- Head END -->

  <!-- Body BEGIN -->
  <body class="ecommerce">
      <div th:replace="fragments/HeaderFragment :: HeaderFragment">

      
    </div>
      <!-- Header END-->
      <div th:replace="fragments/SingleItemMainFragment :: SingleItemMainFragment">

      <!-- End Parallax Div-->
   </div>
      <!-- BEGIN FOOTER -->   
  <div th:replace="fragments/FooterFragment">
   
    </div>
      <!-- END FOOTER -->

     

      
     

      <!-- Load javascripts at bottom, this will reduce page load time -->
      <!-- BEGIN CORE PLUGINS (REQUIRED FOR ALL PAGES) -->
      <!--[if lt IE 9]>
      <script src="../static/common/lib/global/plugins/respond.min.js"></script>  
      <![endif]-->
      <div th:replace="fragments/PortalScriptsFragment"></div>
      <!-- END PAGE LEVEL JAVASCRIPTS -->
  </body>
  <!-- END BODY -->
  </html>