<div th:if="${#httpServletRequest.getParameter('name')=='AMAZON'}">

<h3 style="margin-top: 140px;text-align: center;">
	<img src="/common/img/storeimg/amazon.jpg" style="border:0"  width="150px" class="CToWUd"/>
</h3>
<!-- <div id="quickserach-wrapper">
	<div class="qs-search-box-container">
	  <div class="search-container">
	  	
		</div>
	</div>
</div> -->

<script charset="utf-8" type="text/javascript" th:inline="javascript" th:if="${#httpServletRequest.getParameter('name')=='AMAZON'}">
amzn_assoc_ad_type = "responsive_search_widget";
amzn_assoc_tracking_id = "payitezyin-21";
amzn_assoc_marketplace = "amazon";
amzn_assoc_region = "IN";
amzn_assoc_placement = "";
amzn_assoc_search_type = "search_widget";
amzn_assoc_width = "900";
amzn_assoc_height = "300";
amzn_assoc_default_search_category = "";
amzn_assoc_default_search_key = "";
amzn_assoc_theme = "light";
amzn_assoc_bg_color = "FFFFFF";
</script>
<script src="//z-in.amazon-adsystem.com/widgets/q?ServiceVersion=20070822&amp;Operation=GetScript&amp;ID=OneJS&amp;WS=1&amp;MarketPlace=IN"></script>


<style type="text/css">
	#amzn_assoc_ad_div_adunit_0{
		text-align: center;
	}
	img {
    vertical-align: top;
}
</style>

<div style="margin-top: 50px;text-align: left;">
	<script type="text/javascript" language="javascript"> 
		var aax_size='728x90'; 
		var aax_pubname = 'payitezyin-21'; 
		var aax_src='302'; 
	</script>

	<span><img src="/common/img/storeimg/av_deals.jpg" style="border:0"  width="250px" class="CToWUd"/></span>
	<script type="text/javascript" language="javascript" src="http://c.amazon-adsystem.com/aax2/assoc.js"></script>

	<!-- <h3 style="margin-top: 140px;text-align: center;"> -->
		
	<!-- </h3> -->
</div>
</div>
