<div class="back-img amazon-back-img">
            <div class="container amazon-search">
                <div class="row">
                    <img src="/common/img/home/amazon-search-images/1.jpg"/>
                    <div class="payit-search">
                        <div class="col-lg-11 pdl0 pdr0">
                            <input type="search" class="search-input" placeholder="search" />
                                
                            
                        </div>
                        <div class="col-lg-1 pdl0 pdr0 amazon-input">
                            <input type="button" class="input-search-btn" style="background-color:#F79B34;color:#FFF"/>
                            <i class="fa fa-search search-position"></i>
                        </div>
                    </div>
                </div>
            </div>
        </div>