  <div class="row pdt30">
    <div class="deal-head">
        <div class="col-sm-12 ">
            <p>AMAZON DEALS</p>
        </div>
    </div>
</div><hr/>
<div class="row">
    <div class="col-sm-4 amazon-deals-list">
        <a href="/redirectto?next=http://www.amazon.in/s/%3f_encoding=UTF8%26camp=3626%26creative=24790%26field-keywords=blankets%20and%20bedsheets%26linkCode=ur2%26sprefix=blankets%20and%20bed%2Caps%2C414%26tag=payitezyin-21%26url=search-alias%3Daps&amp;dest=AMAZON" target="_blank">
        <img src="/common/img/home/amazon-search-images/5.png"/>
        </a>
    </div>
    <div class="col-sm-4 amazon-deals-list">
        <a href="/redirectto?next=http://www.amazon.in/s/%3f_encoding=UTF8%26camp=3626%26creative=24790%26field-keywords=plastics%20box%26linkCode=ur2%26sprefix=plastics%20bo%2Caps%2C454%26tag=payitezyin-21%26url=search-alias%3Dkitchen&amp;dest=AMAZON" target="_blank">
        <img src="/common/img/home/amazon-search-images/11.jpg"/>
        </a>
    </div>
    <div class="col-sm-4">
        <a href="/redirectto?next=http://www.amazon.in/s/%3f_encoding=UTF8%26camp=3626%26creative=24790%26field-keywords=electric%20rice%20cooker%26linkCode=ur2%26sprefix=electric%20rice%20cooker%2Caps%2C520%26tag=payitezyin-21%26url=search-alias%3Daps&amp;dest=AMAZON" target="_blank">
        <img src="/common/img/home/amazon-search-images/36.jpg"/>
        </a>
    </div>
</div>
<hr/>
<div class="row">
    <div class="col-sm-6 amazon-deals-list">
        <a href="/redirectto?next=http://www.amazon.in/s/%3f_encoding=UTF8%26camp=3626%26creative=24790%26field-keywords=moto%20g%20smart%20phones%26linkCode=ur2%26rh=i%3Aaps%2Ck%3Amoto%20g%20smart%20phones%26tag=payitezyin-21%26url=search-alias%3Daps&amp;dest=AMAZON" target="_blank">
        <img src="/common/img/home/amazon-search-images/6.png"/>
        </a>
    </div>
    <div class="col-sm-6">
        <a href="/redirectto?next=http://www.amazon.in/s/%3f_encoding=UTF8%26camp=3626%26creative=24790%26fst=as%3Aoff%26keywords=laptops%26linkCode=ur2%26qid=1456932092%26rh=n%3A976392031%2Cn%3A1375424031%2Ck%3Alaptops%2Cp_n_pct-off-with-tax%3A2665400031%26rnid=2665398031%26tag=payitezyin-21&amp;dest=AMAZON" target="_blank">
        <img src="/common/img/home/amazon-search-images/10.jpg" width="100%" />
        </a>
    </div>
</div><hr style="color: red;"/>
             <div class="row pdt30">
    <div class="deal-head">
        <div class="col-sm-12 ">
            <p>BAGS DEALS</p>
        </div>
    </div>
</div><hr/>
<div class="row">
    <div class="col-sm-3 amazon-deals-list">
        <a href="/redirectto?next=http://www.amazon.in/s/%3f_encoding=UTF8%26camp=3626%26creative=24790%26field-keywords=travel%20bag%26linkCode=ur2%26sprefix=travel%20bag%2Caps%2C391%26tag=payitezyin-21%26url=search-alias%3Daps&amp;dest=AMAZON" target="_blank">
        <img src="/common/img/home/amazon-search-images/bag32.jpg"/>
        </a>
    </div>
    <div class="col-sm-3 amazon-deals-list">
        <a href="/redirectto?next=http://www.amazon.in/s/%3f_encoding=UTF8%26camp=3626%26creative=24790%26field-keywords=laptop%20bags%26linkCode=ur2%26rh=i%3Aaps%2Ck%3Alaptop%20bags%26sprefix=laptop%20bags%2Caps%2C1153%26tag=payitezyin-21%26url=search-alias%3Daps&amp;dest=AMAZON" target="_blank">
        <img src="/common/img/home/amazon-search-images/bag1(1).jpg"/>
        </a>
    </div>
    <div class="col-sm-3">
        <a href="/redirectto?next=http://www.amazon.in/s/%3f_encoding=UTF8%26camp=3626%26creative=24790%26field-keywords=college%20bags%26linkCode=ur2%26rh=i%3Aaps%2Ck%3Acollege%20bags%26sprefix=college%20%2Caps%2C1111%26tag=payitezyin-21%26url=search-alias%3Daps&amp;dest=AMAZON" target="_blank">
        <img src="/common/img/home/amazon-search-images/bag2(1).jpg" />
        </a>
    </div>
    <div class="col-sm-3">
        <a href="/redirectto?next=http://www.amazon.in/s/%3f_encoding=UTF8%26camp=3626%26creative=24790%26field-keywords=shoes%26linkCode=ur2%26rh=i%3Aaps%2Ck%3Ashoes%26sprefix=shoes%2Caps%2C392%26tag=payitezyin-21%26url=search-alias%3Daps&amp;dest=AMAZON" target="_blank">
        <img src="/common/img/home/amazon-search-images/9(1).jpg"  alt="Shoes"/>
        </a>
    </div>
</div><hr/>
      <div class="row pdt30">
    <div class="deal-head">
        <div class="col-sm-12 ">
            <p>ELECTRONICS DEALS</p>
        </div>
    </div>
</div><hr/>

<div class="row">
    <div class="col-sm-3 amazon-deals-list">
        <a href="/redirectto?next=http://www.amazon.in/s/%3f_encoding=UTF8%26camp=3626%26creative=24790%26field-keywords=tablets%26linkCode=ur2%26rh=i%3Aaps%2Ck%3Atablets%26sprefix=tablets%2Caps%2C393%26tag=payitezyin-21%26url=search-alias%3Daps&amp;dest=AMAZON" target="_blank">
        <img src="/common/img/home/amazon-search-images/tab1.jpg" />
        </a>
    </div>
    <div class="col-sm-3 amazon-deals-list">
        <a href="/redirectto?next=http://www.amazon.in/s/%3f_encoding=UTF8%26camp=3626%26creative=24790%26field-keywords=mobile%20accessories%26linkCode=ur2%26rh=i%3Aaps%2Ck%3Amobile%20accessories%26sprefix=mobile%20acce%2Caps%2C380%26tag=payitezyin-21%26url=search-alias%3Daps&amp;dest=AMAZON" target="_blank">
        <img src="/common/img/home/amazon-search-images/tab3.jpg" />
        </a>
    </div>
    <div class="col-sm-3 amazon-deals-list">
        <a href="/redirectto?next=http://www.amazon.in/s/%3f_encoding=UTF8%26camp=3626%26creative=24790%26field-keywords=router%26linkCode=ur2%26rh=i%3Aaps%2Ck%3Arouter%26sprefix=Routers%2Caps%2CNaN%26tag=payitezyin-21%26url=search-alias%3Daps&amp;dest=AMAZON" target="_blank">
        <img src="/common/img/home/amazon-search-images/lap1.jpg" />
        </a>
    </div>
    <div class="col-sm-3">
        <a href="/redirectto?next=http://www.amazon.in/s/%3f_encoding=UTF8%26camp=3626%26creative=24790%26field-keywords=keyboards%26linkCode=ur2%26rh=i%3Aaps%2Ck%3Akeyboards%26sprefix=keyboards%2Caps%2C392%26tag=payitezyin-21%26url=search-alias%3Daps&amp;dest=AMAZON" target="_blank">
        <img src="/common/img/home/amazon-search-images/keyb2(1).jpg" />
        </a>
    </div>
</div><hr/>
<div class="row">
    <div class="col-sm-3 amazon-deals-list">
        <a href="/redirectto?next=http://www.amazon.in/s/%3f_encoding=UTF8%26camp=3626%26creative=24790%26field-keywords=shoes%26linkCode=ur2%26rh=i%3Aaps%2Ck%3Ashoes%26sprefix=shoes%2Caps%2C392%26tag=payitezyin-21%26url=search-alias%3Daps&amp;dest=AMAZON" target="_blank">
        <img src="/common/img/home/amazon-search-images/7(1).png"/>
        </a>
    </div>
    <div class="col-sm-3 amazon-deals-list">
        <a href="/redirectto?next=http://www.amazon.in/s/%3f_encoding=UTF8%26camp=3626%26creative=24790%26field-keywords=monitors%20for%20computer%26linkCode=ur2%26sprefix=monitors%2Caps%2C436%26tag=payitezyin-21%26url=search-alias%3Daps&amp;dest=AMAZON" target="_blank">
        <img src="/common/img/home/amazon-search-images/keyb1.jpg"  />
        </a>
    </div>
    <div class="col-sm-3 amazon-deals-list">
        <a href="/redirectto?next=http://www.amazon.in/s/%3f_encoding=UTF8%26camp=3626%26creative=24790%26field-keywords=printers%26linkCode=ur2%26rh=i%3Aaps%2Ck%3Aprinters%26sprefix=printers%2Caps%2C390%26tag=payitezyin-21%26url=search-alias%3Daps&amp;dest=AMAZON" target="_blank">
        <img src="/common/img/home/amazon-search-images/tab2.jpg"/>
        </a>
    </div>
    <div class="col-sm-3">
        <a href="/redirectto?next=http://www.amazon.in/s/%3f_encoding=UTF8%26camp=3626%26creative=24790%26field-keywords=lenovo%20laptops%20%26linkCode=ur2%26rh=i%3Aaps%2Ck%3Alenovo%20laptops%20%26tag=payitezyin-21%26url=search-alias%3Daps&amp;dest=AMAZON" target="_blank">
        <img src="/common/img/home/amazon-search-images/lap2(1).jpg" />
        </a>
    </div>
</div><hr/>
<div class="row pdt30">
    <div class="deal-head">
        <div class="col-sm-12 ">
            <p>CLOTHING DEALS</p>
        </div>
    </div>
</div><hr/>

<div class="row">
    <div class="col-sm-6">
        <a href="/redirectto?next=http://www.amazon.in/s/%3f_encoding=UTF8%26camp=3626%26creative=24790%26field-keywords=pepe%20jeans%20for%20men%26linkCode=ur2%26rh=n%3A1571271031%2Ck%3Apepe%20jeans%20for%20men%26sprefix=pepe%20jeans%2Caps%2C442%26tag=payitezyin-21%26url=search-alias%3Dapparel&amp;dest=AMAZON" target="_blank">
        <img src="/common/img/home/amazon-search-images/13.jpg"/>
        </a>
    </div>
    <div class="col-sm-3 amazon-deals-list">
        <a href="/redirectto?next=http://www.amazon.in/s/%3f_encoding=UTF8%26camp=3626%26creative=24790%26field-keywords=mens%20formal%20suits%26linkCode=ur2%26rh=n%3A1571271031%2Ck%3Amens%20formal%20suits%26tag=payitezyin-21%26url=search-alias%3Dapparel&amp;dest=AMAZON" target="_blank">
        <img src="/common/img/home/amazon-search-images/14.jpg" />
        </a>
    </div>
    <div class="col-sm-3">
        <a href="/redirectto?next=http://www.amazon.in/s/%3f_encoding=UTF8%26camp=3626%26creative=24790%26field-keywords=banarasi%20sarees%26linkCode=ur2%26rh=i%3Aaps%2Ck%3Abanarasi%20sarees%26sprefix=banaras%20%2Caps%2C432%26tag=payitezyin-21%26url=search-alias%3Daps&amp;dest=AMAZON" target="_blank">
        <img src="/common/img/home/amazon-search-images/27.jpg" />
        </a>
    </div>
</div><hr/>
<div class="row">
    <div class="col-sm-3 amazon-deals-list">
        <a href="/redirectto?next=http://www.amazon.in/s/%3f_encoding=UTF8%26camp=3626%26creative=24790%26field-keywords=ethnic%20wear%20for%20women%26linkCode=ur2%26rh=i%3Aaps%2Ck%3Aethnic%20wear%20for%20women%26sprefix=ethnic%2Caps%2C434%26tag=payitezyin-21%26url=search-alias%3Daps&amp;dest=AMAZON" target="_blank">
        <img src="/common/img/home/amazon-search-images/17.jpg"/>
        </a>
    </div>
    <div class="col-sm-6 amazon-deals-list">
        <a href="/redirectto?next=http://www.amazon.in/s/%3f_encoding=UTF8%26camp=3626%26creative=24790%26field-keywords=kids%20clothing%26linkCode=ur2%26rh=i%3Aaps%2Ck%3Akids%20clothing%26tag=payitezyin-21%26url=search-alias%3Daps&amp;dest=AMAZON" target="_blank">
        <img src="/common/img/home/amazon-search-images/18.jpg" />
        </a>
    </div>
    <div class="col-sm-3">
        <a href="/redirectto?next=http://www.amazon.in/s/%3f_encoding=UTF8%26camp=3626%26creative=24790%26field-keywords=baby%20clothes%26linkCode=ur2%26rh=i%3Aaps%2Ck%3Ababy%20clothes%26sprefix=baby%20clo%2Caps%2C385%26tag=payitezyin-21%26url=search-alias%3Daps&amp;dest=AMAZON" target="_blank">
        <img src="/common/img/home/amazon-search-images/28.jpg"/>
        </a>
    </div>
</div><hr/>
 <div class="row pdt30">
    <div class="deal-head">
        <div class="col-sm-12 ">
            <p>BOOKS DEALS</p>
        </div>
    </div>
</div><hr/>

<div class="row">
    <div class="col-sm-3">
        <a href="/redirectto?next=http://www.amazon.in/s/%3f_encoding=UTF8%26camp=3626%26creative=24790%26field-keywords=apj%20abdul%20kalam%20wings%20of%20fire%26linkCode=ur2%26rh=i%3Aaps%2Ck%3Aapj%20abdul%20kalam%20wings%20of%20fire%26sprefix=apj%20abdul%20kalam%20wings%20%2Caps%2C386%26tag=payitezyin-21%26url=search-alias%3Daps&amp;dest=AMAZON" target="_blank">
        <img src="/common/img/home/amazon-search-images/book3.jpg" />
        </a>
    </div>
    <div class="col-sm-3">
        <a href="/redirectto?next=http://www.amazon.in/s/%3f_encoding=UTF8%26camp=3626%26creative=24790%26field-keywords=swami%20vivekananda%20books%20biography%26linkCode=ur2%26rh=i%3Aaps%2Ck%3Aswami%20vivekananda%20books%20biography%26tag=payitezyin-21%26url=search-alias%3Daps&amp;dest=AMAZON" target="_blank">
        <img src="/common/img/home/amazon-search-images/book4.jpg"/>
        </a>
    </div>
    <div class="col-sm-3">
        <a href="/redirectto?next=http://www.amazon.in/s/%3f_encoding=UTF8%26camp=3626%26creative=24790%26field-keywords=abraham%20lincoln%26linkCode=ur2%26rh=n%3A976389031%2Ck%3Aabraham%20lincoln%26sprefix=abraham%20li%2Caps%2C381%26tag=payitezyin-21%26url=search-alias%3Dstripbooks&amp;dest=AMAZON" target="_blank">
        <img src="/common/img/home/amazon-search-images/book5.jpg"/>
        </a>
    </div>
    <div class="col-sm-3">
        <a href="/redirectto?next=http://www.amazon.in/s/%3f_encoding=UTF8%26camp=3626%26creative=24790%26field-keywords=gandhi%20books%26linkCode=ur2%26rh=i%3Aaps%2Ck%3Agandhi%20books%26sprefix=gandhi%20books%2Caps%2C430%26tag=payitezyin-21%26url=search-alias%3Daps&amp;dest=AMAZON" target="_blank">
        <img src="/common/img/home/amazon-search-images/book6.jpg"/>
        </a>
    </div>
</div><hr/>
<div class="row pdt30">
    <div class="deal-head">
        <div class="col-sm-12 ">
            <p> DEALS</p>
        </div>
    </div>
</div><hr/>

<div class="row">
    <div class="col-sm-3 amazon-deals-list">
        <a href="/redirectto?next=http://www.amazon.in/s/%3f_encoding=UTF8%26camp=3626%26creative=24790%26field-keywords=ladies%20hand%20bags%26linkCode=ur2%26rh=i%3Aaps%2Ck%3Aladies%20hand%20bags%26sprefix=ladies%20hand%20bags%2Caps%2C469%26tag=payitezyin-21%26url=search-alias%3Daps&amp;dest=AMAZON" target="_blank">
        <img src="/common/img/home/amazon-search-images/32.jpg" />
        </a>
    </div>
    <div class="col-sm-3">
        <a href="/redirectto?next=http://www.amazon.in/s/%3f_encoding=UTF8%26camp=3626%26creative=24790%26field-keywords=jewellery%26linkCode=ur2%26sprefix=jewellery%2Caps%2C430%26tag=payitezyin-21%26url=search-alias%3Daps&amp;dest=AMAZON" target="_blank">
        <img src="/common/img/home/amazon-search-images/33.jpg"/>
        </a>
    </div>
    <div class="col-sm-6">
        <a href="/redirectto?next=http://www.amazon.in/s/%3f_encoding=UTF8%26camp=3626%26creative=24790%26field-keywords=vegetable%20cutter%26linkCode=ur2%26sprefix=vegetable%20cutter%2Caps%2C721%26tag=payitezyin-21%26url=search-alias%3Daps&amp;dest=AMAZON" target="_blank">
        <img src="/common/img/home/amazon-search-images/29.jpg"/>
        </a>
    </div>
</div><hr/>
<div class="row">
    <div class="col-sm-6">
        <a href="/redirectto?next=http://www.amazon.in/s/%3f_encoding=UTF8%26camp=3626%26creative=24790%26field-keywords=house%20cleaning%20products%26linkCode=ur2%26rh=n%3A976442031%2Ck%3Ahouse%20cleaning%20products%26sprefix=house%20cl%2Caps%2C427%26tag=payitezyin-21%26url=search-alias%3Dkitchen&amp;dest=AMAZON" target="_blank">
        <img src="/common/img/home/amazon-search-images/30.jpg" />
        </a>
    </div>
    <div class="col-sm-3 amazon-deals-list">
        <a href="/redirectto?next=http://www.amazon.in/s/%3f_encoding=UTF8%26camp=3626%26creative=24790%26field-keywords=canon%20camera%26linkCode=ur2%26sprefix=canon%20camer%2Caps%2C466%26tag=payitezyin-21%26url=search-alias%3Daps&amp;dest=AMAZON" target="_blank">
        <img src="/common/img/home/amazon-search-images/34.jpg"/>
        </a>
    </div>
    
    <div class="col-sm-3">
        <a href="/redirectto?next=http://www.amazon.in/s/%3f_encoding=UTF8%26camp=3626%26creative=24790%26field-keywords=pc%20games%26linkCode=ur2%26rh=i%3Aaps%2Ck%3Apc%20games%26sprefix=pc%20%2Caps%2C455%26tag=payitezyin-21%26url=search-alias%3Daps&amp;dest=AMAZON" target="_blank">
        <img src="/common/img/home/amazon-search-images/35.jpg" />
        </a>
    </div>
</div>
<hr/>