<div id="quickserach-wrapper" ng-controller="BillTicketPaymentsController">
   <div class="qs-search-box-container">
     
      <div class="mobile-recharge-con">
        <div class="">
<ul class="nav nav-tabs" role="tablist">
    <li role="presentation" class="active"><a href="#home" aria-controls="home" role="tab" data-toggle="tab">Home</a></li>
    <li role="presentation"><a href="#profile" aria-controls="profile" role="tab" data-toggle="tab">Profile</a></li>
  
  </ul>

        </div>
   </div> 
</div>
</div>


  <!--  <th:block th:replace="fragments/BillTicketPaymentsModalFragment"></th:block> -->