
 <script>
  $(document)
    .ready(function() {
      $('.ui.dropdown')
        .dropdown({
          on: 'click'
        })
      ;
    })
  ;
  </script>
<div class="modal fade searh_data-plan" id="BillPaymentsModal" role="dialog" >
            <div class="modal-dialog">
                <!-- Modal content-->
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                        <div class="search-head">
                            <div class="serch_hed-cat search-container">
                                <ul class="nav nav-tabs nav_headr ">
                                    <li class="active mobile">
                                        <a href="#hom" >
                                            <span class="flaticon-iphone26  iphone"></span>
                                            <span>Mobile</span>
                                        </a>
                                    </li>
                                    <li class="dth" ><a href="#men1" ><span class="flaticon-parabolic13"></span><span>DTH</span> </a></li>
                                    <li class="dc"><a href="#men2" ><span class="flaticon-usb48  iphone datacard"></span><span>Data Card</span> </a></li>
                                    <li class="landline"><a href="#men3" >
                                        <span class="flaticon-phone21  iphone"></span> <span>Landline</span></a>
                                    </li>
                                    <li class="electricity"><a href="#men4" >
                                        <span class="flaticon-idea  iphone"></span> <span> Electricity</span> </a>
                                    </li>
                                     <li>
                                     <a href="#menu5" ><span class="fa fa-plane"></span> <span>Flights</span> </a></li>
                                </ul>
                            </div>
                            <div class="tab-content tb-cntnr col-lg-12 mgt20 ">
                                <div id="hom" class="tab-pane fade in active">
                                    <div class="recharge-section bdr-srch">
                                        <div class="row ">
                                            <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2 prep_post">
                                                <ul class="nav nav-tabs">
                                                    <li class="active col-lg-6" data-toggle="tab">
                                                        <a><img src="/common/img/home/banners/prepaid1.png"/>
                                                             Prepaid
                                                        </a>
                                                    </li>
                                                    <li class="col-lg-6" data-toggle="tab">
                                                        
                                                        <a><img src="/common/img/home/banners/postpaid1.png"/>
                                                        Postpaid
                                                        </a> 
                                                    </li>
                                                </ul>
                                            </div>
                                            <div class="col-sm-3 pdl0">
                                                <div class="form-group">
                                                    <input type="text" class="form-control mbl-no" placeholder="Enter Mobile Number" autofocus="" ng-model="rechargeMobileNumber" />
                                                </div>
                                            </div>
                                            <div class="col-sm-3 pdl0">
                                                <div class="ui fluid selection dropdown">
  <input type="hidden" name="user"/>
  <i class="dropdown icon"></i>
  <div class="default text">Select Friend</div>
  <div class="menu">
    <div class="item" data-value="jenny">
      <img class="ui mini avatar image" src="/common/img/mobile_oprt/BSNL1.png"/>
      BSNL
    </div>
    <div class="item" data-value="elliot">
      <img class="ui mini avatar image" src="/common/img/mobile_oprt/Airtel1.png"/>
      Airtel
    </div>
    <div class="item" data-value="stevie">
      <img class="ui mini avatar image" src="/common/img/mobile_oprt/Aircel1.png"/>
      Aircel
    </div>
    <div class="item" data-value="christian">
      <img class="ui mini avatar image" src="/common/img/mobile_oprt/Idea1.png"/>
     Idea
    </div>
    <div class="item" data-value="matt">
      <img class="ui mini avatar image" src="/common/img/mobile_oprt/Vodafone1.png"/>
      Vodafone
    </div>
    <div class="item" data-value="justen">
      <img class="ui mini avatar image" src="/common/img/mobile_oprt/Telenor1.png"/>
      Telenor
    </div>
    <div class="item" data-value="justen">
      <img class="ui mini avatar image" src="/common/img/mobile_oprt/TataDOCOMO1.png"/>
      TataDocomo
    </div>
    <div class="item" data-value="justen">
      <img class="ui mini avatar image" src="/common/img/mobile_oprt/RelianceCDMA1.png"/>
     RelianceCDMA
    </div>
    <div class="item" data-value="justen">
      <img class="ui mini avatar image" src="/common/img/mobile_oprt/RelianceCDMA1.png"/>
     RelianceGSM
    </div>
    <div class="item" data-value="justen">
      <img class="ui mini avatar image" src="/common/img/mobile_oprt/MTS1.png"/>
      MTS
    </div>
    <div class="item" data-value="justen">
      <img class="ui mini avatar image" src="/common/img/mobile_oprt/T241.png"/>
      T24
    </div>
    <div class="item" data-value="justen">
      <img class="ui mini avatar image" src="/common/img/mobile_oprt/Virgin_Mobile1.png"/>
      Virgin
    </div>
    <div class="item" data-value="justen">
      <img class="ui mini avatar image" src="/common/img/mobile_oprt/MTNL1.png"/>
      MTNL
    </div>
  </div>
</div>
                                            </div>
                                            <div class="col-sm-2 pdl0">
                                                <div class="form-group ">
                                                    <input type="text" class="form-control mbl-no" placeholder="Enter Amount"/>
                                                </div>
                                            </div>
                                            <div class="col-sm-2 pdl0 ">
                                                <button class="proceed-btn">Proceed to Recharge</button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div id="men1" class="tab-pane fade in">
                                    <div class="recharge-section bdr-srch">
                                        <div class="row ">
                                           
                                            <div class="col-sm-3 ">
                                                <div class="form-group">
                                                    <input type="text" class="form-control mbl-no"  placeholder="Select Operater" autofocus=""/>
                                                </div>
                                            </div>
                                            <div class="col-sm-3 pdl0">
                                                <div class="form-group ">
                                                    <input type="text" class="form-control mbl-no" placeholder="Enter Your Subscriber Id"/>
                                                </div>
                                            </div>
                                            <div class="col-sm-3 pdl0">
                                                <div class="form-group ">
                                                    <input type="text" class="form-control mbl-no" placeholder="Enter Amount"/>
                                                </div>
                                            </div>
                                            <div class="col-sm-3 pdl0 ">
                                                <button class="proceed-btn">Proceed to Recharge</button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div id="men2" class="tab-pane fade in">
                                
                                    <div class="recharge-section bdr-srch">
                                        <div class="row ">
                                            <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2 prep_post">
                                                <ul class="nav nav-tabs">
                                                    <li class="active col-lg-6" data-toggle="tab">
                                                        <a><img src="prepaid1.png"/>
                                                             
                                                        </a>
                                                    </li>
                                                    <li class="col-lg-6" data-toggle="tab">
                                                        
                                                        <a><img src="postpaid1.png"/></a> 
                                                    </li>
                                                </ul>
                                            </div>
                                            <div class="col-sm-3 pdl0">
                                                <div class="form-group">
                                                    <input type="text" class="form-control mbl-no" placeholder="Enter Data Mobile Number" autofocus=""/>
                                                </div>
                                            </div>
                                            <div class="col-sm-3 pdl0">
                                                <div class="form-group ">
                                                    <input type="text" class="form-control mbl-no" placeholder="Select Operater"/>
                                                </div>
                                            </div>
                                            <div class="col-sm-2 pdl0">
                                                <div class="form-group ">
                                                    <input type="text" class="form-control mbl-no" placeholder="Enter Amount"/>
                                                </div>
                                            </div>
                                            <div class="col-sm-2 pdl0 ">
                                                <button class="proceed-btn">Proceed to Recharge</button>
                                            </div>
                                        </div>
                                    </div>
                                

                                </div>
                                <div id="men3" class="tab-pane fade in">
                                    <div class="recharge-section bdr-srch">
                                        <div class="row ">
                                           
                                            <div class="col-sm-3 ">
                                                <div class="form-group">
                                                    <input type="text" class="form-control mbl-no"  placeholder="Select Operater" autofocus=""/>
                                                </div>
                                            </div>
                                            <div class="col-sm-3 pdl0">
                                                <div class="form-group ">
                                                    <input type="text" class="form-control mbl-no" placeholder="Enter Number With Std Code"/>
                                                </div>
                                            </div>
                                            <div class="col-sm-3 pdl0">
                                                <div class="form-group ">
                                                    <input type="text" class="form-control mbl-no" placeholder="Enter Amount"/>
                                                </div>
                                            </div>
                                            <div class="col-sm-3 pdl0 ">
                                                <button class="proceed-btn">Proceed to Recharge</button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div id="men4" class="tab-pane fade in">
                                    <div class="recharge-section bdr-srch">
                                        <div class="row ">
                                           
                                            <div class="col-sm-3 ">
                                                <div class="form-group">
                                                    <input type="text" class="form-control mbl-no"  placeholder="Select Your Electricity Board" autofocus=""/>
                                                </div>
                                            </div>
                                            <div class="col-sm-3 pdl0">
                                                <div class="form-group ">
                                                    <input type="text" class="form-control mbl-no" placeholder="Select Your Location"/>
                                                </div>
                                            </div>
                                            <div class="col-sm-3 pdl0">
                                                <div class="form-group ">
                                                    <input type="text" class="form-control mbl-no" placeholder="Enter CA Number"/>
                                                </div>
                                            </div>
                                            <div class="col-sm-3 pdl0 ">
                                                <button class="proceed-btn">Proceed to Recharge</button>
                                            </div>
                                        </div>
                                    </div>
                                
                                </div>
                            </div>
                        </div>
                    </div>
            <div class="modal-body">
                <div class="row">
                                <div class="mobile-data-plans" style=";">
                                    <ul class="nav nav-tabs col-sm-9 pdt20">
                                        <li class="active"><a data-toggle="tab" href="#hme">Full Talktime</a></li>
                                        <li><a  href="#meu1">special Recharge</a></li>
                                        <li><a data-toggle="tab" href="#meu2">2G Data</a></li>
                                        <li><a data-toggle="tab" href="#meu3">3G Data</a></li>
                                        <li><a data-toggle="tab" href="#meu4">Roaming</a></li>
                                        <li><a data-toggle="tab" href="#meu5">Top Up</a></li>
                                    </ul>
                                    <div class="col-sm-3 brow_pl">
                                       <h5>Browse Plans Of Airtel USA </h5>
                                      <div class="form-group">
                                        <input type="text" class="form-control mbl-no" placeholder="Telangana"/>
                                      </div>
                                    </div>
                                    <div class="data-plans-head">
                                    <div class="col-sm-2 talk-time">
                                      <h5>Talk Time</h5>
                                    </div>
                                    <div class="col-sm-3">
                                      <h5>Validity</h5>
                                    </div>
                                <div class="col-sm-5">
                                    <h5>Description</h5>
                                </div>
                                <div class="col-sm-2 price">
                                    <h5>Price</h5>
                                </div>
                                </div>
                                    <!-- <div class="separator"></div> -->
                                    <div class="tab-content pull-left col-sm-12 ">
                                        <div id="hme" class="tab-pane fade in active">
                                            <div class="row full-tt-page">
                                                <div class="col-sm-2">
                                                   <span>15</span>
                                                </div>
                                                <div class="col-sm-3">
                                                    <span style="">1 day</span>
                                                </div>
                                                <div class="col-sm-5" style="">
                                                    <span>Full Talktime Rs15 (1 day valid )+ 2 Local airtel SMS (1 day valid)</span>
                                                </div>
                                                <div class="col-sm-2">
                                                    <button class="price-btn-1">Rs. 15</button>
                                                </div>
                                            </div>
                                            <div class="row full-tt-page">
                                                <div class="col-sm-2">
                                                   <span>15</span>
                                                </div>
                                                <div class="col-sm-3">
                                                    <span style="">1 day</span>
                                                </div>
                                                <div class="col-sm-5" style="">
                                                    <span>Full Talktime Rs15 (1 day valid )+ 2 Local airtel SMS (1 day valid)</span>
                                                </div>
                                                <div class="col-sm-2">
                                                    <button class="price-btn-1">Rs. 15</button>
                                                </div>
                                            </div>
                                        </div>
                                        <div id="meu1" class="tab-pane fade">
                                            <div class="row full-tt-page">
                                                <div class="col-sm-2">
                                                   <span>15</span>
                                                </div>
                                                <div class="col-sm-3">
                                                    <span>1 day</span>
                                                </div>
                                                <div class="col-sm-5">
                                                    <span>Full Talktime Rs15 (1 day valid )+ 2 Local airtel SMS (1 day valid)</span>
                                                </div>
                                                <div class="col-sm-2">
                                                    <button class="price-btn-1">Rs. 15</button>
                                                </div>
                                            </div>
                                        </div>
                                        <div id="meu2" class="tab-pane fade">
                                            <div class="row full-tt-page">
                                                <div class="col-sm-2">
                                                   <span>15</span>
                                                </div>
                                                <div class="col-sm-3">
                                                    <span>1 day</span>
                                                </div>
                                                <div class="col-sm-5">
                                                    <span>Full Talktime Rs15 (1 day valid )+ 2 Local airtel SMS (1 day valid)</span>
                                                </div>
                                                <div class="col-sm-2">
                                                    <button class="price-btn-1">Rs. 15</button>
                                                </div>
                                            </div>
                                        </div>
                                        <div id="meu3" class="tab-pane fade">
                                            <div class="row full-tt-page">
                                                <div class="col-sm-2">
                                                   <span>15</span>
                                                </div>
                                                <div class="col-sm-3">
                                                    <span>1 day</span>
                                                </div>
                                                <div class="col-sm-5">
                                                    <span>Full Talktime Rs15 (1 day valid )+ 2 Local airtel SMS (1 day valid)</span>
                                                </div>
                                                <div class="col-sm-2">
                                                    <button class="price-btn-1">Rs. 15</button>
                                                </div>
                                            </div>
                                        </div>
                                        <div id="menu4" class="tab-pane fade">
                                           <div class="row full-tt-page">
                                                <div class="col-sm-2">
                                                   <span>15</span>
                                                </div>
                                                <div class="col-sm-3">
                                                    <span>1 day</span>
                                                </div>
                                                <div class="col-sm-5">
                                                    <span>Full Talktime Rs15 (1 day valid )+ 2 Local airtel SMS (1 day valid)</span>
                                                </div>
                                                <div class="col-sm-2">
                                                    <button class="price-btn-1">Rs. 15</button>
                                                </div>
                                            </div>
                                        </div>
                                        <div id="meu5" class="tab-pane fade">
                                            <div class="row full-tt-page">
                                                <div class="col-sm-2">
                                                   <span>15</span>
                                                </div>
                                                <div class="col-sm-3">
                                                    <span>1 day</span>
                                                </div>
                                                <div class="col-sm-5">
                                                    <span>Full Talktime Rs15 (1 day valid )+ 2 Local airtel SMS (1 day valid)</span>
                                                </div>
                                                <div class="col-sm-2">
                                                    <button class="price-btn-1">Rs. 15</button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
        </div>
        
      </div>
      
    </div>
  </div>