  <!-- Furniture Item CSS  Start-->





    <div class="furniture">
      <div class="container furniture-contai-div">
        <div class="row">
          <div class="col-sm-3 furniture-div">
            <div class="furniture-head">
              FURNITURE
            </div>
            <ul>
              <li><a href="#">Cross Stitch</a></li>
              <li><a href="#">Diamond Painting</a></li>
              <li><a href="#">Cake Tools</a></li>
              <li><a href="#">Cooking Tools</a></li>
              <li><a href="#">Curtian</a></li>
              <li><a href="#">Bedding</a></li>
              <li><a href="#">Wall Decor</a></li>
              <li><a href="#">Decorative Flowers</a></li>
              <li><a href="#">Home Storage</a></li>
              <li><a href="#">Pest Control</a></li>
              <li><a href="#">Pet Products</a></li>
            </ul>
          </div>
          <div class="col-sm-9 furniture-div2">
            <div>
              <ul class="nav nav-tabs ">
                <li class="active"><a data-toggle="tab" href="#f-i1">Best Seller</a></li>
                <li><a data-toggle="tab" href="#f-i2">Most Viewed</a></li>
                <li><a data-toggle="tab" href="#f-i3">Specials</a></li>
                <li><a data-toggle="tab" href="#f-i4">New Arrivals</a></li>
                <li class="furniture-arrows">
                  <a href="#">
                    <img src="../common/images_of_payit_home/1458135634_arrow-up-01.png" width="10%" style="float: right;"/>
                  </a>
                  <a href="#">
                    <img src="../common/images_of_payit_home/1458135604_arrow-down-01.png" width="10%" style="float: right;display: block;margin-top: -5px;"/>
                  </a>
                </li>
              </ul>
              <div class="tab-content">
                <div id="f-i1" class="tab-pane fade in active">
                  <div class="row">
                    <div class="col-sm-5">
                      <img src="../common/images_of_payit_home/furni_img.jpg" width="98%" />
                    </div>
                    <div class="col-sm-7 furniture-image-div">
                      <div class="col-sm-4 furniture-image-div-inside1">
                        <div id="mainwrapper">
                          <div id="box-6" class="box">
                            <img id="image-6" src="../common/images_of_payit_home/wad.png" width="100%" />
                            <span class="caption scale-caption caption4">
                              <a href="http://www.flipkart.com/housefull-jacob-4d-ward-drawr-miror-engineered-wood-almirah/p/itmebezy8e2tvndk?pid=CUPEBEZYSHAYCSEG&amp;al=eWLxYDICZQurrr%2BFte0CqsldugMWZuE75aUsiwTbcEMtstR5p846U1oPasG8p8%2Flih9QxrmXpWU%3D&amp;ref=L%3A-3991499302884523666&amp;srno=p_22&amp;query=furnitures&amp;otracker=from-search" target="_blank">
                              <h3>GRAB THE DEAL</h3>
                            </a>
                            </span>
                          </div>
                        </div>
                        <p class="furniture-item-name">WARD DRAWR </p>
                        <img src="\common\images_of_payit_home/flip logo.png" width="100" style=" position: absolute;width: 103px;height: 74px;margin-top: -92px;margin-left: 19px;opacity: 0.7;"/>
                        <p><span class="real-price-span">Rs21,061 </span> <span class="price-span"><del>Rs50,780</del></span></p>
                      </div>
                      <div class="col-sm-4 furniture-image-div-inside1">
                        <div id="mainwrapper">
                          <div id="box-6" class="box">
                            <img id="image-6" src="../common/images_of_payit_home/sop.png" width="100%" />
                            <span class="caption scale-caption caption4">
                              <a href="http://www.snapdeal.com/product/hard-rock-5-seater-sofa/679069684407#bcrumbSearch:|bcrumbLabelId:580" target="_blank">
                              <h3>GRAB THE DEAL</h3>
                            </a>
                            </span>
                          </div>
                        </div>
                        <p class="fashion-item-name">Sofa Set </p>
                        <img src="\common\images_of_payit_home/Snapdeal.png" width="100" style="position: absolute;width: 103px;height: 74px;margin-top: -98px;margin-left: 12px;opacity: 0.7; "/>
                        <p><span class="real-price-span">Rs13,999</span> <span class="price-span"><del>Rs36,000</del></span></p>
                      </div>
                      <div class="col-sm-4">
                        <div id="mainwrapper">
                          <div id="box-6" class="box">
                            <img id="image-6" src="../common/images_of_payit_home/bed.png" width="100%" />
                            <span class="caption scale-caption caption4">
                              <a href="http://www.snapdeal.com/product/mavi-vintage-king-size-double/1172149451#bcrumbSearch:bed" target="_blank">
                              <h3>GRAB THE DEAL</h3>
                            </a>
                            </span>
                          </div>
                        </div>
                        <p class="fashion-item-name">Double Bed</p>
                        <img src="\common\images_of_payit_home/Snapdeal.png" width="100" style="position: absolute;width: 103px;height: 74px;margin-top: -98px;margin-left: 12px;opacity: 0.7; "/>
                        <p><span class="real-price-span">Rs59,480</span> <span class="price-span"><del>Rs69,000</del></span></p>
                      </div>
                    </div>
                    <div class="col-sm-7 furniture-image-div1">
                      <div class="col-sm-4 furniture-image-div-inside1">
                        <div id="mainwrapper">
                          <div id="box-6" class="box">
                            <img id="image-6" src="../common/images_of_payit_home/quensize.png" width="100%" />
                            <span class="caption scale-caption caption4">
                              <a href="http://www.snapdeal.com/product/induscraft-gemini-king-bed/1856356105#bcrumbSearch:bed" target="_blank">
                              <h3>GRAB THE DEAL</h3>
                            </a>
                            </span>
                          </div>
                        </div>
                        <p class="furniture-item-name">King Bed</p>
                        <img src="\common\images_of_payit_home/Snapdeal.png" width="100" style="position: absolute;width: 103px;height: 74px;margin-top: -98px;margin-left: 12px;opacity: 0.7; "/>
                        <p><span class="real-price-span">Rs25,503</span> <span class="price-span"><del>Rs34,513</del></span></p>
                      </div>
                      <div class="col-sm-4 furniture-image-div-inside1">
                        <div id="mainwrapper">
                          <div id="box-6" class="box">
                            <img id="image-6" src="../common/images_of_payit_home/manager.png" width="100%" />
                            <span class="caption scale-caption caption4">
                              <a href="http://www.snapdeal.com/product/marc-black-modern-manager-chair/638802456093#bcrumbSearch:manager%20chairs" target="_blank">
                              <h3>GRAB THE DEAL</h3>
                            </a>
                            </span>
                          </div>
                        </div>
                        <p class="furniture-item-name">Manager Chair</p>
                        <img src="\common\images_of_payit_home/Snapdeal.png" width="100" style="position: absolute;width: 103px;height: 74px;margin-top: -98px;margin-left: 12px;opacity: 0.7; "/>
                        <p><span class="real-price-span">Rs6,999</span> <span class="price-span"><del>Rs10,000</del></span></p>
                      </div>
                      <div class="col-sm-4">
                        <div id="mainwrapper">
                          <div id="box-6" class="box">
                            <img id="image-6" src="../common/images_of_payit_home/dai.png" width="100%" />
                            <span class="caption scale-caption caption4">
                              <a href="http://www.snapdeal.com/product/wood-wizard-exquisite-dinning-table/1538064522#bcrumbSearch:dining%20table%20set%20with%20chair" target="_blank">
                              <h3>GRAB THE DEAL</h3>
                            </a>
                            </span>
                          </div>
                        </div>
                        <p class="furniture-item-name">Dinning Table</p>
                        <img src="\common\images_of_payit_home/Snapdeal.png" width="100" style="position: absolute;width: 103px;height: 74px;margin-top: -98px;margin-left: 12px;opacity: 0.7; "/>
                        <p><span class="real-price-span">Rs32,999 </span> <span class="price-span"><del>Rs69,999</del></span></p>
                      </div>
                    </div>
                  </div>
                </div>
                <div id="f-i2" class="tab-pane fade">
                  <div class="row">
                    <div class="col-sm-5">
                      <img src="../common/images_of_payit_home/furni_img.jpg" width="98%"/>
                    </div>
                    <div class="col-sm-7 furniture-image-div">
                      <div class="col-sm-4 furniture-image-div-inside1">
                        <div id="mainwrapper">
                          <div id="box-6" class="box">
                            <img id="image-6" src="../common/images_of_payit_home/manager.png" width="100%" />
                            <span class="caption scale-caption caption4">
                              <a href="http://www.snapdeal.com/product/marc-black-modern-manager-chair/638802456093#bcrumbSearch:manager%20chairs" target="_blank">
                              <h3>GRAB THE DEAL</h3>
                            </a>
                            </span>
                          </div>
                        </div>
                        <p class="furniture-item-name">Manager Chair</p>
                        <img src="\common\images_of_payit_home/Snapdeal.png" width="100" style="position: absolute;width: 103px;height: 74px;margin-top: -98px;margin-left: 12px;opacity: 0.7; "/>
                        <p><span class="real-price-span">Rs6,999</span> <span class="price-span"><del>Rs10,000</del></span></p>
                      </div>
                      <div class="col-sm-4 furniture-image-div-inside1">
                        <div id="mainwrapper">
                          <div id="box-6" class="box">
                            <img id="image-6" src="../common/images_of_payit_home/quensize.png" width="100%" />
                            <span class="caption scale-caption caption4">
                              <a href="http://www.snapdeal.com/product/induscraft-gemini-king-bed/1856356105#bcrumbSearch:bed" target="_blank">
                              <h3>GRAB THE DEAL</h3>
                            </a>
                            </span>
                          </div>
                        </div>
                        <p class="fashion-item-name">King Bed</p>
                        <img src="\common\images_of_payit_home/Snapdeal.png" width="100" style="position: absolute;width: 103px;height: 74px;margin-top: -98px;margin-left: 12px;opacity: 0.7; "/>
                        <p><span class="real-price-span">Rs25,503</span> <span class="price-span"><del>Rs34,513</del></span></p>
                      </div>
                      <div class="col-sm-4">
                        <div id="mainwrapper">
                          <div id="box-6" class="box">
                            <img id="image-6" src="../common/images_of_payit_home/dawan.png" width="100%" />
                            <span class="caption scale-caption caption4">
                              <a href="http://www.snapdeal.com/product/nine-living-black-blends-diwan/629610853641#bcrumbSearch:Diwan%20Set" target="_blank">
                              <h3>GRAB THE DEAL</h3>
                            </a>
                            </span>
                          </div>
                        </div>
                        <p class="fashion-item-name">DEEWAN SET</p>
                        <img src="\common\images_of_payit_home/Snapdeal.png" width="100" style="position: absolute;width: 103px;height: 74px;margin-top: -98px;margin-left: 12px;opacity: 0.7; "/>
                        <p><span class="real-price-span">Rs1,699</span> <span class="price-span"><del>Rs2,800</del></span></p>
                      </div>
                    </div>
                    <div class="col-sm-7 furniture-image-div1">
                      <div class="col-sm-4 furniture-image-div-inside1">
                        <div id="mainwrapper">
                          <div id="box-6" class="box">
                            <img id="image-6" src="../common/images_of_payit_home/storage.png" width="100%" />
                            <span class="caption scale-caption caption4">
                              <a href="http://www.amazon.in/Pindia-Multilayer-Storage-Organizer-Cabinate/dp/B00L1BFXGI/ref=sr_1_6?s=kitchen&amp;ie=UTF8&amp;qid=1459334404&amp;sr=1-6&amp;keywords=furniture" target="_blank">
                              <h3>GRAB THE DEAL</h3>
                            </a>
                            </span>
                          </div>
                        </div>
                        <p class="furniture-item-name">Storage Rack</p>
                        <img src="\common\images_of_payit_home/amag.png" width="100" style="position: absolute;width: 103px;height: 74px;margin-top: -98px;margin-left: 21px;opacity: 0.7; "/>
                        <p><span class="real-price-span">Rs1,699</span> <span class="price-span"><del>Rs3,998</del></span></p>
                      </div>
                      <div class="col-sm-4 furniture-image-div-inside1">
                        <div id="mainwrapper">
                          <div id="box-6" class="box">
                            <img id="image-6" src="../common/images_of_payit_home/dresstable.png" width="100%" />
                            <span class="caption scale-caption caption4">
                              <a href="http://www.snapdeal.com/product/benz-dresser/747495463#bcrumbSearch:Dressing%20Tables" target="_blank">
                              <h3>GRAB THE DEAL</h3>
                            </a>
                            </span>
                          </div>
                        </div>
                        <p class="furniture-item-name">Dressing Table</p>
                        <img src="\common\images_of_payit_home/Snapdeal.png" width="100" style="position: absolute;width: 103px;height: 74px;margin-top: -98px;margin-left: 12px;opacity: 0.7; "/>
                        <p><span class="real-price-span">Rs12,055</span> <span class="price-span"><del>Rs23,040</del></span></p>
                      </div>
                      <div class="col-sm-4">
                        <div id="mainwrapper">
                          <div id="box-6" class="box">
                            <img id="image-6" src="../common/images_of_payit_home/Bean.png" width="100%" />
                            <span class="caption scale-caption caption4">
                              <a href="http://www.amazon.in/Anand-Decor-Mudda-Rexine-without/dp/B00JAY3Y50/ref=sr_1_12?s=kitchen&amp;ie=UTF8&amp;qid=1459334404&amp;sr=1-12&amp;keywords=furniture" target="_blank">
                              <h3>GRAB THE DEAL</h3>
                            </a>
                            </span>
                          </div>
                        </div>
                        <p class="furniture-item-name">Bean Bag</p>
                        <img src="\common\images_of_payit_home/amag.png" width="100" style="position: absolute;width: 103px;height: 74px;margin-top: -98px;margin-left: 21px;opacity: 0.7; "/>
                        <p><span class="real-price-span">Rs750</span> <span class="price-span"><del>Rs2,249</del></span></p>
                      </div>
                    </div>
                  </div>
                </div>
                <div id="f-i3" class="tab-pane fade">
                  <div class="row">
                    <div class="col-sm-5">
                      <img src="../common/images_of_payit_home/furni_img.jpg" width="98%"/>
                    </div>
                    <div class="col-sm-7 furniture-image-div">
                      <div class="col-sm-4 furniture-image-div-inside1">
                        <div id="mainwrapper">
                          <div id="box-6" class="box">
                            <img id="image-6" src="../common/images_of_payit_home/dawan.png" width="100%" />
                            <span class="caption scale-caption caption4">
                              <a href="http://www.snapdeal.com/product/nine-living-black-blends-diwan/629610853641#bcrumbSearch:Diwan%20Set" target="_blank">
                              <h3>GRAB THE DEAL</h3>
                            </a>
                            </span>
                          </div>
                        </div>
                        <p class="furniture-item-name">DEEWAN SET</p>
                        <img src="\common\images_of_payit_home/Snapdeal.png" width="100" style="position: absolute;width: 103px;height: 74px;margin-top: -98px;margin-left: 12px;opacity: 0.7; "/>
                        <p><span class="real-price-span">Rs1,699 </span> <span class="price-span"><del>Rs2,800</del></span></p>
                      </div>
                      <div class="col-sm-4 furniture-image-div-inside1">
                        <div id="mainwrapper">
                          <div id="box-6" class="box">
                            <img id="image-6" src="../common/images_of_payit_home/wodden.png" width="100%" />
                            <span class="caption scale-caption caption4">
                              <a href="http://www.snapdeal.com/product/climpex-bervic-slatted-rocking-chair/382366775#bcrumbSearch:wodden%20roling%20chair" target="_blank">
                              <h3>GRAB THE DEAL</h3>
                            </a>
                            </span>
                          </div>
                        </div>
                        <p class="fashion-item-name">Rocking Chair</p>
                        <img src="\common\images_of_payit_home/Snapdeal.png" width="100" style="position: absolute;width: 103px;height: 74px;margin-top: -98px;margin-left: 12px;opacity: 0.7; "/>
                        <p><span class="real-price-span">Rs8,499</span> <span class="price-span"><del>Rs16,999</del></span></p>
                      </div>
                      <div class="col-sm-4">
                        <div id="mainwrapper">
                          <div id="box-6" class="box">
                            <img id="image-6" src="../common/images_of_payit_home/computer.png" width="100%" />
                            <span class="caption scale-caption caption4">
                              <a href="http://www.snapdeal.com/product/royal-oak-amber-computer-table/672319287692#bcrumbSearch:televison%20table" target="_blank">
                              <h3>GRAB THE DEAL</h3>
                            </a>
                            </span>
                          </div>
                        </div>
                        <p class="fashion-item-name">Computer Table</p>
                        <img src="\common\images_of_payit_home/Snapdeal.png" width="100" style="position: absolute;width: 103px;height: 74px;margin-top: -98px;margin-left: 12px;opacity: 0.7; "/>
                        <p><span class="real-price-span">Rs3,575</span> <span class="price-span"><del>Rs4,600</del></span></p>
                      </div>
                    </div>
                    <div class="col-sm-7 furniture-image-div1">
                      <div class="col-sm-4 furniture-image-div-inside1">
                        <div id="mainwrapper">
                          <div id="box-6" class="box">
                            <img id="image-6" src="../common/images_of_payit_home/tennis.png" width="100%" />
                            <span class="caption scale-caption caption4">
                              <a href="http://www.snapdeal.com/product/stiga-premium-roller-table-tennis/431345#bcrumbSearch:televison%20table" target="_blank">
                              <h3>GRAB THE DEAL</h3>
                            </a>
                            </span>
                          </div>
                        </div>
                        <p class="furniture-item-name">Tennis Table</p>
                        <img src="\common\images_of_payit_home/Snapdeal.png" width="100" style="position: absolute;width: 103px;height: 74px;margin-top: -98px;margin-left: 12px;opacity: 0.7; "/>
                        <p><span class="real-price-span">Rs47,500</span> <span class="price-span"><del>Rs53,000</del></span></p>
                      </div>
                      <div class="col-sm-4 furniture-image-div-inside1">
                        <div id="mainwrapper">
                          <div id="box-6" class="box">
                            <img id="image-6" src="../common/images_of_payit_home/mat.png" width="100%" />
                            <span class="caption scale-caption caption4">
                              <a href="http://www.snapdeal.com/product/coirfit-health-spa-6-inches/1906133116#bcrumbSearch:Mattress" target="_blank">
                              <h3>GRAB THE DEAL</h3>
                            </a>
                            </span>
                          </div>
                        </div>
                        <p class="furniture-item-name">Mattress</p>
                        <img src="\common\images_of_payit_home/Snapdeal.png" width="100" style="position: absolute;width: 103px;height: 74px;margin-top: -98px;margin-left: 12px;opacity: 0.7; "/>
                        <p><span class="real-price-span">Rs8,168</span> <span class="price-span"><del>Rs13,614</del></span></p>
                      </div>
                      <div class="col-sm-4">
                        <div id="mainwrapper">
                          <div id="box-6" class="box">
                            <img id="image-6" src="../common/images_of_payit_home/Bean.png" width="100%" />
                            <span class="caption scale-caption caption4">
                              <a href="http://www.amazon.in/Anand-Decor-Mudda-Rexine-without/dp/B00JAY3Y50/ref=sr_1_12?s=kitchen&amp;ie=UTF8&amp;qid=1459334404&amp;sr=1-12&amp;keywords=furniture" target="_blank">
                              <h3>GRAB THE DEAL</h3>
                            </a>
                            </span>
                          </div>
                        </div>
                        <p class="furniture-item-name">Bean Bag</p>
                        <img src="\common\images_of_payit_home/amag.png" width="100" style="position: absolute;width: 103px;height: 74px;margin-top: -98px;margin-left: 21px;opacity: 0.7; "/>
                        <p><span class="real-price-span">Rs750</span> <span class="price-span"><del>Rs2,249</del></span></p>
                      </div>
                    </div>
                  </div>
                </div>
                <div id="f-i4" class="tab-pane fade">
                  <div class="row">
                    <div class="col-sm-5">
                      <img src="../common/images_of_payit_home/furni_img.jpg" width="98%"/>
                    </div>
                    <div class="col-sm-7 furniture-image-div">
                      <div class="col-sm-4 furniture-image-div-inside1">
                        <div id="mainwrapper">
                          <div id="box-6" class="box">
                            <img id="image-6" src="../common/images_of_payit_home/storage.png" width="100%" />
                            <span class="caption scale-caption caption4">
                              <a href="http://www.amazon.in/Pindia-Multilayer-Storage-Organizer-Cabinate/dp/B00L1BFXGI/ref=sr_1_6?s=kitchen&amp;ie=UTF8&amp;qid=1459334404&amp;sr=1-6&amp;keywords=furniture" target="_blank">
                              <h3>GRAB THE DEAL</h3>
                            </a>
                            </span>
                          </div>
                        </div>
                        <p class="furniture-item-name">Storage Rack</p>
                        <img src="\common\images_of_payit_home/amag.png" width="100" style="position: absolute;width: 103px;height: 74px;margin-top: -98px;margin-left: 21px;opacity: 0.7; "/>
                        <p><span class="real-price-span">Rs1,699</span> <span class="price-span"><del>Rs3,998</del></span></p>
                      </div>
                      <div class="col-sm-4 furniture-image-div-inside1">
                        <div id="mainwrapper">
                          <div id="box-6" class="box">
                            <img id="image-6" src="../common/images_of_payit_home/kitchen.png" width="100%" />
                            <span class="caption scale-caption caption4">
                              <a href="http://www.flipkart.com/exclusivelane-teak-wood-wooden-kitchen-trolley/p/itmed583fbq4e9mk?pid=KTRED583UGKYYZ6H&amp;al=meLoX5NVtQzWkkNgjVS1nsldugMWZuE7O96I17%2B9oWkia5DEz4eA3xeuWH9WCll%2FD3DZlCioZz8%3D&amp;ref=L%3A313754775064101404&amp;srno=p_3&amp;query=furniture&amp;otracker=from-search" target="_blank">
                              <h3>GRAB THE DEAL</h3>
                            </a>
                            </span>
                          </div>
                        </div>
                        <p class="fashion-item-name">Kitchen Trolley</p>
                        <img src="\common\images_of_payit_home/flip logo.png" width="100" style=" position: absolute;width: 103px;height: 74px;margin-top: -92px;margin-left: 7px;opacity: 0.7;"/>
                      <p><span class="real-price-span">Rs28,373</span> <span class="price-span"><del>Rs317,890 </del></span></p>
                      </div>
                      <div class="col-sm-4">
                        <div id="mainwrapper">
                          <div id="box-6" class="box">
                            <img id="image-6" src="../common/images_of_payit_home/dresstable.png" width="100%" />
                            <span class="caption scale-caption caption4">
                              <a href="http://www.snapdeal.com/product/benz-dresser/747495463#bcrumbSearch:Dressing%20Tables" target="_blank">
                              <h3>GRAB THE DEAL</h3>
                            </a>
                            </span>
                          </div>
                        </div>
                        <p class="fashion-item-name">Dressing Table</p>
                        <img src="\common\images_of_payit_home/Snapdeal.png" width="100" style="position: absolute;width: 103px;height: 74px;margin-top: -98px;margin-left: 12px;opacity: 0.7; "/>
                        <p><span class="real-price-span">Rs12,055</span> <span class="price-span"><del>Rs23,040</del></span></p>
                      </div>
                    </div>
                    <div class="col-sm-7 furniture-image-div1">
                      <div class="col-sm-4 furniture-image-div-inside1">
                        <div id="mainwrapper">
                          <div id="box-6" class="box">
                            <img id="image-6" src="../common/images_of_payit_home/lawanchair.png" width="100%" />
                            <span class="caption scale-caption caption4">
                              <a href="http://www.snapdeal.com/product/solid-wood-lawn-chair-in/637163894609#bcrumbSearch:Lawn%20Chair" target="_blank">
                              <h3>GRAB THE DEAL</h3>
                            </a>
                            </span>
                          </div>
                        </div>
                        <p class="furniture-item-name">Lawn Chair </p>
                        <img src="\common\images_of_payit_home/Snapdeal.png" width="100" style="position: absolute;width: 103px;height: 74px;margin-top: -98px;margin-left: 12px;opacity: 0.7; "/>
                        <p><span class="real-price-span">Rs3,699</span> <span class="price-span"><del>Rs4,200</del></span></p>
                      </div>
                      <div class="col-sm-4 furniture-image-div-inside1">
                        <div id="mainwrapper">
                          <div id="box-6" class="box">
                            <img id="image-6" src="../common/images_of_payit_home/lap.png" width="100%" />
                            <span class="caption scale-caption caption4">
                              <a href="http://www.amazon.in/Folding-Office-Laptop-Dining-Reading/dp/B00L7SATGO/ref=sr_1_48?s=kitchen&amp;ie=UTF8&amp;qid=1459335198&amp;sr=1-48&amp;keywords=furniture" target="_blank">
                              <h3>GRAB THE DEAL</h3>
                            </a>
                            </span>
                          </div>
                        </div>
                        <p class="furniture-item-name">Laptop Table</p>
                        <img src="\common\images_of_payit_home/amag.png" width="100" style="position: absolute;width: 103px;height: 74px;margin-top: -98px;margin-left: 21px;opacity: 0.7; "/>
                        <p><span class="real-price-span">Rs878</span> <span class="price-span"><del>Rs1,780</del></span></p>
                      </div>
                      <div class="col-sm-4">
                        <div id="mainwrapper">
                          <div id="box-6" class="box">
                            <img id="image-6" src="../common/images_of_payit_home/wallself.png" width="100%" />
                            <span class="caption scale-caption caption4">
                              <a href="http://www.amazon.in/USHA-Furniture-Globe-Shape-Shelf-/dp/B01757DGQA/ref=sr_1_97?s=kitchen&amp;ie=UTF8&amp;qid=1459338333&amp;sr=1-97&amp;keywords=furniture" target="_blank">
                              <h3>GRAB THE DEAL</h3>
                            </a>
                            </span>
                          </div>
                        </div>
                        <p class="furniture-item-name">Wall Shelf</p>
                        <img src="\common\images_of_payit_home/amag.png" width="100" style="position: absolute;width: 103px;height: 74px;margin-top: -98px;margin-left: 21px;opacity: 0.7; "/>
                        <p><span class="real-price-span">Rs1,699</span> <span class="price-span"><del>Rs3,500</del></span></p>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>



    <!-- Furniture Item CSS End -->
