<div class="col-md-3">
            <!--  <input type="text" class="form-control" id="inputEmail" placeholder="Select Operator"/> -->
<span class="input_spl input--hoshi">

          <!-- <input class="input__field input__fieldhoshi" type="text" id="input-4" /> -->
            <select  class="input__field input__field--hoshi" aria-label="ngSelected demo">
              <option value="" disabled="disabled"  selected="selected"><span style="color:#dddddd"></span></option>
                            <option  value="43" >BSES Rajdhani Power Limited - Delhi</option>
                           <option value="44">BSES Yamuna Power Limited - Delhi</option>
                           <option value="45">Tata Power Delhi Limited - Delhi</option>
                           <option value="46">Reliance Energy Limited</option>
                           <option value="52">North Bihar Electricity</option>
                           <option value="53">South Bihar Electricity</option>
                           <option value="54">Best Electricity - Mumbai</option>
                           
                        </select>
          <label class="input__label input__label--hoshi input__label--hoshi-color-1" for="input-4">
            <span class="input__label-content input__label-content--hoshi">Select Electric Board</span>
          </label>
        </span>
           
           </div>
           <div class="col-md-3">
            <!--  <input type="text" class="form-control" id="inputEmail" placeholder="Select Operator"/> -->
            <span class="input_spl input--hoshi">

          <!-- <input class="input__field input__fieldhoshi" type="text" id="input-4" /> -->
            <select  class="input__field input__field--hoshi" aria-label="ngSelected demo">
              <option value="" disabled="disabled"  selected="selected"><span style="color:#dddddd"></span></option>
                            <option  value="1">Andhra Pradesh</option>
                           <option value="2">Assam</option>
                           <option value="3">Bihar &amp; Jharkhand</option>
                           <option value="4">Chennai</option>
                           <option value="5">Delhi</option>
                           <option value="6">Gujarat</option>
                           <option value="7">Haryana</option>
                           <option value="8">Himachal Pradesh</option>
                           <option value="9">Jammu &amp; Kashmir</option>
                           <option value="10">Karnataka</option>
                           <option value="11">Kerala</option>
                           <option value="12">Kolkata</option>
                           <option value="13">Maharashtra &amp; Goa (except Mumbai)</option>
                           <option value="14">Madhya Pradesh &amp; Chhattisgarh</option>
                           <option value="15">Mumbai</option>
                           <option value="16">North East</option>
                           <option value="17">Orissa</option>
                           <option value="18">Punjab</option>
                            <option value="19">Rajasthan</option>
                           <option value="20">Tamil Nadu</option>
                           <option value="21">Uttar Pradesh - East</option>
                           <option value="22">Uttar Pradesh - West</option>
                            <option value="23">West Bengal</option>
                           
                        </select>
          <label class="input__label input__label--hoshi input__label--hoshi-color-1" for="input-4">
            <span class="input__label-content input__label-content--hoshi">Location</span>
          </label>
        </span>
            
           </div>

           
           <div class="col-md-2">
            

             <span class="input_spl input--hoshi">
          <input class="input__field input__field--hoshi" type="text" id="input-4" />
          <label class="input__label input__label--hoshi input__label--hoshi-color-1" for="input-4">
            <span class="input__label-content input__label-content--hoshi">Consumer Number</span>
          </label>
        </span>
           </div>
          
           <div class="col-md-2 btn-mg">
           
             <button type="submit" class="btn btn-proceed">Proceed</button>
           </div>

<!-- <div class="col-lg-12" style="background:#aaa;">Your service provider will take two working days to consider bill paid in their accounts.</div> -->