
    <!-- Digital Items -->


    <div class="digital">
      <div class="container digital-contai-div">
        <div class="row">
          <div class="col-sm-3 digital-div">
            <div class="digital-head">
              DIGITALS
            </div>
            <ul>
              <li><a href="#">The Perfect Tablet Selfie</a></li>
              <li><a href="#">Laptop Batteries</a></li>
              <li><a href="#">OTG flash Drives</a></li>
              <li><a href="#">Smart</a></li>
              <li><a href="#">Mouse</a></li>
              <li><a href="#">Keyboard</a></li>
              <li><a href="#">SSD</a></li>
              <li><a href="#">Tenda Router</a></li>
              <li><a href="#">3D Printer</a></li>
              <li><a href="#">Laser Pens</a></li>
              <li><a href="#">Gaming</a></li>
            </ul>
          </div>
          <div class="col-sm-9 digital-div2">
            <div>
              <ul class="nav nav-tabs navt">
                <li class="active"><a data-toggle="tab" href="#d-i1">Best Seller</a></li>
                <li><a data-toggle="tab" href="#d-i2">Most Viewed</a></li>
                <li><a data-toggle="tab" href="#d-i3">Specials</a></li>
                <li><a data-toggle="tab" href="#d-i4">New Arrivals</a></li>
                <li class="digital-arrows">
                  <a href="#">
                    <img src="../common/images_of_payit_home/1458135634_arrow-up-01.png" width="10%" style="float: right;"/>
                  </a>
                  <a href="#">
                    <img src="../common/images_of_payit_home/1458135604_arrow-down-01.png" width="10%" style="float: right;display: block;margin-top: -5px;"/>
                  </a>
                </li>
              </ul>
              <div class="tab-content">
                <div id="d-i1" class="tab-pane fade in active">
                  <div class="row">
                    <div class="col-sm-5">
                      <img src="../common/images_of_payit_home/ca0ae2e179efd08ced09bebeb8055a6b_banner6.jpg" width="98%" />
                    </div>
                    <div class="col-sm-7 digital-image-div">
                      <div class="col-sm-4 digital-image-div-inside1">
                        <div id="mainwrapper">
                          <div id="box-6" class="box">
                            <img id="image-6" src="../common/images_of_payit_home/moto.png" width="100%" />
                            <span class="caption scale-caption">
                              <a href="http://www.amazon.in/Moto-3rd-Generation-Black-16GB/dp/B013EIM5G6/ref=sr_1_1?s=electronics&amp;ie=UTF8&amp;qid=1459263323&amp;sr=1-1&amp;keywords=moto+g+3rd+generation+mobile" target="_blank">
                              <h3>GRAB THE DEAL</h3>
                            </a>
                            </span>
                          </div>
                        </div>
                        <p class="digital-item-name">Moto G</p>
                        <img src="\common\images_of_payit_home/amag.png" width="100" style="position: absolute;width: 103px;height: 74px;margin-top: -98px;margin-left: 21px;opacity: 0.7; "/>
                        <p><span class="real-price-span">Rs9,999</span> <span class="price-span"><del>Rs10,999</del></span></p>
                      </div>
                      <div class="col-sm-4 digital-image-div-inside1">
                        <div id="mainwrapper">
                          <div id="box-6" class="box">
                            <img id="image-6" src="../common/images_of_payit_home/iphone.png" width="100%" />
                            <span class="caption scale-caption">
                              <a href="http://www.flipkart.com/apple-iphone-5s/p/itme8ra4f4twtsva?pid=MOBDPPZZPXVDJHSQ&amp;al=0FJmNeg71D1PDppZGZqjkMldugMWZuE7Qdj0IGOOVqvIkJavrmo6pFSRsLDT0Qx6tolG94KUFtg%3D&amp;ref=L%3A-4223783556433425718&amp;srno=p_1&amp;query=iphone+5s&amp;otracker=from-search" target="_blank">
                              <h3>GRAB THE DEAL</h3>
                            </a>
                            </span>
                          </div>
                        </div>
                        <p class="fashion-item-name">iPhone</p>
                        <img src="\common\images_of_payit_home/flip logo.png" width="100" style=" position: absolute;width: 103px;height: 74px;margin-top: -92px;margin-left: 19px;opacity: 0.7;"/>
                        <p><span class="real-price-span">Rs19,699</span> <span class="price-span"><del>Rs21,900</del></span></p>
                      </div>
                      <div class="col-sm-4">
                        <div id="mainwrapper">
                          <div id="box-6" class="box">
                            <img id="image-6" src="../common/images_of_payit_home/lapt.png" width="100%" />
                            <span class="caption scale-caption">
                              <a href="http://www.flipkart.com/hp-mu06-long-life-battery/p/itmd88xkjzudnqpg?pid=ACCD88U5DVJSKEZH&amp;al=0FJmNeg71D2H6Iih%2B8UP18ldugMWZuE7sHPMhtl4IOrKWe2N2BXIQwXDsALLhbeDTC79Kyoj4r8%3D&amp;ref=L%3A-3897322697424616136&amp;srno=p_13&amp;query=laptop+battery&amp;otracker=from-search" target="_blank">
                              <h3>GRAB THE DEAL</h3>
                            </a>
                            </span>
                          </div>
                        </div>
                        <p class="fashion-item-name">Laptop Batterie</p>
                        <img src="\common\images_of_payit_home/flip logo.png" width="100" style=" position: absolute;width: 103px;height: 74px;margin-top: -92px;margin-left: 19px;opacity: 0.7;"/>
                        <p><span class="real-price-span">Rs2,400</span> <span class="price-span"><del>Rs4,449</del></span></p>
                      </div>
                    </div>
                    <div class="col-sm-7 digital-image-div1">
                      <div class="col-sm-4 digital-image-div-inside1">
                        <div id="mainwrapper">
                          <div id="box-6" class="box">
                            <img id="image-6" src="../common/images_of_payit_home/keyboard.png" width="100%" />
                            <span class="caption scale-caption">
                              <a href="http://www.snapdeal.com/product/terabyte-usb-keyboard/665808583298#bcrumbSearch:|bcrumbLabelId:152" target="_blank">
                              <h3>GRAB THE DEAL</h3>
                            </a>
                            </span>
                          </div>
                        </div>
                        <p class="digital-item-name">Keyboard</p>
                        <img src="\common\images_of_payit_home/Snapdeal.png" width="100" style="position: absolute;width: 103px;height: 74px;margin-top: -98px;margin-left: 12px;opacity: 0.7; "/>
                        <p><span class="real-price-span">Rs379</span> <span class="price-span"><del>Rs499</del></span></p>
                      </div>
                      <div class="col-sm-4 digital-image-div-inside1">
                        <div id="mainwrapper">
                          <div id="box-6" class="box">
                            <img id="image-6" src="../common/images_of_payit_home/printers.png" width="100%" />
                            <span class="caption scale-caption">
                              <a href="http://www.snapdeal.com/product/epson-l565-multifunction-wireless-inkjet/673088016205#bcrumbSearch:printer" target="_blank">
                              <h3>GRAB THE DEAL</h3>
                            </a>
                            </span>
                          </div>
                        </div>
                        <p class="digital-item-name">Printer</p>
                        <img src="\common\images_of_payit_home/Snapdeal.png" width="100" style="position: absolute;width: 103px;height: 74px;margin-top: -98px;margin-left: 12px;opacity: 0.7; "/>
                        <p><span class="real-price-span">Rs16,099</span> <span class="price-span"><del>Rs17,999</del></span></p>
                      </div>
                      <div class="col-sm-4">
                        <div id="mainwrapper">
                          <div id="box-6" class="box">
                            <img id="image-6" src="../common/images_of_payit_home/laser.png" width="100%" />
                            <span class="caption scale-caption">
                              <a href="http://www.amazon.in/532nm-Astronomy-Mid-open-Green-Pointer/dp/B00O8NVK6I/ref=sr_1_1?ie=UTF8&amp;qid=1459266170&amp;sr=8-1&amp;keywords=laser+pen" target="_blank">
                              <h3>GRAB THE DEAL</h3>
                            </a>
                            </span>
                          </div>
                        </div>
                        <p class="digital-item-name">Laser Pen</p>
                        <img src="\common\images_of_payit_home/amag.png" width="100" style="position: absolute;width: 103px;height: 74px;margin-top: -98px;margin-left: 21px;opacity: 0.7; "/>
                        <p><span class="real-price-span">Rs310</span> <span class="price-span"><del>Rs380</del></span></p>
                      </div>
                    </div>
                  </div>
                </div>
                <div id="d-i2" class="tab-pane fade">
                  <div class="row">
                    <div class="col-sm-5">
                      <img src="../common/images_of_payit_home/ca0ae2e179efd08ced09bebeb8055a6b_banner6.jpg" width="98%"/>
                    </div>
                    <div class="col-sm-7 digital-image-div">
                      <div class="col-sm-4 digital-image-div-inside1">
                        <div id="mainwrapper">
                          <div id="box-6" class="box">
                            <img id="image-6" src="../common/images_of_payit_home/sony.png" width="100%" />
                            <span class="caption scale-caption">
                              <a href="http://www.snapdeal.com/product/sony-xperia-m-dual-black/871379975#bcrumbSearch:|bcrumbLabelId:175" target="_blank">
                              <h3>GRAB THE DEAL</h3>
                            </a>
                            </span>
                          </div>
                        </div>
                        <p class="digital-item-name">Sony Xperia</p>
                        <img src="\common\images_of_payit_home/Snapdeal.png" width="100" style="position: absolute;width: 103px;height: 74px;margin-top: -98px;margin-left: 12px;opacity: 0.7; "/>
                        <p><span class="real-price-span">Rs6,990</span> <span class="price-span"><del>Rs11,990</del></span></p>
                      </div>
                      <div class="col-sm-4 digital-image-div-inside1">
                        <div id="mainwrapper">
                          <div id="box-6" class="box">
                            <img id="image-6" src="../common/images_of_payit_home/samg.png" width="100%" />
                            <span class="caption scale-caption">
                              <a href="http://www.snapdeal.com/product/samsung-j5-8gb-espresso-brown/659785514599#bcrumbSearch:|bcrumbLabelId:175" target="_blank">
                              <h3>GRAB THE DEAL</h3>
                            </a>
                            </span>
                          </div>
                        </div>
                        <p class="fashion-item-name">Samsung J5</p>
                         <img src="\common\images_of_payit_home/Snapdeal.png" width="100" style="position: absolute;width: 103px;height: 74px;margin-top: -98px;margin-left: 12px;opacity: 0.7; "/>
                        <p><span class="real-price-span">Rs11,390</span> <span class="price-span"><del>Rs13,250</del></span></p>
                      </div>
                      <div class="col-sm-4">
                        <div id="mainwrapper">
                          <div id="box-6" class="box">
                            <img id="image-6" src="../common/images_of_payit_home/tablet.png" width="100%" />
                            <span class="caption scale-caption">
                              <a href="http://www.snapdeal.com/product/iball-andi-45m-enigma-mobilethe/1173780881#bcrumbSearch:The%20Perfect%20Tablet%20Selfie" target="_blank">
                              <h3>GRAB THE DEAL</h3>
                            </a>
                            </span>
                          </div>
                        </div>
                        <p class="fashion-item-name">Tablet</p>
                         <img src="\common\images_of_payit_home/Snapdeal.png" width="100" style="position: absolute;width: 103px;height: 74px;margin-top: -98px;margin-left: 12px;opacity: 0.7; "/>
                        <p><span class="real-price-span">Rs6,499</span> <span class="price-span"><del>Rs8,499</del></span></p>
                      </div>
                    </div>
                    <div class="col-sm-7 digital-image-div1">
                      <div class="col-sm-4 digital-image-div-inside1">
                        <div id="mainwrapper">
                          <div id="box-6" class="box">
                            <img id="image-6" src="../common/images_of_payit_home/rout.png" width="100%" />
                            <span class="caption scale-caption">
                              <a href="http://www.snapdeal.com/product/iball-150m-wirelessn-broadband-router/1001470545#bcrumbSearch:Tender%20Router" target="_blank">
                              <h3>GRAB THE DEAL</h3>
                            </a>
                            </span>
                          </div>
                        </div>
                        <p class="digital-item-name">Router</p>
                         <img src="\common\images_of_payit_home/Snapdeal.png" width="100" style="position: absolute;width: 103px;height: 74px;margin-top: -98px;margin-left: 12px;opacity: 0.7; "/>
                        <p><span class="real-price-span">Rs749</span> <span class="price-span"><del>Rs1,299</del></span></p>
                      </div>
                      <div class="col-sm-4 digital-image-div-inside1">
                        <div id="mainwrapper">
                          <div id="box-6" class="box">
                            <img id="image-6" src="../common/images_of_payit_home/laser.png" width="100%" />
                            <span class="caption scale-caption">
                              <a href="http://www.amazon.in/532nm-Astronomy-Mid-open-Green-Pointer/dp/B00O8NVK6I/ref=sr_1_1?ie=UTF8&amp;qid=1459266170&amp;sr=8-1&amp;keywords=laser+pen" target="_blank">
                              <h3>GRAB THE DEAL</h3>
                            </a>
                            </span>
                          </div>
                        </div>
                        <p class="digital-item-name">Laser Pen</p>
                        <img src="\common\images_of_payit_home/amag.png" width="100" style="position: absolute;width: 103px;height: 74px;margin-top: -98px;margin-left: 21px;opacity: 0.7; "/>
                        <p><span class="real-price-span">Rs310</span> <span class="price-span"><del>Rs380</del></span></p>
                      </div>
                      <div class="col-sm-4">
                        <div id="mainwrapper">
                          <div id="box-6" class="box">
                            <img id="image-6" src="../common/images_of_payit_home/keyboard.png" width="100%" />
                            <span class="caption scale-caption">
                              <a href="http://www.snapdeal.com/product/terabyte-usb-keyboard/665808583298#bcrumbSearch:|bcrumbLabelId:152" target="_blank">
                              <h3>GRAB THE DEAL</h3>
                            </a>
                            </span>
                          </div>
                        </div>
                        <p class="digital-item-name">Keyboard</p>
                        <img src="\common\images_of_payit_home/Snapdeal.png" width="100" style="position: absolute;width: 103px;height: 74px;margin-top: -98px;margin-left: 12px;opacity: 0.7; "/>
                        <p><span class="real-price-span">Rs379</span> <span class="price-span"><del>Rs499</del></span></p>
                      </div>
                    </div>
                  </div>
                </div>
                <div id="d-i3" class="tab-pane fade">
                  <div class="row">
                    <div class="col-sm-5">
                      <img src="../common/images_of_payit_home/ca0ae2e179efd08ced09bebeb8055a6b_banner6.jpg" width="98%"/>
                    </div>
                    <div class="col-sm-7 digital-image-div">
                      <div class="col-sm-4 digital-image-div-inside1">
                        <div id="mainwrapper">
                          <div id="box-6" class="box">
                            <img id="image-6" src="../common/images_of_payit_home/mouse.png" width="100%" />
                            <span class="caption scale-caption">
                              <a href="http://www.snapdeal.com/product/logitech-wireless-mouse-m235-red/629534427329#bcrumbSearch:|bcrumbLabelId:151" target="_blank">
                              <h3>GRAB THE DEAL</h3>
                            </a>
                            </span>
                          </div>
                        </div>
                        <p class="digital-item-name">Mouse</p>
                        <img src="\common\images_of_payit_home/Snapdeal.png" width="100" style="position: absolute;width: 103px;height: 74px;margin-top: -87px;margin-left: 12px;opacity: 0.7; "/>
                        <p><span class="real-price-span">Rs599</span> <span class="price-span"><del>Rs795</del></span></p>
                      </div>
                      <div class="col-sm-4 digital-image-div-inside1">
                        <div id="mainwrapper">
                          <div id="box-6" class="box">
                            <img id="image-6" src="../common/images_of_payit_home/sd.png" width="100%" />
                            <span class="caption scale-caption">
                              <a href="http://www.snapdeal.com/product/toshiba-micro-exceria-uhs1-u3/632173015366#bcrumbSearch:|bcrumbLabelId:228" target="_blank">
                              <h3>GRAB THE DEAL</h3>
                            </a>
                            </span>
                          </div>
                        </div>
                        <p class="fashion-item-name">Micro Card</p>
                        <img src="\common\images_of_payit_home/Snapdeal.png" width="100" style="position: absolute;width: 103px;height: 74px;margin-top: -98px;margin-left: 12px;opacity: 0.7; "/>
                        <p><span class="real-price-span">Rs4,711</span> <span class="price-span"><del>Rs4,715</del></span></p>
                      </div>
                      <div class="col-sm-4">
                        <div id="mainwrapper">
                          <div id="box-6" class="box">
                            <img id="image-6" src="../common/images_of_payit_home/rout.png" width="100%" />
                            <span class="caption scale-caption">
                              <a href="http://www.snapdeal.com/product/iball-150m-wirelessn-broadband-router/1001470545#bcrumbSearch:Tender%20Router" target="_blank">
                              <h3>GRAB THE DEAL</h3>
                            </a>
                            </span>
                          </div>
                        </div>
                        <p class="fashion-item-name">Router</p>
                        <img src="\common\images_of_payit_home/Snapdeal.png" width="100" style="position: absolute;width: 103px;height: 74px;margin-top: -98px;margin-left: 12px;opacity: 0.7; "/>
                        <p><span class="real-price-span">Rs749</span> <span class="price-span"><del>Rs1,299</del></span></p>
                      </div>
                    </div>
                    <div class="col-sm-7 digital-image-div1">
                      <div class="col-sm-4 digital-image-div-inside1">
                        <div id="mainwrapper">
                          <div id="box-6" class="box">
                            <img id="image-6" src="../common/images_of_payit_home/Graming.png" width="100%" />
                            <span class="caption scale-caption">
                              <a href="http://www.snapdeal.com/product/grand-classic-4gb-3d-gaming/649297049117#bcrumbSearch:Gaming" target="_blank">
                              <h3>GRAB THE DEAL</h3>
                            </a>
                            </span>
                          </div>
                        </div>
                        <p class="digital-item-name">Gaming</p>
                        <img src="\common\images_of_payit_home/Snapdeal.png" width="100" style="position: absolute;width: 103px;height: 74px;margin-top: -98px;margin-left: 12px;opacity: 0.7; "/>
                        <p><span class="real-price-span">Rs1,880</span> <span class="price-span"><del>Rs2,999</del></span></p>
                      </div>
                      <div class="col-sm-4 digital-image-div-inside1">
                        <div id="mainwrapper">
                          <div id="box-6" class="box">
                            <img id="image-6" src="../common/images_of_payit_home/pen.png" width="100%" />
                            <span class="caption scale-caption">
                              <a href="http://www.snapdeal.com/product/transcend-jetflash-340-32-gb/1240091541#bcrumbSearch:OTG%20flash%20Drives" target="_blank">
                              <h3>GRAB THE DEAL</h3>
                            </a>
                            </span>
                          </div>
                        </div>
                        <p class="digital-item-name">Pen Drive</p>
                        <img src="\common\images_of_payit_home/Snapdeal.png" width="100" style="position: absolute;width: 103px;height: 74px;margin-top: -98px;margin-left: 12px;opacity: 0.7; "/>
                        <p><span class="real-price-span">Rs849</span> <span class="price-span"><del>Rs1,299 </del></span></p>
                      </div>
                      <div class="col-sm-4">
                        <div id="mainwrapper">
                          <div id="box-6" class="box">
                            <img id="image-6" src="../common/images_of_payit_home/tablet.png" width="100%" />
                            <span class="caption scale-caption">
                              <a href="http://www.snapdeal.com/product/iball-andi-45m-enigma-mobilethe/1173780881#bcrumbSearch:The%20Perfect%20Tablet%20Selfie" target="_blank">
                              <h3>GRAB THE DEAL</h3>
                            </a>
                            </span>
                          </div>
                        </div>
                        <p class="digital-item-name">Tablet</p>
                        <img src="\common\images_of_payit_home/Snapdeal.png" width="100" style="position: absolute;width: 103px;height: 74px;margin-top: -93px;margin-left: 12px;opacity: 0.7; "/>
                        <p><span class="real-price-span">Rs6,499 </span> <span class="price-span"><del>Rs8,499</del></span></p>
                      </div>
                    </div>
                  </div>
                </div>
                <div id="d-i4" class="tab-pane fade">
                  <div class="row">
                    <div class="col-sm-5">
                      <img src="../common/images_of_payit_home/ca0ae2e179efd08ced09bebeb8055a6b_banner6.jpg" width="98%"/>
                    </div>
                    <div class="col-sm-7 digital-image-div">
                      <div class="col-sm-4 digital-image-div-inside1">
                        <div id="mainwrapper">
                          <div id="box-6" class="box">
                            <img id="image-6" src="../common/images_of_payit_home/cordless.png" width="100%" />
                            <span class="caption scale-caption">
                              <a href="http://www.flipkart.com/gigaset-a530-cordless-landline-phone/p/itme9kfxepkfacbv?pid=LANEAJNVGQTBQCHW&amp;al=QCbnBOGsyXFfS5GTX0exncldugMWZuE7z98Aw4tk5EKTpSdCB4hgS3pF4Y1GhhB7fFA67sunuLI%3D&amp;amp;ref=L%3A-2573152396562971534&amp;srno=p_6&amp;query=land+line&amp;otracker=from-search" target="_blank">
                              <h3>GRAB THE DEAL</h3>
                            </a>
                            </span>
                          </div>
                        </div>
                        <p class="digital-item-name">Cordless</p>
                        <img src="\common\images_of_payit_home/flip logo.png" width="100" style=" position: absolute;width: 103px;height: 74px;margin-top: -92px;margin-left: 19px;opacity: 0.7;"/>
                        <p><span class="real-price-span">Rs2,199</span> <span class="price-span"><del>Rs2,399</del></span></p>
                      </div>
                      <div class="col-sm-4 digital-image-div-inside1">
                        <div id="mainwrapper">
                          <div id="box-6" class="box">
                            <img id="image-6" src="../common/images_of_payit_home/Land.png" width="100%" />
                            <span class="caption scale-caption">
                              <a href="http://www.snapdeal.com/product/binatone-concept-700/144125716#bcrumbSearch:Landline" target="_blank">
                              <h3>GRAB THE DEAL</h3>
                            </a>
                            </span>
                          </div>
                        </div>
                        <p class="fashion-item-name">Landline Phone</p>
                        <img src="\common\images_of_payit_home/Snapdeal.png" width="100" style="position: absolute;width: 103px;height: 74px;margin-top: -98px;margin-left: 12px;opacity: 0.7; "/>
                        <p><span class="real-price-span">Rs699 </span> <span class="price-span"><del>Rs795</del></span></p>
                      </div>
                      <div class="col-sm-4">
                        <div id="mainwrapper">
                          <div id="box-6" class="box">
                            <img id="image-6" src="../common/images_of_payit_home/key.png" width="100%" />
                            <span class="caption scale-caption">
                              <a href="http://www.amazon.in/Intex-Eco-102e-Grey/dp/B013P2C930/ref=sr_1_1?ie=UTF8&amp;qid=1459313544&amp;sr=8-1&amp;keywords=basic+mobile+phones" target="_blank">
                              <h3>GRAB THE DEAL</h3>
                            </a>
                            </span>
                          </div>
                        </div>
                        <p class="fashion-item-name">Keypard Phone</p>
                        <img src="\common\images_of_payit_home/amag.png" width="100" style="position: absolute;width: 103px;height: 74px;margin-top: -98px;margin-left: 21px;opacity: 0.7; "/>
                        <p><span class="real-price-span">Rs679</span> <span class="price-span"><del>Rs999</del></span></p>
                      </div>
                    </div>
                    <div class="col-sm-7 digital-image-div1">
                      <div class="col-sm-4 digital-image-div-inside1">
                        <div id="mainwrapper">
                          <div id="box-6" class="box">
                            <img id="image-6" src="../common/images_of_payit_home/samg.png" width="100%" />
                            <span class="caption scale-caption">
                              <a href="http://www.snapdeal.com/product/samsung-j5-8gb-espresso-brown/659785514599#bcrumbSearch:|bcrumbLabelId:175" target="_blank">
                              <h3>GRAB THE DEAL</h3>
                            </a>
                            </span>
                          </div>
                        </div>
                        <p class="digital-item-name">Samsung J5</p>
                        <img src="\common\images_of_payit_home/Snapdeal.png" width="100" style="position: absolute;width: 103px;height: 74px;margin-top: -98px;margin-left: 12px;opacity: 0.7; "/>
                        <p><span class="real-price-span"> Rs11,390</span> <span class="price-span"><del>Rs13,250</del></span></p>
                      </div>
                      <div class="col-sm-4 digital-image-div-inside1">
                        <div id="mainwrapper">
                          <div id="box-6" class="box">
                            <img id="image-6" src="../common/images_of_payit_home/micro.png" width="100%" />
                            <span class="caption scale-caption">
                              <a href="http://www.amazon.in/Micromax-Canvas-Juice-AQ5001-Silver/dp/B00UTKPKHY/ref=sr_1_1?ie=UTF8&amp;qid=1459316917&amp;sr=8-1&amp;keywords=micro+max+phone" target="_blank">
                              <h3>GRAB THE DEAL</h3>
                            </a>
                            </span>
                          </div>
                        </div>
                        <p class="digital-item-name">Micromax</p>
                        <img src="\common\images_of_payit_home/amag.png" width="100" style="position: absolute;width: 103px;height: 74px;margin-top: -98px;margin-left: 21px;opacity: 0.7; "/>
                        <p><span class="real-price-span">Rs6,099</span> <span class="price-span"><del>Rs8,999</del></span></p>
                      </div>
                      <div class="col-sm-4">
                        <div id="mainwrapper">
                          <div id="box-6" class="box">
                            <img id="image-6" src="../common/images_of_payit_home/sony.png" width="100%" />
                            <span class="caption scale-caption">
                              <a href="http://www.snapdeal.com/product/sony-xperia-m-dual-black/871379975#bcrumbSearch:|bcrumbLabelId:175" target="_blank">
                              <h3>GRAB THE DEAL</h3>
                            </a>
                            </span>
                          </div>
                        </div>
                        <p class="digital-item-name">Sony Xperia</p>
                        <img src="\common\images_of_payit_home/Snapdeal.png" width="100" style="position: absolute;width: 103px;height: 74px;margin-top: -98px;margin-left: 12px;opacity: 0.7; "/>
                        <p><span class="real-price-span">Rs6,990</span> <span class="price-span"><del>Rs11,990</del></span></p>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>


    <!-- Digital Item End -->
