

  <!-- Women Fashion -->

    <div class="wfashion">
      <div class="container wfashion-contai-div">
        <div class="row">
          <div class="col-sm-3 wfashion-div">
            <div class="wfashion-head">
              WOMENS FASHION
            </div>
            <ul>
              <li><a href="#">Summer Dresses</a></li>
              <li><a href="#">Casia Dresses</a></li>
              <li><a href="#">Skirts</a></li>
              <li><a href="#">Blouses</a></li>
              <li><a href="#">Jump Suits</a></li>
              <li><a href="#">Jackets</a></li>
              <li><a href="#">T-Shirts</a></li>
              <li><a href="#">Bikinis</a></li>
              <li><a href="#">Sunglasses</a></li>
              <li><a href="#">Scarves</a></li>
              <li><a href="#">Hair Accessories</a></li>
            </ul>
          </div>
          <div class="col-sm-9 wfashion-div2">
            <div>
              <ul class="nav nav-tabs navt">
                <li class="active"><a data-toggle="tab" href="#w-f1">Best Seller</a></li>
                <li><a data-toggle="tab" href="#w-f2">Most Viewed</a></li>
                <li><a data-toggle="tab" href="#w-f3">Specials</a></li>
                <li><a data-toggle="tab" href="#w-f4">New Arrivals</a></li>
                <li class="wfashion-arrows">
                  <a href="#">
                    <img src="../common/images_of_payit_home/1458135634_arrow-up-01.png" width="10%" style="float: right;"/>
                  </a>
                  <a href="#">
                    <img src="../common/images_of_payit_home/1458135604_arrow-down-01.png" width="10%" style="float: right;display: block;margin-top: -5px;"/>
                  </a>
                </li>
              </ul>
              <div class="tab-content">
                <div id="w-f1" class="tab-pane fade in active">
                  <div class="row">
                    <div class="col-sm-5">
                      <img src="../common/images_of_payit_home/payiteasy-new.jpg" width="98%" />
                    </div>
                    <div class="col-sm-7 wfashion-image-div">
                      <div class="col-sm-4 wfashion-image-div-inside1">
                        <div id="mainwrapper">
                          <div id="box-6" class="box">
                            <a href="">
                             <img id="image-6" src="../common/images_of_payit_home/fashon.png" width="100%" />
                            </a>
                            <span class="caption scale-caption caption3">
                      
                                <a href="http://www.flipkart.com/fashion-world-01-georgette-embroidered-semi-stitched-salwar-suit-dupatta-material/p/itmeb34navwcsgdh?pid=FABEB34NFFAQRHDZ&amp;ref=L%3A-464546107508375175&amp;srno=p_13&amp;query=women+fashion&amp;otracker=from-search" target="_blank">
                                <h3>GRAB THE DEAL</h3>
                              </a>
                      
                            </span>
                          </div>
                        </div>
                        <p class="wfashion-item-name">Dupatta Material</p>
                        <img src="common\images_of_payit_home/flip logo.png" width="100%" style="position: absolute;width: 103px;height: 74px;margin-top: -98px;margin-left: 23px;opacity: 0.6;"/>
                        <p><span class="real-price-span">Rs349</span> <span class="price-span"><del>Rs1,599</del></span></p>
                        <div class="ram hide">
                          <a href="">
                                <h3>GRAB THE DEAL</h3>
                              </a>
                        </div>
                      </div>
                      <div class="col-sm-4 wfashion-image-div-inside1">
                        <div id="mainwrapper">
                          <div id="box-6" class="box">
                            <img id="image-6" src="../common/images_of_payit_home/fashon1.png" width="100%" />
                            <span class="caption scale-caption caption3">
                              <a href="http://www.flipkart.com/radhecreation-embriodered-bollywood-georgette-sari/p/itmeemzcfgn68pz5?pid=SAREEMZCHA5NTQTB&amp;ref=L%3A-464546107508375175&amp;srno=p_11&amp;query=women+fashion&amp;otracker=from-search" target="_blank">
                                <h3>GRAB THE DEAL</h3>
                              </a>
                            </span>
                          </div>
                        </div>
                        <p class="fashion-item-name">Georgette Sari</p>
                        <img src="common\images_of_payit_home/flip logo.png" width="100%"  style="position: absolute;width: 103px;height: 74px;margin-top: -98px;margin-left: 23px;opacity: 0.6;"/>
                        <p><span class="real-price-span">Rs555</span> <span class="price-span"><del>Rs1,999</del></span></p>
                      </div>
                      <div class="col-sm-4 wfashion-image-div-inside2">
                        <div id="mainwrapper">
                          <div id="box-6" class="box">
                            <img id="image-6" src="../common/images_of_payit_home/salwar.png" width="100%" />
                            <span class="caption scale-caption caption3">
                              <a href="http://www.flipkart.com/sanjana2swarupafashion-georgette-self-design-semi-stitched-salwar-suit-dupatta-material/p/itmeau6xev6n4db3?pid=FABEAU6XREYJEBGW&amp;ref=L%3A-464546107508375175&amp;srno=p_15&amp;query=women+fashion&amp;otracker=from-search" target="_blank">
                                <h3>GRAB THE DEAL</h3>
                              </a>
                            </span>
                          </div>
                        </div>
                        <p class="fashion-item-name">Salwar Suit</p>
                        <img src="common\images_of_payit_home/flip logo.png" width="100%" style="position: absolute;width: 103px;height: 74px;margin-top: -98px;margin-left: 23px;opacity: 0.6;"/>
                        <p><span class="real-price-span">Rs568</span> <span class="price-span"><del>Rs2,499</del></span></p>
                      </div>
                    </div>
                    <div class="col-sm-7 wfashion-image-div1">
                      <div class="col-sm-4 wfashion-image-div-inside1">
                        <div id="mainwrapper">
                          <div id="box-6" class="box">
                            <img id="image-6" src="../common/images_of_payit_home/women-scart.png" width="100%" />
                            <span class="caption scale-caption caption3">
                              <a href="http://www.flipkart.com/isweven-solid-nylon-women-s-scarf/p/itmebjh5aezsgjgu?pid=SCFEBJH5QU4CGZVM&amp;al=fOW7fgQ6vvJnfou%2Bx6vuFcldugMWZuE7eGHgUTGjVrrbw91e7%2BQ%2B2S6JXg4YvbMt45NkXxd06c8%3D&amp;ref=L%3A-2215572129293383782&amp;srno=p_28&amp;query=women+scarves&amp;otracker=from-search" target="_blank">
                                <h3>GRAB THE DEAL</h3>
                              </a>
                            </span>
                          </div>
                        </div>
                        <p class="wfashion-item-name">Women Scarf</p>
                        <img src="common\images_of_payit_home/flip logo.png" width="100%" style="position: absolute;width: 103px;height: 74px;margin-top: -98px;margin-left: 17px;opacity: 0.6;"/>
                         <p><span class="real-price-span">Rs999</span> <span class="price-span"><del>Rs1,299</del></span></p>
                      </div>
                      <div class="col-sm-4 wfashion-image-div-inside1">
                        <div id="mainwrapper">
                          <div id="box-6" class="box">
                            <img id="image-6" src="../common/images_of_payit_home/Skirt.jpg" width="100%" />
                            <span class="caption scale-caption caption3">
                              <a href="http://www.flipkart.com/decot-paradise-animal-print-women-s-regular-skirt/p/itmecbj9wvh7fzgk?pid=SKIECBJ9XG9ZRJZX&amp;ampref=L%3A4458365804712182667&amp;srno=p_2&amp;query=women+skirts&amp;otracker=from-search" target="_blank">
                                <h3>GRAB THE DEAL</h3>
                              </a>
                            </span>
                          </div>
                        </div>
                        <p class="wfashion-item-name">Skirt</p>
                        <img src="common\images_of_payit_home/flip logo.png" width="100%"  style="position: absolute;width: 120px;height: 84px;margin-left: 6px;margin-top: -100px;opacity: 0.6;"/>
                        <p><span class="real-price-span">Rs549</span> <span class="price-span"><del>Rs1,099</del></span></p>
                      </div>
                      <div class="col-sm-4">
                        <div id="mainwrapper">
                          <div id="box-6" class="box">
                            <img id="image-6" src="../common/images_of_payit_home/roundNext.png" width="100%" />
                            <span class="caption scale-caption caption3">
                              <a href="http://www.flipkart.com/only-graphic-print-women-s-round-neck-t-shirt/p/itmegfxwgrmygdrm?pid=TSHEGFXWKQYXQ5F8&amp;al=fOW7fgQ6vvJ0GTaX7xUkcsldugMWZuE7wkNiXfq8GiQZ0Feq%2Bq9lYHVK8%2BVWoGmyDeVBkT4I3YA%3D&amp;ref=L%3A-3373330594281668139&amp;srno=b_12" target="_blank">
                                <h3>GRAB THE DEAL</h3>
                              </a>
                            </span>
                          </div>
                        </div>
                        <p class="wfashion-item-name">Cotton Dress</p>
                        <img src="common\images_of_payit_home/flip logo.png" width="100%" style="position: absolute;width: 103px;height: 74px;margin-top: -98px;margin-left: 23px;opacity: 0.6;" />
                        <p><span class="real-price-span">Rs795</span> <span class="price-span"><del>Rs200</del></span></p>
                      </div>
                    </div>
                  </div>
                </div>
                <div id="w-f2" class="tab-pane fade">
                  <div class="row">
                    <div class="col-sm-5">
                      <img src="../common/images_of_payit_home/payiteasy-new.jpg" width="98%"/>
                    </div>
                    <div class="col-sm-7 wfashion-image-div">
                      <div class="col-sm-4 wfashion-image-div-inside1">
                        <div id="mainwrapper">
                          <div id="box-6" class="box">
                            <img id="image-6" src="../common/images_of_payit_home/fashon1.png" width="100%" />
                            <span class="caption scale-caption caption3">
                              <a href="http://www.flipkart.com/radhecreation-embriodered-bollywood-georgette-sari/p/itmeemzcfgn68pz5?pid=SAREEMZCHA5NTQTB&amp;ref=L%3A-464546107508375175&amp;srno=p_11&amp;query=women+fashion&amp;otracker=from-search" target="_blank">
                                <h3>GRAB THE DEAL</h3>
                              </a>
                            </span>
                          </div>
                        </div>
                        <p class="wfashion-item-name">Georgette Sari</p>
                       <img src="common\images_of_payit_home/flip logo.png" width="100%"  style=" position: absolute;width: 103px;height: 74px;margin-top: -98px;margin-left: 23px;opacity: 0.6;"/>
                        <p><span class="real-price-span">Rs555</span> <span class="price-span"><del>Rs1,999</del></span></p>
                        <div class="ram hide">
                          <a href="">
                                <h3>GRAB THE DEAL</h3>
                              </a>
                        </div>
                      </div>
                      <div class="col-sm-4 wfashion-image-div-inside1">
                        <div id="mainwrapper">
                          <div id="box-6" class="box">
                            <img id="image-6" src="../common/images_of_payit_home/jump.jpg" width="100%" />
                            <span class="caption scale-caption caption3">
                              <a href="http://www.flipkart.com/sukanyaa-solid-women-s-jumpsuit/p/itmefzv6wmyftwvp?pid=JUMEFZV8KTCUKKNX&amp;al=Dv7%2BnHgwkg2SnTHUsMm1TMldugMWZuE7%2FLHTI2SOE0Y4i%2Be33xnFPNPmTuggKjU%2FjBaBsVjXdHc%3D&amp;ref=L%3A-4453393682339246705&amp;srno=p_1&amp;query=jump+suits+for+women&amp;otracker=from-search" target="_blank">
                                <h3>GRAB THE DEAL</h3>
                              </a>
                            </span>
                          </div>
                        </div>
                        <p class="fashion-item-name">Jumpsuit</p>
                        <img src="common\images_of_payit_home/flip logo.png" width="100%"  style="position: absolute;width: 120px;height: 84px;margin-left: 6px;margin-top: -100px;opacity: 0.6;"/>
                        <p><span class="real-price-span">Rs699 </span> <span class="price-span"><del>Rs2,899</del></span></p>
                      </div>
                      <div class="col-sm-4 wfashion-image-div-inside2">
                        <div id="mainwrapper">
                          <div id="box-6" class="box">
                            <img id="image-6" src="../common/images_of_payit_home/jacket.png" width="100%" />
                            <span class="caption scale-caption caption3">
                              <a href="http://www.flipkart.com/neenus-full-sleeve-self-design-women-s-jacket/p/itmeezz8f9nesbqv?pid=JCKEEZZ8NKQXHGMR&amp;ref=L%3A7155976738323582073&amp;srno=p_2&amp;query=jakets+for+womene&amp;otracker=from-search" target="_blank">
                                <h3>GRAB THE DEAL</h3>
                              </a>
                            </span>
                          </div>
                        </div>
                        <p class="fashion-item-name">Jacket</p>
                        <img src="common\images_of_payit_home/flip logo.png" width="100%" style="position: absolute;width: 103px;height: 74px;margin-top: -94px;margin-left: 38px;opacity: 0.6;" />
                        <p><span class="real-price-span">Rs2,956</span> <span class="price-span"><del>Rs3,695</del></span></p>
                      </div>
                    </div>
                    <div class="col-sm-7 wfashion-image-div1">
                      <div class="col-sm-4 wfashion-image-div-inside1">
                        <div id="mainwrapper">
                          <div id="box-6" class="box">
                            <img id="image-6" src="../common/images_of_payit_home/vaseline.png" width="100%" />
                            <span class="caption scale-caption caption3">
                              <a href="http://www.flipkart.com/vaseline-cocoa-glow-24h-nourishing-cream/p/itmeefj92zphqwrg?pid=MSCEEFJ9SMQHUYQH&amp;al=wndRNf2JUoph6%2F%2BBxulsTcldugMWZuE7Qdj0IGOOVqu6B4SZJ9YEOJ4DqiaVYPrbAO%2FiFbWpC2k%3D&amp;ref=L%3A-85413377095677137&amp;srno=p_10&amp;query=women+vasline+cream&amp;otracker=from-search" target="_blank">
                                <h3>GRAB THE DEAL</h3>
                              </a>
                            </span>
                          </div>
                        </div>
                        <p class="wfashion-item-name">Vaseline cream</p>
                        <img src="common\images_of_payit_home/flip logo.png" width="100%" style=" position: absolute;width: 120px;height: 84px;margin-left: 6px;margin-top: -100px;opacity: 0.6;"/>
                        <p><span class="real-price-span">Rs1,499</span> <span class="price-span"><del>Rs2,000</del></span></p>
                      </div>
                      <div class="col-sm-4 wfashion-image-div-inside1">
                        <div id="mainwrapper">
                          <div id="box-6" class="box">
                            <img id="image-6" src="../common/images_of_payit_home/perfume.png" width="100%" />
                            <span class="caption scale-caption caption3">
                              <a href="http://www.flipkart.com/nike-casual-edt-75-ml/p/itmdthjej8pbavy5?pid=PERD8AYKASKDDYCK&amp;al=wndRNf2JUopYWd3LMgujjcldugMWZuE7JTWSsYnGIuW18U9TXqph76dykUIPAXYxwQ0Q2m1A%2Fbg%3D&amp;ref=L%3A6603219957415298989&amp;srno=b_29&amp;findingMethod=hp_header" target="_blank">
                                <h3>GRAB THE DEAL</h3>
                              </a>
                            </span>
                          </div>
                        </div>
                        <p class="wfashion-item-name">Perfume</p>
                        <img src="common\images_of_payit_home/flip logo.png" width="100%" style="position: absolute;width: 120px;height: 84px;margin-left: 6px;margin-top: -100px;opacity: 0.6;"/>
                        <p><span class="real-price-span">Rs589</span> <span class="price-span"><del>Rs699</del></span></p>
                      </div>
                      <div class="col-sm-4">
                        <div id="mainwrapper">
                          <div id="box-6" class="box">
                            <img id="image-6" src="../common/images_of_payit_home/Skirt.jpg" width="100%" />
                            <span class="caption scale-caption caption3">
                              <a href="http://www.flipkart.com/decot-paradise-animal-print-women-s-regular-skirt/p/itmecbj9wvh7fzgk?pid=SKIECBJ9XG9ZRJZX&amp;ref=L%3A4458365804712182667&amp;srno=p_2&amp;query=women+skirts&amp;otracker=from-search" target="_blank">
                                <h3>GRAB THE DEAL</h3>
                              </a>
                            </span>
                          </div>
                        </div>
                        <p class="wfashion-item-name">Skirt</p>
                        <img src="common\images_of_payit_home/flip logo.png" width="100%" style="position: absolute;width: 120px;height: 84px;margin-left: 6px;margin-top: -100px;opacity: 0.6;"/>
                        <p><span class="real-price-span">Rs549</span> <span class="price-span"><del>Rs1,099</del></span></p>
                      </div>
                    </div>
                  </div>
                </div>
                <div id="w-f3" class="tab-pane fade">
                  <div class="row">
                    <div class="col-sm-5">
                      <img src="../common/images_of_payit_home/payiteasy-new.jpg" width="98%"/>
                    </div>
                    <div class="col-sm-7 wfashion-image-div">
                      <div class="col-sm-4 wfashion-image-div-inside1">
                        <div id="mainwrapper">
                          <div id="box-6" class="box">
                            <img id="image-6" src="../common/images_of_payit_home/summer.png" width="100%" />
                            <span class="caption scale-caption caption3">
                              <a href="http://www.flipkart.com/klick2style-women-s-gathered-dress/p/itme5n5a745rau3x?pid=DREE5N5ADS3KPRFP&amp;al=Dv7%2BnHgwkg1ub9FIFcaieMldugMWZuE7FrnKNFONe23zhrc7tQKICgBVhWN0buR1%2BmlhQTS9BQE%3D&amp;ref=L%3A5811029390384448771&amp;srno=p_16&amp;query=summer+dress+for+women&amp;otracker=from-search" target="_blank">
                                <h3>GRAB THE DEAL</h3>
                              </a>
                            </span>
                          </div>
                        </div>
                        <p class="wfashion-item-name">Gathered Dress</p>
                         <img src="common\images_of_payit_home/flip logo.png" width="100%" style="position: absolute;width: 103px;height: 74px;margin-top: -98px;margin-left: 23px;opacity: 0.6;"/>
                        <p><span class="real-price-span">Rs396</span> <span class="price-span"><del>Rs1,499</del></span></p>
                        <div class="ram hide">
                          <a href="">
                                <h3>GRAB THE DEAL</h3>
                              </a>
                        </div>
                      </div>
                      <div class="col-sm-4 wfashion-image-div-inside1">
                        <div id="mainwrapper">
                          <div id="box-6" class="box">
                            <img id="image-6" src="../common/images_of_payit_home/jump.jpg" width="100%" />
                            <span class="caption scale-caption caption3">
                              <a href="http://www.flipkart.com/sukanyaa-solid-women-s-jumpsuit/p/itmefzv6wmyftwvp?pid=JUMEFZV8KTCUKKNX&amp;al=Dv7%2BnHgwkg2SnTHUsMm1TMldugMWZuE7%2FLHTI2SOE0Y4i%2Be33xnFPNPmTuggKjU%2FjBaBsVjXdHc%3D&amp;ref=L%3A-4453393682339246705&amp;srno=p_1&amp;query=jump+suits+for+women&amp;otracker=from-search" target="_blank">
                                <h3>GRAB THE DEAL</h3>
                              </a>
                            </span>
                          </div>
                        </div>
                        <p class="fashion-item-name">Jumpsuit</p>
                        <img src="common\images_of_payit_home/flip logo.png" width="100%" style=" position: absolute;width: 120px;height: 84px;margin-left: 12px;margin-top: -100px;opacity: 0.6;"/>
                        <p><span class="real-price-span">Rs699 </span> <span class="price-span"><del>Rs2,899</del></span></p>
                      </div>
                      <div class="col-sm-4 wfashion-image-div-inside2">
                        <div id="mainwrapper">
                          <div id="box-6" class="box">
                            <img id="image-6" src="../common/images_of_payit_home/Blouses.png" width="100%" />
                            <span class="caption scale-caption caption3">
                              <a href="http://www.flipkart.com/eraretails-round-neck-women-s-blouse/p/itmeesfyvxgkpgxk?pid=BLOEESFYXYG3EAPQ&amp;al=Dv7%2BnHgwkg1sj0neymm1EMldugMWZuE7mxWx381qOwTV%2BlyvkwO0P2j4pFgA5B9sr0uLp1tCnzo%3D&amp;ref=L%3A-5204364267114183167&amp;srno=p_1&amp;query=Blouses+for+women&amp;otracker=from-search" target="_blank">
                                <h3>GRAB THE DEAL</h3>
                              </a>
                            </span>
                          </div>
                        </div>
                        <p class="fashion-item-name">Blouse</p>
                         <img src="common\images_of_payit_home/flip logo.png" width="100%" style="position: absolute;width: 103px;height: 74px;margin-top: -93px;margin-left: 15px;opacity: 0.7;"/>
                        <p><span class="real-price-span">Rs425</span> <span class="price-span"><del>Rs2,700</del></span></p>
                      </div>
                    </div>
                    <div class="col-sm-7 wfashion-image-div1">
                      <div class="col-sm-4 wfashion-image-div-inside1">
                        <div id="mainwrapper">
                          <div id="box-6" class="box">
                            <img id="image-6" src="../common/images_of_payit_home/jacket.png" width="100%" />
                            <span class="caption scale-caption caption3">
                              <a href="http://www.flipkart.com/neenus-full-sleeve-self-design-women-s-jacket/p/itmeezz8f9nesbqv?pid=JCKEEZZ8NKQXHGMR&amp;ref=L%3A7155976738323582073&amp;srno=p_2&amp;query=jakets+for+womene&amp;otracker=from-search" target="_blank">
                                <h3>GRAB THE DEAL</h3>
                              </a>
                            </span>
                          </div>
                        </div>
                        <p class="wfashion-item-name">Jacket</p>
                        <img src="common\images_of_payit_home/flip logo.png" width="100%" style="position: absolute;width: 103px;height: 74px;margin-top: -94px;margin-left: 38px;opacity: 0.6;" />
                        <p><span class="real-price-span">Rs2,956</span> <span class="price-span"><del>Rs3,695</del></span></p>
                      </div>
                      <div class="col-sm-4 wfashion-image-div-inside1">
                        <div id="mainwrapper">
                          <div id="box-6" class="box">
                            <img id="image-6" src="../common/images_of_payit_home/Shoees.png" width="100%" />
                            <span class="caption scale-caption caption3">
                              <a href="http://www.flipkart.com/geetika-casual-shoes-bellies-for-women/p/itmeeqc4hzqc6rzk?pid=SHOEEQC4AMETUWZX&amp;" target="_blank">
                                <h3>GRAB THE DEAL</h3>
                              </a>
                            </span>
                          </div>
                        </div>
                        <p class="wfashion-item-name">Shoes</p>
                        <img src="common\images_of_payit_home/flip logo.png" width="100%" style="position: absolute;width: 103px;height: 74px;margin-top: -94px;margin-left: 38px;opacity: 0.6;"/>
                        <p><span class="real-price-span">Rs339</span> <span class="price-span"><del>Rs999</del></span></p>
                      </div>
                      <div class="col-sm-4">
                        <div id="mainwrapper">
                          <div id="box-6" class="box">
                            <img id="image-6" src="../common/images_of_payit_home/handbag.png" width="100%" />
                            <span class="caption scale-caption caption3">
                              <a href="http://www.flipkart.com/fostelo-shoulder-bag/p/itme6d2qggeyejte?pid=HMBE6D2Q9KC8HW4J&amp;al=wndRNf2JUoppPoI15qaU9cldugMWZuE793A%2Fmg2RE3bs9ijrngx5vZ7d3FRTUW3514D%2FCaQM3cg%3D&amp;ref=L%3A-1074863979603148090&amp;srno=b_1&amp;findingMethod=hp_header" target="_blank">
                                <h3>GRAB THE DEAL</h3>
                              </a>
                            </span>
                          </div>
                        </div>
                        <p class="wfashion-item-name">Hand Bag</p>
                        <img src="common\images_of_payit_home/flip logo.png" width="100%"  style=" position: absolute;width: 103px;height: 74px;margin-top: -94px;margin-left: 24px;opacity: 0.6;"/>
                        <p><span class="real-price-span">Rs699</span> <span class="price-span"><del>Rs1,999</del></span></p>
                      </div>
                    </div>
                  </div>
                </div>
                <div id="w-f4" class="tab-pane fade">
                  <div class="row">
                    <div class="col-sm-5">
                      <img src="../common/images_of_payit_home/payiteasy-new.jpg" width="98%"/>
                    </div>
                    <div class="col-sm-7 wfashion-image-div">
                      <div class="col-sm-4 wfashion-image-div-inside1">
                        <div id="mainwrapper">
                          <div id="box-6" class="box">
                            <img id="image-6" src="../common/images_of_payit_home/perfume.png" width="100%" />
                            <span class="caption scale-caption caption3">
                              <a href="http://www.flipkart.com/nike-casual-edt-75-ml/p/itmdthjej8pbavy5?pid=PERD8AYKASKDDYCK&amp;al=wndRNf2JUopYWd3LMgujjcldugMWZuE7JTWSsYnGIuW18U9TXqph76dykUIPAXYxwQ0Q2m1A%2Fbg%3D&amp;ref=L%3A6603219957415298989&amp;srno=b_29&amp;findingMethod=hp_header" target="_blank">
                                <h3>GRAB THE DEAL</h3>
                              </a>
                            </span>
                          </div>
                        </div>
                        <p class="wfashion-item-name">Perfume</p>
                        <img src="common\images_of_payit_home/flip logo.png" width="100%"  style="position: absolute;width: 120px;height: 84px;margin-left: 6px;margin-top: -100px;opacity: 0.6;"/>
                        <p><span class="real-price-span">Rs589</span> <span class="price-span"><del>Rs699</del></span></p>
                        <div class="ram hide">
                          <a href="">
                                <h3>GRAB THE DEAL</h3>
                              </a>
                        </div>
                      </div>
                      <div class="col-sm-4 wfashion-image-div-inside1">
                        <div id="mainwrapper">
                          <div id="box-6" class="box">
                            <img id="image-6" src="../common/images_of_payit_home/nil.png" width="100%" />
                            <span class="caption scale-caption caption3">
                              <a href="http://www.flipkart.com/deborah-milano-gel-effect-n-09-red-pusher-8-5-ml/p/itme736nqfftvbzd?pid=NLPE736NVBTZFRBS&amp;icmpid=reco_pp_same_beautygrooming_nailpolish_4&amp;ppid=NLPE8QPPKHFVB6KZ" target="_blank">
                                <h3>GRAB THE DEAL</h3>
                              </a>
                            </span>
                          </div>
                        </div>
                        <p class="fashion-item-name">nail palish</p>
                        <img src="common\images_of_payit_home/flip logo.png" width="100%"  style="position: absolute;width: 103px;height: 74px;margin-top: -98px;margin-left: 23px;opacity: 0.6;"/>
                        <p><span class="real-price-span">Rs499</span> <span class="price-span"><del>Rs899</del></span></p>
                      </div>
                      <div class="col-sm-4 wfashion-image-div-inside2">
                        <div id="mainwrapper">
                          <div id="box-6" class="box">
                            <img id="image-6" src="../common/images_of_payit_home/wallet.png" width="100%" />
                            <span class="caption scale-caption caption3">
                              <a href="http://www.flipkart.com/adidas-men-women-wallet/p/itmdyfvdhraz5rve?pid=WCWEBG2YAPUF46QA&amp;al=wndRNf2JUoooL%2F5p5sr0%2FMldugMWZuE7Phn6Yd2VMSKZToNHu1%2BD9Xroc4xT2PwsDe4opYVgYIY%3D&amp;ref=L%3A1825814191895888462&amp;srno=b_2&amp;findingMethod=hp_header" target="_blank">
                                <h3>GRAB THE DEAL</h3>
                              </a>
                            </span>
                          </div>
                        </div>
                        <p class="fashion-item-name">Wallet</p>
                        <img src="common\images_of_payit_home/flip logo.png" width="100%" style="position: absolute;width: 103px;height: 74px;margin-top: -98px;margin-left: 23px;opacity: 0.6;" />
                        <p><span class="real-price-span">Rs629</span> <span class="price-span"><del>Rs699</del></span></p>
                      </div>
                    </div>
                    <div class="col-sm-7 wfashion-image-div1">
                      <div class="col-sm-4 wfashion-image-div-inside1">
                        <div id="mainwrapper">
                          <div id="box-6" class="box">
                            <img id="image-6" src="../common/images_of_payit_home/lipstick.png" width="100%" />
                            <span class="caption scale-caption caption3">
                              <a href="http://www.flipkart.com/mars-pro-colour-make-up-collection-lipstick-good-choice-mgut-18-g/p/itmeckfzkh3z5kvr?pid=LSKECKFZUYDJGPE4&amp;ref=L%3A-7860663036638443167&amp;srno=p_13&amp;query=women+perfome+kit&amp;otracker=from-search" target="_blank">
                                <h3>GRAB THE DEAL</h3>
                              </a>
                            </span>
                          </div>
                        </div>
                        <p class="wfashion-item-name">Lipstick</p>
                        <img src="common\images_of_payit_home/flip logo.png" width="100%" style=" position: absolute;width: 120px;height: 84px;margin-left: 6px;margin-top: -100px;opacity: 0.6"/>
                        <p><span class="real-price-span">Rs499</span> <span class="price-span"><del>Rs991</del></span></p>
                      </div>
                      <div class="col-sm-4 wfashion-image-div-inside1">
                        <div id="mainwrapper">
                          <div id="box-6" class="box">
                            <img id="image-6" src="../common/images_of_payit_home/vaseline.png" width="100%" />
                            <span class="caption scale-caption caption3">
                              <a href="http://www.flipkart.com/vaseline-cocoa-glow-24h-nourishing-cream/p/itmeefj92zphqwrg?pid=MSCEEFJ9SMQHUYQH&amp;al=wndRNf2JUoph6%2F%2BBxulsTcldugMWZuE7Qdj0IGOOVqu6B4SZJ9YEOJ4DqiaVYPrbAO%2FiFbWpC2k%3D&amp;ref=L%3A-85413377095677137&amp;srno=p_10&amp;query=women+vasline+cream&amp;otracker=from-search" target="_blank">
                                <h3>GRAB THE DEAL</h3>
                              </a>
                            </span>
                          </div>
                        </div>
                        <p class="wfashion-item-name">Vaseline cream</p>
                        <img src="common\images_of_payit_home/flip logo.png" width="100%" style=" position: absolute;width: 120px;height: 84px;margin-left: 6px;margin-top: -100px;opacity: 0.6;"/>
                        <p><span class="real-price-span">Rs1,499</span> <span class="price-span"><del>Rs2,000</del></span></p>
                      </div>
                      <div class="col-sm-4">
                        <div id="mainwrapper">
                          <div id="box-6" class="box">
                            <img id="image-6" src="../common/images_of_payit_home/h.png" width="100%" />
                            <span class="caption scale-caption caption3">
                              <a href="http://www.flipkart.com/beauty-treats-130-colors-professional-makeup-eye-shadow-palette-8-5-g/p/itmeg9fvgqhsx4zz?pid=ESDEG9FVXWDGEVAD&amp;ref=L%3A-9108736424798040233&amp;srno=p_1&amp;query=women+beauty+eyes+colors&amp;otracker=from-search" target="_blank">
                                <h3>GRAB THE DEAL</h3>
                              </a>
                            </span>
                          </div>
                        </div>
                        <p class="wfashion-item-name">Eye Shadows</p>
                        <img src="common\images_of_payit_home/flip logo.png" width="100%" style="position: absolute;width: 103px;height: 74px;margin-top:-98px;margin-left: 23px;opacity: 0.6;"/>
                        <p><span class="real-price-span">Rs3,684</span> <span class="price-span"><del>Rs4,237</del></span></p>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>


    <!-- Women Fashion End -->

