<div class="row pdt30 flipcart_its">
                           <div class="row">
                        <div class="catg_hed_serc">
                            <div class="col-sm-12 pdt20 pdb10">
                                <b><h4>Flipkart List Items</h4></b>
                                <div class="pull-right catg_serc col-sm-3 pdr0 ">
                                    <input type="search" class="form-control" placeholder="Item's Search Here"  autofocus="" />
                                    <i class="fa fa-search search-position" sty=""></i>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="list_items_main ">
                            <div class="col-lg-3 col-md-3 col-sm-3 col-xs" th:each="product:${flipkartProducts}">
                            <div class="list_item">
                                <div class="list_item_image">
                                <div class="item-disc" th:if="${product.discountPercentage!='0.0'}"><span th:inline="text">[[${product.discountPercentage}]] % Off</span></div>
                                  <a th:href="${product.productUrl}" target="_blank">
                                    <img th:src="${product.imageUrl}" />
                                  </a>
                                </div>
                                 <div class="list_item_descrip">
                                     <div class="list_item_title">
                                       <a href="">
                                           <p th:text="${product.title}"></p>
                                       </a>  
                                     </div>
                                     <div class="list_item_price">
                                     <div class="price_row">
                                         <span class="item_price_disco strike" th:inline="text" th:if="${product.discountPercentage!='0.0'}"> Rs [[${product.mrp}]]</span>
                                         <span class="item_price" th:inline="text">Rs. [[${product.sellingPrice}]]</span>
                                     </div>
                                         
                                     </div>

                                 </div>
                                 </div>
                            </div><!-- item- -->
                            <!-- item- -->
                            
                        </div>
                    </div>
                    </div>