<div class="row pdt30">
    <div class="deal-head">
        <div class="col-sm-12 ">
            <p>FLIPKART FASHION SALE</p>
        </div>
    </div>
</div>
<div class="row">
    <div class="deal-images">
        <div class="col-sm-6 pdl5 pdr5">
            <a href="/redirectto?next=http://dl.flipkart.com/dl/search%3fq=ethnic+wear%26as-show=on%26as=off%26affid=infoarthv&amp;dest=FLIPKART" target="_blank">
                <img src="/common/img/home/flipkart/20151231_215930_730x300_image-730-300-43.jpg" style="width: 100%;height: 264px;"/>
                <img src="/common/img/home/flipkart/22.jpg" style="width: 50%;height: 264px;"/>
                <img src="/common/img/home/flipkart/23.jpg" style="width: 49%;height: 264px;"/>
            </a>
        </div>
        <div class="col-sm-3 pdl5 pdr5">
            <a href="/redirectto?next=http://dl.flipkart.com/dl/womens-clothing/ethnic-wear/kurtas-kurtis/pr%3fq=women%27s+kurti%26as-show=on%26as=on%26as-pos=1_1_ic_women%27s+kurti%26affid=infoarthv%26sid=2oq%2Cc1r%2C3pj%2Cua6&amp;dest=FLIPKART" target="_blank">
                <img src="/common/img/home/flipkart/1.jpg" style="width: 100%;height: 528px;"/>
            </a>
        </div>
        <div class="col-sm-3 pdl5 pdr5">
            <a href="/redirectto?next=http://dl.flipkart.com/dl/search%3fq=women%27s+sarivv%26as-show=off%26as=off%26affid=infoarthv&amp;dest=FLIPKART" target="_blank">
                <img src="/common/img/home/flipkart/2.jpg" style="width: 100%;height: 264px;"/>
                <img src="/common/img/home/flipkart/3.jpg" style="width: 100%;height: 264px;"/>
            </a>
        </div>
    </div>
</div>
<div class="row">
    <div class="deal-images">
        <div class="col-sm-3 pdl5 pdr5">
            <a href="/redirectto?next=http://dl.flipkart.com/dl/womens-clothing/western-wear/dresses-skirts/pr%3fq=maxi+dresses+for+women%26as-show=on%26as=on%26as-pos=2_1_ic_women%27s+dresses%26affid=infoarthv%26sid=2oq%2Cc1r%2Cha6%2Cxzt&amp;dest=FLIPKART" target="_blank">
                <img src="/common/img/home/flipkart/4.jpg" style="width: 100%;height: 264px;"/>
            </a>
        </div>
        <div class="col-sm-6 pdl5 pdr5">
            <a href="/redirectto?next=http://dl.flipkart.com/dl/search%3fq=salwar+suit+duppata+materials%26as-show=off%26as=off%26affid=infoarthv&amp;dest=FLIPKART" target="_blank">
                <img src="/common/img/home/flipkart/20160225_170314_730x300_gals-dress-n-skirts-below-499-clp.jpg" style="width: 100%;height: 264px;"/>
                
            </a>
        </div>
        <div class="col-sm-3 pdl5 pdr5">
            <a href="/redirectto?next=http://dl.flipkart.com/dl/search%3fq=casual+sleeve+stripped%26as-show=off%26as=off%26affid=infoarthv&amp;dest=FLIPKART" target="_blank">
                <img src="/common/img/home/flipkart/5.jpg" style="width: 100%;height: 264px;"/>
            </a>
        </div>
    </div>
</div>
<div class="row">
    <div class="deal-images">
        <div class="col-sm-6 pdl5 pdr5">
            <a href="/redirectto?next=http://dl.flipkart.com/dl/search%3fq=kids+wear+boys%26as-show=off%26as=off%26affid=infoarthv&amp;dest=FLIPKART" target="_blank">
                <img src="/common/img/home/flipkart/20160215_171039_730x300_image-730-300-14.jpg" style="width: 100%;height: 264px;"/>
            </a>
        </div>
        <div class="col-sm-3 pdl5 pdr5">
            <a href="/redirectto?next=http://dl.flipkart.com/dl/kids-clothing/girls-wear/dresses-skirts/pr%3fq=girls+dresses%26as-show=on%26as=on%26as-pos=1_1_ic_girls+dresses%26affid=infoarthv%26sid=2oq%2Cmpf%2Cacr%2Cot6&amp;dest=FLIPKART" target="_blank">
                <img src="/common/img/home/flipkart/6.jpg" style="width: 100%;height: 264px;"/>
            </a>
        </div>
        <div class="col-sm-3 pdl5 pdr5">
            <a href="/redirectto?next=http://dl.flipkart.com/dl/search%3fq=girls+wear%26as-show=on%26as=off%26affid=infoarthv&amp;dest=FLIPKART" target="_blank">
            <img src="/common/img/home/flipkart/7.jpg" style="width: 100%;height: 264px;"/>
            </a>
        </div>
    </div>
</div>
<div class="page-section1 deals">
    <div class="dealsss">
        <div class="container">
            <div class="row">
                <div class="deal-head">
                    <div class="col-sm-12 ">
                        <p>LAPTOPS</p>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="deal-images">
                    <div class="col-sm-2 pdl5 pdr5">
                        <a href="/redirectto?next=http://dl.flipkart.com/dl/search%3fq=sony+headphones%26as-show=on%26as=off%26affid=infoarthv&amp;dest=FLIPKART" target="_blank">
                            <img src="/common/img/home/flipkart/14.jpg" style="width: 100%;height: 264px;"/>
                        </a>
                    </div>
                    <div class="col-sm-4 pdl5 pdr5">
                        <a href="/redirectto?next=http://dl.flipkart.com/dl/computers/laptops%3faffid=infoarthv%26sid=6bo,b5g&amp;dest=FLIPKART" target="_blank">
                            <img src="/common/img/home/flipkart/20160222-115816-p2__1_.jpg" style="width: 100%;height: 264px;"/>
                        </a>
                    </div>
                    <div class="col-sm-4 pdl5 pdr5">
                        <a href="/redirectto?next=http://dl.flipkart.com/dl/search%3fq=lenovo+15.6%22+backpack+b3055%26as-show=on%26as=on%26as-pos=2_q_lenovo+15.6%26affid=infoarthv&amp;dest=FLIPKART" target="_blank">
                            <img src="/common/img/home/flipkart/16.jpg" style="width: 100%;height: 264px;"/>
                        </a>
                    </div>
                    <div class="col-sm-2 pdl5 pdr5">
                        <a href="/redirectto?next=http://dl.flipkart.com/dl/search%3fq=media+players%26as-show=on%26as=off%26affid=infoarthv&amp;dest=FLIPKART" target="_blank">
                            <img src="/common/img/home/flipkart/20160222-125446-ref-1.jpg" style="width: 100%;height: 264px;"/>
                        </a>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="deal-images">
                    <div class="col-sm-2 pdl5 pdr5">
                        <a href="/redirectto?next=http://dl.flipkart.com/dl/search%3fq=oneplus+accessories%26as-show=on%26as=off%26affid=infoarthv&amp;dest=FLIPKART" target="_blank">
                            <img src="/common/img/home/flipkart/20160226-110927-2_p1.jpg" style="width: 100%;height: 264px;"/>
                        </a>
                    </div>
                    <div class="col-sm-4 pdl5 pdr5">
                        <a href="/redirectto?next=http://dl.flipkart.com/dl/search%3fq=oneplus+accessories%26as-show=on%26as=off%26affid=infoarthv&amp;dest=FLIPKART" target="_blank">
                            <img src="/common/img/home/flipkart/15.jpg" style="width: 100%;height: 264px;"/>
                        </a>
                    </div>
                    <div class="col-sm-4 pdl5 pdr5">
                        <a href="/redirectto?next=http://dl.flipkart.com/dl/computers/laptops%3faffid=infoarthv%26sid=6bo,b5g&amp;dest=FLIPKART" target="_blank">
                            <img src="/common/img/home/flipkart/20160222-115816-p2__1_.jpg" style="width: 100%;height: 264px;"/>
                        </a>
                    </div>
                    <div class="col-sm-2 pdl5 pdr5">
                        <a href="/redirectto?next=http://dl.flipkart.com/dl/search%3fq=media+players%26as-show=on%26as=off%26affid=infoarthv&amp;dest=FLIPKART" target="_blank">
                            <img src="/common/img/home/flipkart/20160222-125446-ref-1.jpg" style="width: 100%;height: 264px;"/>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="page-section1 deals">
    <div class="dealsss">
        <div class="container">
            <div class="row">
                <div class="deal-head">
                    <div class="col-sm-12 ">
                        <p>ELECTRONICS</p>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="deal-images">
                    <div class="col-sm-6 pdl5 pdr5">
                        <a href="/redirectto?next=http://dl.flipkart.com/dl/search%3fq=honor+5x%26as-show=on%26as=off%26affid=infoarthv&amp;dest=FLIPKART" target="_blank">
                            <img src="/common/img/home/flipkart/20160127-122208-banner-1-7.jpg" style="width: 100%;height: 264px;"/>
                            <img src="/common/img/home/flipkart/20160223-161133-vmu-landscape-76.jpg" style="width: 50%;height: 264px;"/>
                            <img src="/common/img/home/flipkart/12.jpg" style="width: 49%;height: 264px;"/>
                        </a>
                    </div>
                    <div class="col-sm-3 pdl5 pdr5">
                        <a href="/redirectto?next=http://dl.flipkart.com/dl/search%3fq=honor+phones+exchange%26as-show=off%26as=off%26affid=infoarthv&amp;dest=FLIPKART" target="_blank">
                            <img src="/common/img/home/flipkart/9.jpg" style="width: 100%;height: 528px;"/>
                        </a>
                    </div>
                    <div class="col-sm-3 pdl5 pdr5">
                        <a href="/redirectto?next=http://dl.flipkart.com/dl/search%3fq=ambrane+power+bank%26as-show=on%26as=on%26as-pos=1_q_ambrane%26affid=infoarthv&amp;dest=FLIPKART" target="_blank">
                            <img src="/common/img/home/flipkart/10.jpg" style="width: 100%;height: 264px;"/>
                            <img src="/common/img/home/flipkart/11.jpg" style="width: 100%;height: 264px;"/>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="page-section1 deals">
    <div class="dealsss">
        <div class="container">
            <div class="row">
                <div class="deal-head">
                    <div class="col-sm-12 ">
                        <p>FOOTWEAR</p>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="deal-images">
                    <div class="col-sm-6 pdl5 pdr5">
                        <a href="/redirectto?next=http://dl.flipkart.com/dl/search%3fq=women+footwear%26as-show=on%26as=on%26as-pos=1_q_women+footwear%26affid=infoarthv&amp;dest=FLIPKART" target="_blank">
                            <img src="/common/img/home/flipkart/20160215_124610_730x300_image-730-300.jpg" style="width: 100%;height: 264px;"/>    
                        </a>
                    </div>
                    <div class="col-sm-3 pdl5 pdr5">
                        <a href="/redirectto?next=http://dl.flipkart.com/dl/search%3fq=ucb+puma+shoes%26as-show=off%26as=off%26affid=infoarthv&amp;dest=FLIPKART" target="_blank">
                            <img src="/common/img/home/flipkart/19.jpg" style="width: 100%;height: 264px;"/>
                        </a>
                    </div>
                    <div class="col-sm-3 pdl5 pdr5">
                        <a href="/redirectto?next=http://dl.flipkart.com/dl/search%3fq=fila+candy+men+sandals%26as-show=off%26as=off%26affid=infoarthv&amp;dest=FLIPKART" target="_blank">
                            <img src="/common/img/home/flipkart/17.jpg" style="width: 100%;height: 264px;"/>
                        </a>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="deal-images">
                    <div class="col-sm-3 pdl5 pdr5">
                        <a href="/redirectto?next=http://dl.flipkart.com/dl/search%3fq=paduki+ethnic+footwear+mojaris%26as-show=on%26as=off%26affid=infoarthv&amp;dest=FLIPKART" target="_blank">
                            <img src="/common/img/home/flipkart/20160113-180848-2.2__1_.jpg" style="width: 100%;height: 264px;"/>    
                        </a>
                    </div>
                    <div class="col-sm-3 pdl5 pdr5">
                        <a href="/redirectto?next=http://dl.flipkart.com/dl/search%3fq=metallic+hills%26as-show=off%26as=off%26affid=infoarthv&amp;dest=FLIPKART" target="_blank">
                            <img src="/common/img/home/flipkart/18.jpg" style="width: 100%;height: 264px;"/>
                        </a>
                    </div>
                    <div class="col-sm-6 pdl5 pdr5">
                        <a href="/redirectto?next=http://dl.flipkart.com/dl/footwear/pr%3fq=flipkart+fashion+sale+footwear%26allLinkPos=tree%26srno=st_1_32%26affid=infoarthv%26sid=osp&amp;dest=FLIPKART" target="_blank">
                            <img src="/common/img/home/flipkart/20160202_123219_730x300_image-730-300-4.jpg" style="width: 100%;height: 264px;"/>
                        </a>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="deal-images">
                    <div class="col-sm-3 pdl5 pdr5">
                        <a href="/redirectto?next=http://dl.flipkart.com/dl/search%3fq=ikd+black+leather+strap+with+led+bracelet+fashion+analog-digital+watch+-+for+boys%2C+men%26as-show=on%26as=on%26as-pos=1_q_ikd+black%26affid=infoarthv&amp;dest=FLIPKART" target="_blank">
                            <img src="/common/img/home/flipkart/21.jpg" style="width: 100%;height: 264px;"/>    
                        </a>
                    </div>
                    <div class="col-sm-3 pdl5 pdr5">
                        <a href="/redirectto?next=http://dl.flipkart.com/dl/search%3fq=reflect+eye+cat+eye+sunglasses%26as-show=off%26as=off%26affid=infoarthv&amp;dest=FLIPKART" target="_blank">
                            <img src="/common/img/home/flipkart/20.jpg" style="width: 100%;height: 264px;"/>
                        </a>
                    </div>
                    <div class="col-sm-3 pdl5 pdr5">
                        <a href="/redirectto?next=http://dl.flipkart.com/dl/footwear/pr%3fq=flipkart+fashion+sale+footwear%26allLinkPos=tree%26srno=st_1_32%26affid=infoarthv%26sid=osp&amp;dest=FLIPKART" target="_blank">
                            <img src="/common/img/home/flipkart/20160202_123219_730x300_image-730-300-4.jpg" style="width: 100%;height: 264px;"/>
                        </a>
                    </div>
                    <div class="col-sm-3 pdl5 pdr5">
                        <a href="/redirectto?next=http://dl.flipkart.com/dl/footwear/pr%3fq=flipkart+fashion+sale+footwear%26allLinkPos=tree%26srno=st_1_32%26affid=infoarthv%26sid=osp&amp;dest=FLIPKART" target="_blank">
                            <img src="/common/img/home/flipkart/20160202_123219_730x300_image-730-300-4.jpg" style="width: 100%;height: 264px;"/>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>