
	<div class="" th:if="${#httpServletRequest.getParameter('name')=='FLIPKART'}">
			<h3 style="margin-top: 110px;text-align:center;" >
				<img src="/common/img/storeimg/New-Flipkart-Logo.jpg" style="border:0"  width="150px" class="CToWUd"/>
			</h3>
			<div class="row">
			<div class="col-lg-4"></div>
			<div class="col-lg-4">

				<div data-WRID="WRID-145477569113583724" data-widgetType="searchWidget" data-class="affiliateAdsByFlipkart" height="250" width="1000" id="flipKartSearch"></div>
				<script async="" src="common/widget/FKAffiliateWidgets.js"></script>
			</div>
			<div class="col-lg-4"></div>
			</div>

 <!-- <div data-WRID="WRID-145477613642775229" data-widgetType="searchWidget" data-class="affiliateAdsByFlipkart" height="55" width="660" ></div> -->

<div class="row" style="margin-top:30px;">
	<div class="col-lg-offset-4 m-t-sm" data-WRID="WRID-145485468280631870" data-widgetType="staticBanner"  data-class="affiliateAdsByFlipkart" height="50" width="320"></div>
<script async="" src="//affiliate.flipkart.com/affiliate/widgets/FKAffiliateWidgets.js"></script>
</div>

	</div>





