

		<!-- Jewelry Item Start -->




		<div class="jewelry">
			<div class="container jewelry-contai-div">
				<div class="row">
					<div class="col-sm-3 jewelry-div">
						<div class="jewelry-head">
							JEWELRY
						</div>
						<ul>
							<li><a href="#">Multi-Layer Necklaces</a></li>
							<li><a href="#">925 Silver</a></li>
							<li><a href="#">Pearl jewelry</a></li>
							<li><a href="#">Friendhip Bracelets</a></li>
							<li><a href="#">Statement Necklaces</a></li>
							<li><a href="#">Brinco</a></li>
							<li><a href="#">Body Chains</a></li>
							<li><a href="#">DIY Beads</a></li>
							<li><a href="#">Carp Fishing</a></li>
							<li><a href="#">Digital Watches</a></li>
							<li><a href="#">Dress Watches</a></li>
						</ul>
					</div>
					<div class="col-sm-9 jewelry-div2">
						<div>
							<ul class="nav nav-tabs ">
								<li class="active"><a data-toggle="tab" href="#j-i1">Best Seller</a></li>
								<li><a data-toggle="tab" href="#j-i2">Most Viewed</a></li>
								<li><a data-toggle="tab" href="#j-i3">Specials</a></li>
								<li><a data-toggle="tab" href="#j-i4">New Arrivals</a></li>
								<li class="jewelry-arrows">
									<a href="#">
										<img src="../common/images_of_payit_home/1458135634_arrow-up-01.png" width="10%" style="float: right;"/>
									</a>
									<a href="#">
										<img src="../common/images_of_payit_home/1458135604_arrow-down-01.png" width="10%" style="float: right;display: block;margin-top: -5px;"/>
									</a>
								</li>
							</ul>
							<div class="tab-content">
								<div id="j-i1" class="tab-pane fade in active">
									<div class="row">
										<div class="col-sm-5">
											<img src="../common/images_of_payit_home/jewelry_img.jpg" width="98%" />
										</div>
										<div class="col-sm-7 jewelry-image-div">
											<div class="col-sm-4 jewelry-image-div-inside1">
												<div id="mainwrapper">
													<div id="box-6" class="box">
														<img id="image-6" src="../common/images_of_payit_home/jewl.png" width="100%" />
														<span class="caption scale-caption caption5">
															<a href="http://www.flipkart.com/zaveri-pearls-zinc-jewel-set/p/itmeeahwndxvj92h?pid=JWSEEAHWGKD9VVHZ&amp;ref=L%3A-9187248244057289606&amp;srno=p_3&amp;query=JEWELRY&amp;otracker=from-search" target="_blank">
															<h3>GRAB THE DEAL</h3>
														</a>
														</span>
													</div>
												</div>
												<p class="jewelry-item-name">Jewel Set</p>
												<img src="\common\images_of_payit_home/flip logo.png" width="100" style=" position: absolute;width: 103px;height: 74px;margin-top: -92px;margin-left: 7px;opacity: 0.7;"/>
												<p><span class="real-price-span">Rs1,095 </span> <span class="price-span"><del>Rs2,190</del></span></p>
											</div>
											<div class="col-sm-4 jewelry-image-div-inside1">
												<div id="mainwrapper">
													<div id="box-6" class="box">
														<img id="image-6" src="../common/images_of_payit_home/bangle.png" width="100%" />
														<span class="caption scale-caption caption5">
															<a href="http://www.flipkart.com/jewels-galaxy-alloy-bangle-set/p/itmect3mhp6uuhxk?pid=BBAECT3MRZHTZYGH&amp;ref=L%3A6307690890971991603&amp;srno=p_22&amp;query=jwellary&amp;otracker=from-search" target="_blank">
															<h3>GRAB THE DEAL</h3>
														</a>
														</span>
													</div>
												</div>
												<p class="fashion-item-name">Bangle Set</p>
												<img src="\common\images_of_payit_home/flip logo.png" width="100" style=" position: absolute;width: 103px;height: 74px;margin-top: -93px;margin-left: 14px;opacity: 0.7;"/>
												<p><span class="real-price-span">Rs495</span> <span class="price-span"><del>Rs5,999</del></span></p>
											</div>
											<div class="col-sm-4">
												<div id="mainwrapper">
													<div id="box-6" class="box">
														<img id="image-6" src="../common/images_of_payit_home/nakles.png" width="100%" />
														<span class="caption scale-caption caption5">
															<a href="http://www.snapdeal.com/product/zaveri-pearls-multicolour-antique-traditional/686028757#bcrumbSearch:JEWELRY" target="_blank">
															<h3>GRAB THE DEAL</h3>
														</a>
														</span>
													</div>
												</div>
												<p class="fashion-item-name">Necklace Set</p>
												<img src="\common\images_of_payit_home/Snapdeal.png" width="100" style="position: absolute;width: 103px;height: 74px;margin-top: -98px;margin-left: 12px;opacity: 0.7; "/>
												<p><span class="real-price-span">Rs690 </span> <span class="price-span"><del>Rs2,590</del></span></p>
											</div>
										</div>
										<div class="col-sm-7 jewelry-image-div1">
											<div class="col-sm-4 jewelry-image-div-inside1">
												<div id="mainwrapper">
													<div id="box-6" class="box">
														<img id="image-6" src="../common/images_of_payit_home/earring.png" width="100%" />
														<span class="caption scale-caption caption5">
															<a href="http://www.snapdeal.com/product/mp-fine-jewellery-cz-ruby/672279152387#bcrumbSearch:JEWELRY|bcrumbLabelId:341" target="_blank">
															<h3>GRAB THE DEAL</h3>
														</a>
														</span>
													</div>
												</div>
												<p class="jewelry-item-name">Earrings</p>
												<img src="\common\images_of_payit_home/Snapdeal.png" width="100" style="position: absolute;width: 103px;height: 74px;margin-top: -98px;margin-left: 12px;opacity: 0.7; "/>
												<p><span class="real-price-span">Rs2,400</span> <span class="price-span"><del>Rs8,000</del></span></p>
											</div>
											<div class="col-sm-4 jewelry-image-div-inside1">
												<div id="mainwrapper">
													<div id="box-6" class="box">
														<img id="image-6" src="../common/images_of_payit_home/chain.png" width="100%" />
														<span class="caption scale-caption caption5">
															<a href="http://www.amazon.in/Handicraft-Kottage-Yellow-Mangalsutra-Triple/dp/B00MA4CANO/ref=sr_1_4?s=jewelry&amp;ie=UTF8&amp;qid=1459342330&amp;sr=1-4&amp;keywords=JEWELRY" target="_blank">
															<h3>GRAB THE DEAL</h3>
														</a>
														</span>
													</div>
												</div>
												<p class="jewelry-item-name">Chain</p>
												<img src="\common\images_of_payit_home/amag.png" width="100" style="position: absolute;width: 103px;height: 74px;margin-top: -98px;margin-left: 21px;opacity: 0.7; "/>
												<p><span class="real-price-span">Rs170</span> <span class="price-span"><del>Rs229</del></span></p>
											</div>
											<div class="col-sm-4">
												<div id="mainwrapper">
													<div id="box-6" class="box">
														<img id="image-6" src="../common/images_of_payit_home/art.png" width="100%" />
														<span class="caption scale-caption caption5">
															<a href="http://www.flipkart.com/shree-bhawani-art-jewellery-zinc-jewel-set/p/itmebyxy8gsf8u9d?pid=JWSEBYXY3UCBYZ4Q&amp;al=c3qgmIv2W0XX%2FSsaDiDKiMldugMWZuE7%2FLHTI2SOE0b68Azr%2B3dSKM8oD2aTGLlXYQOlClFh5uQ%3D&amp;ref=L%3A-1598463667770404933&amp;srno=p_15&amp;query=jwellary&amp;otracker=from-search" target="_blank">
															<h3>GRAB THE DEAL</h3>
														</a>
														</span>
													</div>
												</div>
												<p class="jewelry-item-name"> Art Jewellery</p>
												<img src="\common\images_of_payit_home/flip logo.png" width="100" style=" position: absolute;width: 103px;height: 74px;margin-top: -92px;margin-left: 16px;opacity: 0.7;"/>
												<p><span class="real-price-span">Rs5,000</span> <span class="price-span"><del>Rs11,999</del></span></p>
											</div>
										</div>
									</div>
								</div>
								<div id="j-i2" class="tab-pane fade">
									<div class="row">
										<div class="col-sm-5">
											<img src="../common/images_of_payit_home/jewelry_img.jpg" width="98%"/>
										</div>
										<div class="col-sm-7 jewelry-image-div">
											<div class="col-sm-4 jewelry-image-div-inside1">
												<div id="mainwrapper">
													<div id="box-6" class="box">
														<img id="image-6" src="../common/images_of_payit_home/braclet.png" width="100%" />
														<span class="caption scale-caption caption5">
															<a href="http://www.amazon.in/Magic-Stones-Plated-Rhodium-Bracelet/dp/B017MBC9XK/ref=sr_1_6?s=jewelry&amp;ie=UTF8&amp;qid=1459347895&amp;sr=1-6&amp;keywords=gold+jewelry" target="_blank">
															<h3>GRAB THE DEAL</h3>
														</a>
														</span>
													</div>
												</div>
												<p class="jewelry-item-name">Bracelet</p>
												<img src="\common\images_of_payit_home/amag.png" width="100" style="position: absolute;width: 103px;height: 74px;margin-top: -98px;margin-left: 21px;opacity: 0.7; "/>
												<p><span class="real-price-span">Rs918</span> <span class="price-span"><del>Rs9,000</del></span></p>
											</div>
											<div class="col-sm-4 jewelry-image-div-inside1">
												<div id="mainwrapper">
													<div id="box-6" class="box">
														<img id="image-6" src="../common/images_of_payit_home/knadan.png" width="100%" />
														<span class="caption scale-caption caption5">
															<a href="http://www.snapdeal.com/product/maroon-peacock-kundan-set/1656931717#bcrumbSearch:JEWELRY|bcrumbLabelId:674" target="_blank">
															<h3>GRAB THE DEAL</h3>
														</a>
														</span>
													</div>
												</div>
												<p class="fashion-item-name">Kundan Set</p>
												<img src="\common\images_of_payit_home/Snapdeal.png" width="100" style="position: absolute;width: 103px;height: 74px;margin-top: -98px;margin-left: 12px;opacity: 0.7; "/>
												<p><span class="real-price-span">Rs1,518</span> <span class="price-span"><del>Rs3,036</del></span></p>
											</div>
											<div class="col-sm-4">
												<div id="mainwrapper">
													<div id="box-6" class="box">
														<img id="image-6" src="../common/images_of_payit_home/long.png" width="100%" />
														<span class="caption scale-caption caption5">
															<a href="http://www.amazon.in/Zeneme-Traditional-Maharani-Temple-Necklace/dp/B01BFDPJRO/ref=sr_1_4?s=jewelry&amp;ie=UTF8&amp;qid=1459344503&amp;sr=1-4&amp;keywords=long+chains+for+women" target="_blank">
															<h3>GRAB THE DEAL</h3>
														</a>
														</span>
													</div>
												</div>
												<p class="fashion-item-name">Long chain</p>
												<img src="\common\images_of_payit_home/amag.png" width="100" style="position: absolute;width: 103px;height: 74px;margin-top: -98px;margin-left: 21px;opacity: 0.7; "/>
												<p><span class="real-price-span">Rs349</span> <span class="price-span"><del>Rs2,399</del></span></p>
											</div>
										</div>
										<div class="col-sm-7 jewelry-image-div1">
											<div class="col-sm-4 jewelry-image-div-inside1">
												<div id="mainwrapper">
													<div id="box-6" class="box">
														<img id="image-6" src="../common/images_of_payit_home/art.png" width="100%" />
														<span class="caption scale-caption caption5">
															<a href="http://www.flipkart.com/shree-bhawani-art-jewellery-zinc-jewel-set/p/itmebyxy8gsf8u9d?pid=JWSEBYXY3UCBYZ4Q&amp;al=c3qgmIv2W0XX%2FSsaDiDKiMldugMWZuE7%2FLHTI2SOE0b68Azr%2B3dSKM8oD2aTGLlXYQOlClFh5uQ%3D&amp;ref=L%3A-1598463667770404933&amp;srno=p_15&amp;query=jwellary&amp;otracker=from-search" target="_blank">
															<h3>GRAB THE DEAL</h3>
														</a>
														</span>
													</div>
												</div>
												<p class="jewelry-item-name">Art Jewellery</p>
												<img src="\common\images_of_payit_home/flip logo.png" width="100" style=" position: absolute;width: 103px;height: 74px;margin-top: -92px;margin-left: 16px;opacity: 0.7;"/>
												<p><span class="real-price-span">Rs5,000</span> <span class="price-span"><del>Rs11,999</del></span></p>
											</div>
											<div class="col-sm-4 jewelry-image-div-inside1">
												<div id="mainwrapper">
													<div id="box-6" class="box">
														<img id="image-6" src="../common/images_of_payit_home/earring.png" width="100%" />
														<span class="caption scale-caption caption5">
															<a href="http://www.snapdeal.com/product/mp-fine-jewellery-cz-ruby/672279152387#bcrumbSearch:JEWELRY|bcrumbLabelId:341" target="_blank">
															<h3>GRAB THE DEAL</h3>
														</a>
														</span>
													</div>
												</div>
												<p class="jewelry-item-name">Earrings</p>
												<img src="\common\images_of_payit_home/Snapdeal.png" width="100" style="position: absolute;width: 103px;height: 74px;margin-top: -98px;margin-left: 12px;opacity: 0.7; "/>
												<p><span class="real-price-span">Rs2,400</span> <span class="price-span"><del>Rs8,000</del></span></p>
											</div>
											<div class="col-sm-4">
												<div id="mainwrapper">
													<div id="box-6" class="box">
														<img id="image-6" src="../common/images_of_payit_home/sliver.png" width="100%" />
														<span class="caption scale-caption caption5">
															<a href="http://www.flipkart.com/clara-certified-panna-4-8-cts-5-25-ratti-stunning-sterling-silver-emerald-ring/p/itmefp3yph2dxjgk?pid=RNGEFP3YZZMZFTRU&amp;ref=L%3A5415815452054864120&amp;srno=p_4&amp;query=sliver&amp;otracker=from-search" target="_blank">
															<h3>GRAB THE DEAL</h3>
														</a>
														</span>
													</div>
												</div>
												<p class="jewelry-item-name">Silver Ring</p>
												<img src="\common\images_of_payit_home/flip logo.png" width="100" style=" position: absolute;width: 103px;height: 74px;margin-top: -92px;margin-left: 16px;opacity: 0.7;"/>
												<p><span class="real-price-span">Rs3,170</span> <span class="price-span"><del>Rs7,080</del></span></p>
											</div>
										</div>
									</div>
								</div>
								<div id="j-i3" class="tab-pane fade">
									<div class="row">
										<div class="col-sm-5">
											<img src="../common/images_of_payit_home/jewelry_img.jpg" width="98%"/>
										</div>
										<div class="col-sm-7 jewelry-image-div">
											<div class="col-sm-4 jewelry-image-div-inside1">
												<div id="mainwrapper">
													<div id="box-6" class="box">
														<img id="image-6" src="../common/images_of_payit_home/mangala.png" width="100%" />
														<span class="caption scale-caption caption5">
															<a href="http://www.snapdeal.com/product/vyshnavi-art-jewellery-black-polki/618595278217#bcrumbSearch:JEWELRY|bcrumbLabelId:345" target="_blank">
															<h3>GRAB THE DEAL</h3>
														</a>
														</span>
													</div>
												</div>
												<p class="jewelry-item-name">Mangalsutra</p>
												<img src="\common\images_of_payit_home/Snapdeal.png" width="100" style="position: absolute;width: 103px;height: 74px;margin-top: -98px;margin-left: 12px;opacity: 0.7; "/>
												<p><span class="real-price-span">Rs2,800 </span> <span class="price-span"><del>Rs3,200</del></span></p>
											</div>
											<div class="col-sm-4 jewelry-image-div-inside1">
												<div id="mainwrapper">
													<div id="box-6" class="box">
														<img id="image-6" src="../common/images_of_payit_home/ring.png" width="100%" />
														<span class="caption scale-caption caption5">
															<a href="http://www.amazon.in/Ishtaa-18K-Yellow-Gold-Ring/dp/B00N9WEX2M/ref=sr_1_2?s=jewelry&amp;ie=UTF8&amp;qid=1459344092&amp;sr=1-2&amp;keywords=Gold" target="_blank">
															<h3>GRAB THE DEAL</h3>
														</a>
														</span>
													</div>
												</div>
												<p class="fashion-item-name">Gold Ring</p>
												<img src="\common\images_of_payit_home/amag.png" width="100" style="position: absolute;width: 103px;height: 74px;margin-top: -98px;margin-left: 21px;opacity: 0.7; "/>
												<p><span class="real-price-span">Rs15,333</span> <span class="price-span"><del>Rs16,140</del></span></p>
											</div>
											<div class="col-sm-4">
												<div id="mainwrapper">
													<div id="box-6" class="box">
														<img id="image-6" src="../common/images_of_payit_home/locket.png" width="100%" />
														<span class="caption scale-caption caption5">
															<a href="http://www.flipkart.com/tbztheoriginal-daily-wear-solitaire-look-alike-pendant-0-21cts-diamonds-rhodium-18k-diamond-yellow-gold/p/itmefz63jkqhrbtz?pid=PELEFZ63FW92ZZFN&amp;al=c3qgmIv2W0XGx0mf6%2FTOuMldugMWZuE7JTWSsYnGIuWRtK%2BWAbwlGqsLS0cB4DC8%2Flj%2BDDbzDkw%3D&amp;ref=L%3A8949516711120424293&amp;srno=p_2&amp;query=jwellary&amp;otracker=from-search" target="_blank">
															<h3>GRAB THE DEAL</h3>
														</a>
														</span>
													</div>
												</div>
												<p class="fashion-item-name">locket</p>
												<img src="\common\images_of_payit_home/flip logo.png" width="100" style=" position: absolute;width: 103px;height: 74px;margin-top: -92px;margin-left: 16px;opacity: 0.7;"/>
												<p><span class="real-price-span">Rs18,100</span> <span class="price-span"><del>Rs19,100</del></span></p>
											</div>
										</div>
										<div class="col-sm-7 jewelry-image-div1">
											<div class="col-sm-4 jewelry-image-div-inside1">
												<div id="mainwrapper">
													<div id="box-6" class="box">
														<img id="image-6" src="../common/images_of_payit_home/knadan.png" width="100%" />
														<span class="caption scale-caption caption5">
															<a href="http://www.snapdeal.com/product/maroon-peacock-kundan-set/1656931717#bcrumbSearch:JEWELRY|bcrumbLabelId:674" target="_blank">
															<h3>GRAB THE DEAL</h3>
														</a>
														</span>
													</div>
												</div>
												<p class="jewelry-item-name">Kundan Set</p>
												<img src="\common\images_of_payit_home/Snapdeal.png" width="100" style="position: absolute;width: 103px;height: 74px;margin-top: -98px;margin-left: 12px;opacity: 0.7; "/>
												<p><span class="real-price-span">Rs1,518</span> <span class="price-span"><del>Rs3,036</del></span></p>
											</div>
											<div class="col-sm-4 jewelry-image-div-inside1">
												<div id="mainwrapper">
													<div id="box-6" class="box">
														<img id="image-6" src="../common/images_of_payit_home/stone.png" width="100%" />
														<span class="caption scale-caption caption5">
															<a href="http://www.snapdeal.com/product/lucky-jewellery-magenta-blue-stone/1592211640#bcrumbSearch:JEWELRY|bcrumbLabelId:674" target="_blank">
															<h3>GRAB THE DEAL</h3>
														</a>
														</span>
													</div>
												</div>
												<p class="jewelry-item-name">Stone Jewellery</p>
												<img src="\common\images_of_payit_home/Snapdeal.png" width="100" style="position: absolute;width: 103px;height: 74px;margin-top: -98px;margin-left: 12px;opacity: 0.7; "/>
												<p><span class="real-price-span">Rs2,971</span> <span class="price-span"><del>Rs5,942</del></span></p>
											</div>
											<div class="col-sm-4">
												<div id="mainwrapper">
													<div id="box-6" class="box">
														<img id="image-6" src="../common/images_of_payit_home/long.png" width="100%" />
														<span class="caption scale-caption caption5">
															<a href="http://www.amazon.in/Zeneme-Traditional-Maharani-Temple-Necklace/dp/B01BFDPJRO/ref=sr_1_4?s=jewelry&amp;ie=UTF8&amp;qid=1459344503&amp;sr=1-4&amp;keywords=long+chains+for+women" target="_blank">
															<h3>GRAB THE DEAL</h3>
														</a>
														</span>
													</div>
												</div>
												<p class="jewelry-item-name">Long chain</p>
												<img src="\common\images_of_payit_home/amag.png" width="100" style="position: absolute;width: 103px;height: 74px;margin-top: -98px;margin-left: 21px;opacity: 0.7; "/>
												<p><span class="real-price-span">Rs349</span> <span class="price-span"><del>Rs2,399</del></span></p>
											</div>
										</div>
									</div>
								</div>
								<div id="j-i4" class="tab-pane fade">
									<div class="row">
										<div class="col-sm-5">
											<img src="../common/images_of_payit_home/jewelry_img.jpg" width="98%"/>
										</div>
										<div class="col-sm-7 jewelry-image-div">
											<div class="col-sm-4 jewelry-image-div-inside1">
												<div id="mainwrapper">
													<div id="box-6" class="box">
														<img id="image-6" src="../common/images_of_payit_home/sliver.png" width="100%" />
														<span class="caption scale-caption caption5">
															<a href="http://www.flipkart.com/clara-certified-panna-4-8-cts-5-25-ratti-stunning-sterling-silver-emerald-ring/p/itmefp3yph2dxjgk?pid=RNGEFP3YZZMZFTRU&amp;ref=L%3A5415815452054864120&amp;srno=p_4&amp;query=sliver&amp;otracker=from-search" target="_blank">
															<h3>GRAB THE DEAL</h3>
														</a>
														</span>
													</div>
												</div>
												<p class="jewelry-item-name">Silver Ring</p>
												<img src="\common\images_of_payit_home/flip logo.png" width="100" style=" position: absolute;width: 103px;height: 74px;margin-top: -92px;margin-left: 16px;opacity: 0.7;"/>
												<p><span class="real-price-span">Rs3,170</span> <span class="price-span"><del>Rs7,080</del></span></p>
											</div>
											<div class="col-sm-4 jewelry-image-div-inside1">
												<div id="mainwrapper">
													<div id="box-6" class="box">
														<img id="image-6" src="../common/images_of_payit_home/metal.png" width="100%" />
														<span class="caption scale-caption caption5">
															<a href="http://www.flipkart.com/surat-diamond-metal-jewel-set/p/itmdumjr8cafc8fd?pid=JWSDUMJR8CAFC8FD&amp;al=c3qgmIv2W0UzgYlBm%2BffPsldugMWZuE7%2FLHTI2SOE0Ymcdl0RHfReWpPfdymlGbGZ7DbZe1xt1s%3D&amp;ref=L%3A-8355808550124633652&amp;srno=p_1&amp;query=jewellery+for+women+nacklace+combo+sets&amp;otracker=from-search" target="_blank">
															<h3>GRAB THE DEAL</h3>
														</a>
														</span>
													</div>
												</div>
												<p class="fashion-item-name">Metal Jewel Set</p>
												<img src="\common\images_of_payit_home/flip logo.png" width="100" style=" position: absolute;width: 103px;height: 74px;margin-top: -92px;margin-left: 16px;opacity: 0.7;"/>
												<p><span class="real-price-span">Rs199</span> <span class="price-span"><del>Rs1,500</del></span></p>
											</div>
											<div class="col-sm-4">
												<div id="mainwrapper">
													<div id="box-6" class="box">
														<img id="image-6" src="../common/images_of_payit_home/gold-wach.png" width="100%" />
														<span class="caption scale-caption caption5">
															<a href="http://www.amazon.in/Samurai-Analog-Gold-Watch-S112-010NY/dp/B00DYNJBEQ/ref=sr_1_22?s=watches&amp;ie=UTF8&amp;qid=1459347966&amp;sr=1-22&amp;keywords=gold+watch" target="_blank">
															<h3>GRAB THE DEAL</h3>
														</a>
														</span>
													</div>
												</div>
												<p class="fashion-item-name">Gold watch</p>
												<img src="\common\images_of_payit_home/amag.png" width="100" style="position: absolute;width: 103px;height: 74px;margin-top: -98px;margin-left: 21px;opacity: 0.7; "/>
												<p><span class="real-price-span">Rs578</span> <span class="price-span"><del>Rs1,195</del></span></p>
											</div>
										</div>
										<div class="col-sm-7 jewelry-image-div1">
											<div class="col-sm-4 jewelry-image-div-inside1">
												<div id="mainwrapper">
													<div id="box-6" class="box">
														<img id="image-6" src="../common/images_of_payit_home/braclet.png" width="100%" />
														<span class="caption scale-caption caption5">
															<a href="http://www.amazon.in/Magic-Stones-Plated-Rhodium-Bracelet/dp/B017MBC9XK/ref=sr_1_6?s=jewelry&amp;ie=UTF8&amp;qid=1459347895&amp;sr=1-6&amp;keywords=gold+jewelry" target="_blank">
															<h3>GRAB THE DEAL</h3>
														</a>
														</span>
													</div>
												</div>
												<p class="jewelry-item-name"> Bracelet</p>
												<img src="\common\images_of_payit_home/amag.png" width="100" style="position: absolute;width: 103px;height: 74px;margin-top: -98px;margin-left: 21px;opacity: 0.7; "/>
												<p><span class="real-price-span">Rs918</span> <span class="price-span"><del>Rs9,000</del></span></p>
											</div>
											<div class="col-sm-4 jewelry-image-div-inside1">
												<div id="mainwrapper">
													<div id="box-6" class="box">
														<img id="image-6" src="../common/images_of_payit_home/anti.png" width="100%" />
														<span class="caption scale-caption caption5">
															<a href="http://www.snapdeal.com/product/11girls-black-alloy-antique-necklace/673852275852#bcrumbSearch:girls%20jewellery" target="_blank">
															<h3>GRAB THE DEAL</h3>
														</a>
														</span>
													</div>
												</div>
												<p class="jewelry-item-name">Antique Necklace</p>
												<img src="\common\images_of_payit_home/Snapdeal.png" width="100" style="position: absolute;width: 103px;height: 74px;margin-top: -98px;margin-left: 12px;opacity: 0.7; "/>
												<p><span class="real-price-span">Rs190</span> <span class="price-span"><del>Rs400</del></span></p>
											</div>
											<div class="col-sm-4">
												<div id="mainwrapper">
													<div id="box-6" class="box">
														<img id="image-6" src="../common/images_of_payit_home/fash.png" width="100%" />
														<span class="caption scale-caption caption5">
															<a href="http://www.snapdeal.com/product/much-more-alloy-blue-pearl/632406879087#bcrumbSearch:girls%20jewellery" target="_blank">
															<h3>GRAB THE DEAL</h3>
														</a>
														</span>
													</div>
												</div>
												<p class="jewelry-item-name">FashionEarJewelry</p>
												<img src="\common\images_of_payit_home/Snapdeal.png" width="100" style="position: absolute;width: 103px;height: 74px;margin-top: -97px;margin-left: 14px;opacity: 0.7; "/>
												<p><span class="real-price-span">Rs599</span> <span class="price-span"><del>Rs800</del></span></p>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>






		<!-- Jewelry Item End -->
