

    <!-- Electronics Item Strat -->




    <div class="electronics">
      <div class="container electronics-contai-div">
        <div class="row">
          <div class="col-sm-3 electronics-div">
            <div class="electronics-head">
              ELECTRONICS
            </div>
            <ul>
              <li><a href="#">SOOCOO S60</a></li>
              <li><a href="#">Xiaomi Sports</a></li>
              <li><a href="#">Monopod</a></li>
              <li><a href="#">MP3 Player</a></li>
              <li><a href="#">Speaker</a></li>
              <li><a href="#">Camera</a></li>
              <li><a href="#">Micro SD Card</a></li>
              <li><a href="#">Smart Watches</a></li>
              <li><a href="#">TV</a></li>
              <li><a href="#">Projector</a></li>
              <li><a href="#">Gaming</a></li>
            </ul>
          </div>
          <div class="col-sm-9 electronics-div2">
            <div>
              <ul class="nav nav-tabs ">
                <li class="active"><a data-toggle="tab" href="#e-i1">Best Seller</a></li>
                <li><a data-toggle="tab" href="#e-i2">Most Viewed</a></li>
                <li><a data-toggle="tab" href="#e-i3">Specials</a></li>
                <li><a data-toggle="tab" href="#e-i4">New Arrivals</a></li>
                <li class="electronics-arrows">
                  <a href="#">
                    <img src="../common/images_of_payit_home/1458135634_arrow-up-01.png" width="10%" style="float: right;"/>
                  </a>
                  <a href="#">
                    <img src="../common/images_of_payit_home/1458135604_arrow-down-01.png" width="10%" style="float: right;display: block;margin-top: -5px;"/>
                  </a>
                </li>
              </ul>
              <div class="tab-content">
                <div id="e-i1" class="tab-pane fade in active">
                  <div class="row">
                    <div class="col-sm-5">
                      <img src="../common/images_of_payit_home/electronic.jpg" width="98%"/>
                    </div>
                    <div class="col-sm-7 electronics-image-div">
                      <div class="col-sm-4 electronics-image-div-inside1">
                        <div id="mainwrapper">
                          <div id="box-6" class="box">
                            <img id="image-6" src="../common/images_of_payit_home/washing.png" width="100%" />
                            <span class="caption scale-caption caption1">
                              <a href="http://www.flipkart.com/ifb-6-5-kg-fully-automatic-front-load-washing-machine/p/itmdyakygwwc8wya?pid=WMNDY9RWJH3MZRE3&amp;al=YUjTQZWHm6wD6Izz0Cvi%2BMldugMWZuE7Phn6Yd2VMSLQh%2BIiCFUYldD54hqadFeRFDUCE%2FwPB0I%3D&amp;ref=L%3A-1010368369812878695&amp;srno=p_8&amp;query=washoing+meashine+lfb&amp;otracker=from-search" target="_blank">
                              <h3>GRAB THE DEAL</h3>
                            </a>
                            </span>
                          </div>
                        </div>
                        <p class="electronics-item-name">Washing Machine</p>
                      <img src="\common\images_of_payit_home/flip logo.png" width="100" style=" position: absolute;width: 103px;height: 74px;margin-top: -98px;margin-left: 14px;opacity: 0.5;" />
                        <p><span class="real-price-span">Rs31,990</span> <span class="price-span"><del>Rs34,690 </del></span></p>
                        <div class="ram hide">
                          <h3>GRAB THE DEAL</h3>
                        </div>
                      </div>
                      <div class="col-sm-4 electronics-image-div-inside1">
                        <div id="mainwrapper">
                          <div id="box-6" class="box">
                            <img id="image-6" src="../common/images_of_payit_home/speaker.png" width="100%" />
                            <span class="caption scale-caption caption1">
                              <a href="http://www.snapdeal.com/product/bexton-super-smart-1600-docking/682298303497" target="_blank">
                              <h3>GRAB THE DEAL</h3>
                            </a>
                            </span>
                          </div>
                        </div>
                        <p class="electronics-item-name">Speakers</p>
                        <img src="\common\images_of_payit_home/Snapdeal.png" width="100" style="position: absolute;width: 103px;height: 74px;margin-top: -94px;margin-left: 26px;opacity: 0.7; "/>
                        <p><span class="real-price-span">Rs675 </span> <span class="price-span"><del>Rs999</del></span></p>
                      </div>
                      <div class="col-sm-4">
                        <div id="mainwrapper">
                          <div id="box-6" class="box">
                            <img id="image-6" src="../common/images_of_payit_home/tv.png" width="100%" />
                            <span class="caption scale-caption caption1">
                              <a href="http://www.snapdeal.com/product/samsung-ua65h8000-55-above-3d/684412150754#bcrumbSearch:tv" target="_blank">
                              <h3>GRAB THE DEAL</h3>
                            </a>
                            </span>
                          </div>
                        </div>
                        <p class="fashion-item-name">LED TV</p>
                        <img src="\common\images_of_payit_home/Snapdeal.png" width="100" style="position: absolute;width: 103px;height: 74px;margin-top: -98px;margin-left: 12px;opacity: 0.7; "/>
                        <p><span class="real-price-span">Rs2,94,006</span> <span class="price-span"><del>Rs3,51,900</del></span></p>
                      </div>
                    </div>
                    <div class="col-sm-7 electronics-image-div1">
                      <div class="col-sm-4 electronics-image-div-inside1">
                        <div id="mainwrapper">
                          <div id="box-6" class="box">
                            <img id="image-6" src="../common/images_of_payit_home/camera.png" width="100%" />
                            <span class="caption scale-caption caption1">
                              <a href="http://www.snapdeal.com/product/nikon-coolpix-l840-black/685082803415#bcrumbSearch:cameras" target="_blank">
                              <h3>GRAB THE DEAL</h3>
                            </a>
                            </span>
                          </div>
                        </div>
                        <p class="electronics-item-name">Camera</p>
                        <img src="\common\images_of_payit_home/Snapdeal.png" width="100" style="position: absolute;width: 103px;height: 74px;margin-top: -98px;margin-left: 12px;opacity: 0.7; " />
                        <p><span class="real-price-span">Rs13,099</span> <span class="price-span"><del>Rs14,450</del></span></p>
                      </div>
                      <div class="col-sm-4 electronics-image-div-inside1">
                        <div id="mainwrapper">
                          <div id="box-6" class="box">
                            <img id="image-6" src="../common/images_of_payit_home/homedheater.png" width="100%" />
                            <span class="caption scale-caption caption1">
                              <a href="http://www.snapdeal.com/product/intex-computer-multimedia-speaker-it4850/1555333322#bcrumbSearch:home%20dheater" target="_blank">
                              <h3>GRAB THE DEAL</h3>
                            </a>
                            </span>
                          </div>
                        </div>
                        <p class="electronics-item-name">Speaker System</p>
                         <img src="\common\images_of_payit_home/Snapdeal.png" width="100" style="position: absolute;width: 103px;height: 74px;margin-top: -98px;margin-left: 12px;opacity: 0.7; " />
                        <p><span class="real-price-span">Rs4,789</span> <span class="price-span"><del>Rs5,300</del></span></p>
                      </div>
                      <div class="col-sm-4">
                        <div id="mainwrapper">
                          <div id="box-6" class="box">
                            <img id="image-6" src="../common/images_of_payit_home/refig.png" width="100%" />
                            <span class="caption scale-caption caption1">
                              <a href="http://www.snapdeal.com/product/whirlpool-215-imfresh-prm-5s/671765215185#bcrumbSearch:sumsang%20refrigerator%20single%20door%205%20star" target="_blank">
                              <h3>GRAB THE DEAL</h3>
                            </a>
                            </span>
                          </div>
                        </div>
                        <p class="electronics-item-name"> Refrigerator</p>
                         <img src="\common\images_of_payit_home/Snapdeal.png" width="100" style="position: absolute;width: 103px;height: 74px;margin-top: -98px;margin-left: 12px;opacity: 0.7; " />
                        <p><span class="real-price-span">Rs16,462</span> <span class="price-span"><del>Rs16,850</del></span></p>
                      </div>
                    </div>
                  </div>
                </div>
                <div id="e-i2" class="tab-pane fade">
                  <div class="row">
                    <div class="col-sm-5">
                      <img src="../common/images_of_payit_home/electronic.jpg" width="98%"/>
                    </div>
                    <div class="col-sm-7 electronics-image-div">
                      <div class="col-sm-4 electronics-image-div-inside1">
                        <div id="mainwrapper">
                          <div id="box-6" class="box">
                            <img id="image-6" src="../common/images_of_payit_home/homedheater.png" width="100%" />
                            <span class="caption scale-caption caption1">
                               <a href="http://www.snapdeal.com/product/intex-computer-multimedia-speaker-it4850/1555333322#bcrumbSearch:home%20dheater" target="_blank">
                              <h3>GRAB THE DEAL</h3>
                            </a>
                            </span>
                          </div>
                        </div>
                        <p class="electronics-item-name">Speaker System</p>
                         <img src="\common\images_of_payit_home/Snapdeal.png" width="100" style="position: absolute;width: 103px;height: 74px;margin-top: -98px;margin-left: 12px;opacity: 0.7; " />
                        <p><span class="real-price-span">Rs4,789</span> <span class="price-span"><del>Rs5,300</del></span></p>
                        <div class="ram hide">
                          <h3>GRAB THE DEAL</h3>
                        </div>
                      </div>
                      <div class="col-sm-4 electronics-image-div-inside1">
                        <div id="mainwrapper">
                          <div id="box-6" class="box">
                            <img id="image-6" src="../common/images_of_payit_home/washing.png" width="100%" />
                            <span class="caption scale-caption caption1">
                              <a href="http://www.flipkart.com/ifb-6-5-kg-fully-automatic-front-load-washing-machine/p/itmdyakygwwc8wya?pid=WMNDY9RWJH3MZRE3&amp;al=YUjTQZWHm6wD6Izz0Cvi%2BMldugMWZuE7Phn6Yd2VMSLQh%2BIiCFUYldD54hqadFeRFDUCE%2FwPB0I%3D&amp;ref=L%3A-1010368369812878695&amp;srno=p_8&amp;query=washoing+meashine+lfb&amp;otracker=from-search" target="_blank">
                              <h3>GRAB THE DEAL</h3>
                            </a>
                            </span>
                          </div>
                        </div>
                        <p class="electronics-item-name">Washing Machine</p>
                        <img src="\common\images_of_payit_home/flip logo.png" width="100" style=" position: absolute;width: 103px;height: 74px;margin-top: -98px;margin-left: 14px;opacity: 0.5;"/>
                        <p><span class="real-price-span">Rs31,990</span> <span class="price-span"><del>Rs34,690</del></span></p>
                      </div>
                      <div class="col-sm-4">
                        <div id="mainwrapper">
                          <div id="box-6" class="box">
                            <img id="image-6" src="../common/images_of_payit_home/coolers.png" width="100%" />
                            <span class="caption scale-caption caption1">
                              <a href="http://www.flipkart.com/symphony-diet-22i-tower-air-cooler/p/itmdhftxzy62dpst?pid=AICDHEWYHTYCGSZM&amp;al=FkLb69gK%2FKa6KmuHMH351cldugMWZuE7sHPMhtl4IOqwhMVeDfFPaUjM8iekbfReCfNuvvwXJCM%3D&amp;amp;ref=L%3A-3882891978407263083&amp;srno=p_8&amp;query=collers&amp;otracker=from-search" target="_blank">
                              <h3>GRAB THE DEAL</h3>
                            </a>
                            </span>
                          </div>
                        </div>
                        <p class="fashion-item-name">Air Cooler</p>
                        <img src="\common\images_of_payit_home/flip logo.png" width="100" style=" position: absolute;width: 103px;height: 74px;margin-top: -98px;margin-left: 14px;opacity: 0.5;"/>
                        <p><span class="real-price-span">Rs8,852</span> <span class="price-span"><del>Rs9,491</del></span></p>
                      </div>
                    </div>
                    <div class="col-sm-7 electronics-image-div1">
                      <div class="col-sm-4 electronics-image-div-inside1">
                        <div id="mainwrapper">
                          <div id="box-6" class="box">
                            <img id="image-6" src="../common/images_of_payit_home/refig.png" width="100%" />
                            <span class="caption scale-caption caption1">
                              <a href="http://www.snapdeal.com/product/whirlpool-215-imfresh-prm-5s/671765215185#bcrumbSearch:sumsang%20refrigerator%20single%20door%205%20star" target="_blank">
                              <h3>GRAB THE DEAL</h3>
                            </a>
                            </span>
                          </div>
                        </div>
                        <p class="electronics-item-name">Refrigerator</p>
                        <img src="\common\images_of_payit_home/Snapdeal.png" width="100" style="position: absolute;width: 103px;height: 74px;margin-top: -98px;margin-left: 12px;opacity: 0.7; "/>
                        <p><span class="real-price-span">Rs16,462</span> <span class="price-span"><del>Rs16,850</del></span></p>
                      </div>
                      <div class="col-sm-4 electronics-image-div-inside1">
                        <div id="mainwrapper">
                          <div id="box-6" class="box">
                            <img id="image-6" src="../common/images_of_payit_home/projectors.png" width="100%" />
                            <span class="caption scale-caption caption1">
                              <a href="http://www.snapdeal.com/product/epson-ehtw570-hd-ready-720p/675181056588#bcrumbSearch:digital%20camera|bcrumbLabelId:629" target="_blank">
                              <h3>GRAB THE DEAL</h3>
                            </a>
                            </span>
                          </div>
                        </div>
                        <p class="electronics-item-name">Projector</p>
                         <img src="\common\images_of_payit_home/Snapdeal.png" width="100" style="position: absolute;width: 103px;height: 74px;margin-top: -98px;margin-left: 12px;opacity: 0.7; "/>
                        <p><span class="real-price-span">Rs56,250</span> <span class="price-span"><del>Rs63,469</del></span></p>
                      </div>
                      <div class="col-sm-4">
                        <div id="mainwrapper">
                          <div id="box-6" class="box">
                            <img id="image-6" src="../common/images_of_payit_home/toster.png" width="100%" />
                            <span class="caption scale-caption caption1">
                              <a href="http://www.amazon.in/Bajaj-Majesty-ATX-2-Slice-800-Watt/dp/B009P2KY3W/ref=pd_cp_79_3?ie=UTF8&amp;refRID=193VGQJ3H135Q5X8211D" target="_blank">
                              <h3>GRAB THE DEAL</h3>
                            </a>
                            </span>
                          </div>
                        </div>
                        <p class="electronics-item-name">Toster</p>
                        <img src="\common\images_of_payit_home/amag.png" width="100" style="position: absolute;width: 103px;height: 74px;margin-top: -98px;margin-left: 12px;opacity: 0.7; "/>
                        <p><span class="real-price-span">Rs1,499</span> <span class="price-span"><del>Rs1,799</del></span></p>
                      </div>
                    </div>
                  </div>
                </div>
                <div id="e-i3" class="tab-pane fade">
                  <div class="row">
                    <div class="col-sm-5">
                      <img src="../common/images_of_payit_home/electronic.jpg" width="98%"/>
                    </div>
                    <div class="col-sm-7 electronics-image-div">
                      <div class="col-sm-4 electronics-image-div-inside1">
                        <div id="mainwrapper">
                          <div id="box-6" class="box">
                            <img id="image-6" src="../common/images_of_payit_home/tablef.png" width="100%" />
                            <span class="caption scale-caption caption1">
                              <a href="http://www.snapdeal.com/product/usha-400-mm-16-inch/1995942209#bcrumbSearch:table%20fans%20big%20size" target="_blank">
                              <h3>GRAB THE DEAL</h3>
                            </a>
                            </span>
                          </div>
                        </div>
                        <p class="electronics-item-name">Table Fans</p>
                        <img src="\common\images_of_payit_home/Snapdeal.png" width="100" style="position: absolute;width: 103px;height: 74px;margin-top: -98px;margin-left: 12px;opacity: 0.7; "/>
                        <p><span class="real-price-span">Rs2,100</span> <span class="price-span"><del>Rs2,650</del></span></p>
                        <div class="ram hide">
                          <h3>GRAB THE DEAL</h3>
                        </div>
                      </div>
                      <div class="col-sm-4 electronics-image-div-inside1">
                        <div id="mainwrapper">
                          <div id="box-6" class="box">
                            <img id="image-6" src="../common/images_of_payit_home/coolers.png" width="100%" />
                            <span class="caption scale-caption caption1">
                              <a href="http://www.flipkart.com/symphony-diet-22i-tower-air-cooler/p/itmdhftxzy62dpst?pid=AICDHEWYHTYCGSZM&amp;al=FkLb69gK%2FKa6KmuHMH351cldugMWZuE7sHPMhtl4IOqwhMVeDfFPaUjM8iekbfReCfNuvvwXJCM%3D&amp;amp;ref=L%3A-3882891978407263083&amp;srno=p_8&amp;query=collers&amp;otracker=from-search" target="_blank">
                              <h3>GRAB THE DEAL</h3>
                            </a>
                            </span>
                          </div>
                        </div>
                        <p class="electronics-item-name">Air Cooler</p>
                        <img src="\common\images_of_payit_home/flip logo.png" width="100" style=" position: absolute;width: 103px;height: 74px;margin-top: -98px;margin-left: 14px;opacity: 0.5;"/>
                        <p><span class="real-price-span">Rs8,852</span> <span class="price-span"><del>Rs9,491</del></span></p>
                      </div>
                      <div class="col-sm-4">
                        <div id="mainwrapper">
                          <div id="box-6" class="box">
                            <img id="image-6" src="../common/images_of_payit_home/cpu.png" width="100%" />
                            <span class="caption scale-caption caption1">
                              <a href="http://www.snapdeal.com/product/lenovo-h50-90b7007lin-desktop-4th/683506685514#bcrumbSearch:desktop" target="_blank">
                              <h3>GRAB THE DEAL</h3>
                            </a>
                            </span>
                          </div>
                        </div>
                        <p class="fashion-item-name">CPU</p>
                        <img src="\common\images_of_payit_home/Snapdeal.png" width="100" style="position: absolute;width: 103px;height: 74px;margin-top: -90px;margin-left: 12px;opacity: 0.7; "/>
                        <p><span class="real-price-span">Rs17,499</span> <span class="price-span"><del>Rs28,690</del></span></p>
                      </div>
                    </div>
                    <div class="col-sm-7 electronics-image-div1">
                      <div class="col-sm-4 electronics-image-div-inside1">
                        <div id="mainwrapper">
                          <div id="box-6" class="box">
                            <img id="image-6" src="../common/images_of_payit_home/destop.png" width="100%" />
                            <span class="caption scale-caption caption1">
                              <a href="http://www.snapdeal.com/product/hp-181310-all-in-one/598058353#bcrumbSearch:desktop" target="_blank">
                              <h3>GRAB THE DEAL</h3>
                            </a>
                            </span>
                          </div>
                        </div>
                        <p class="electronics-item-name">Desktop</p>
                        <img src="\common\images_of_payit_home/Snapdeal.png" width="100" style="position: absolute;width: 103px;height: 74px;margin-top: -90px;margin-left: 12px;opacity: 0.7; "/>
                        <p><span class="real-price-span">Rs23,108</span> <span class="price-span"><del>Rs32,000</del></span></p>
                      </div>
                      <div class="col-sm-4 electronics-image-div-inside1">
                        <div id="mainwrapper">
                          <div id="box-6" class="box">
                            <img id="image-6" src="../common/images_of_payit_home/vacume.png" width="100%" />
                            <span class="caption scale-caption caption1">
                              <a href="http://www.flipkart.com/shopper52-2-1-2in1crbvm-car-vacuum-cleaner/p/itmeb2kmh3kbfv2x?pid=VCLEB2KMHG5WGA9F&amp;al=FkLb69gK%2FKa4RKogoSVpa" target="_blank">
                              <h3>GRAB THE DEAL</h3>
                            </a>
                            </span>
                          </div>
                        </div>
                        <p class="electronics-item-name">Vacuum Cleaner</p>
                        <img src="\common\images_of_payit_home/flip logo.png" width="100" style=" position: absolute;width: 103px;height: 74px;margin-top: -98px;margin-left: 14px;opacity: 0.6;"/>
                        <p><span class="real-price-span">Rs1,299 </span> <span class="price-span"><del>Rs1,499</del></span></p>
                      </div>
                      <div class="col-sm-4">
                        <div id="mainwrapper">
                          <div id="box-6" class="box">
                            <img id="image-6" src="../common/images_of_payit_home/ind.png" width="100%" />
                            <span class="caption scale-caption caption1">
                              <a href="http://www.flipkart.com/pigeon-favourite-ic-1800-w-induction-cooktop/p/itmdzzm5krfggpes?pid=ICTDZZM3SKDMH5CK&amp;al=FkLb69gK%2FKaA2LtRrESsX8ldugMWZuE7FGidp7IrMvwEVQl1QLq23N5ozLFF%2BUPtfBznft94KZc%3D&amp;ref=L%3A-3589601271484952940&amp;srno=p_2&amp;amp;query=electric+stove&amp;otracker=from-search" target="_blank">
                              <h3>GRAB THE DEAL</h3>
                            </a>
                            </span>
                          </div>
                        </div>
                        <p class="electronics-item-name">Induction Cooktop</p>
                         <img src="\common\images_of_payit_home/flip logo.png" width="100" style=" position: absolute;width: 103px;height: 74px;margin-top: -98px;margin-left: 14px;opacity: 0.6;"/>
                        <p><span class="real-price-span">Rs1,499</span> <span class="price-span"><del>Rs2,995</del></span></p>
                      </div>
                    </div>
                  </div>
                </div>
                <div id="e-i4" class="tab-pane fade">
                  <div class="row">
                    <div class="col-sm-5">
                      <img src="../common/images_of_payit_home/electronic.jpg" width="98%"/>
                    </div>
                    <div class="col-sm-7 electronics-image-div">
                      <div class="col-sm-4 electronics-image-div-inside1">
                        <div id="mainwrapper">
                          <div id="box-6" class="box">
                            <img id="image-6" src="../common/images_of_payit_home/cooker.png" width="100%" />
                            <span class="caption scale-caption caption1">
                              <a href="http://www.flipkart.com/pigeon-joy-sdx-double-1-8-lt-l-electric-rice-cooker/p/itmdrfv8wvyzp5xr?pid=ECKDRFV8WVYZP5XR&amp;al=FkLb69gK%2FKY1Mh4zbSe1WsldugMWZuE7yhBed0L1Dzho0LQPlUocRy4LTlF14%2B%2BOau6n4mfGDiw%3D&amp;ref=L%3A8414837643340892034&amp;srno=p_15&amp;amp;query=electric+cooker&amp;otracker=from-search" target="_blank">
                              <h3>GRAB THE DEAL</h3>
                            </a>
                            </span>
                          </div>
                        </div>
                        <p class="electronics-item-name">Electric Cooker</p>
                        <img src="\common\images_of_payit_home/flip logo.png" width="100" style=" position: absolute;width: 103px;height: 74px;margin-top: -98px;margin-left: 14px;opacity: 0.6;"/>
                        <p><span class="real-price-span">Rs1,649 </span> <span class="price-span"><del>Rs1,995</del></span></p>
                        <div class="ram hide">
                          <h3>GRAB THE DEAL</h3>
                        </div>
                      </div>
                      <div class="col-sm-4 electronics-image-div-inside1">
                        <div id="mainwrapper">
                          <div id="box-6" class="box">
                            <img id="image-6" src="../common/images_of_payit_home/toster.png" width="100%" />
                            <span class="caption scale-caption caption1">
                              <a href="http://www.amazon.in/Bajaj-Majesty-ATX-2-Slice-800-Watt/dp/B009P2KY3W/ref=pd_cp_79_3?ie=UTF8&amp;refRID=193VGQJ3H135Q5X8211D" target="_blank">
                              <h3>GRAB THE DEAL</h3>
                            </a>
                            </span>
                          </div>
                        </div>
                        <p class="electronics-item-name">Toster</p>
                        <img src="\common\images_of_payit_home/amag.png" width="100" style="position: absolute;width: 103px;height: 74px;margin-top: -98px;margin-left: 12px;opacity: 0.7; "/>
                        <p><span class="real-price-span">Rs1,499</span> <span class="price-span"><del>Rs1,799</del></span></p>
                      </div>
                      <div class="col-sm-4">
                        <div id="mainwrapper">
                          <div id="box-6" class="box">
                            <img id="image-6" src="../common/images_of_payit_home/mixer.png" width="100%" />
                            <span class="caption scale-caption caption1">
                              <a href="http://www.flipkart.com/philips-hl7510-00-550-w-mixer-grinder/p/itmeyfrhpujntdvu?pid=MIXDZ78HT3ZTYHFW&amp;al=FkLb69gK%2FKaCiguCI0GUjcldugMWZuE7Qdj0IGOOVqveeDT%2B0KzSR7mXcKcf1N%2BhX%2FzDRRHT%2BH4%3D&amp;ref=L%3A5827770502914786256&amp;srno=p_11&amp;query=grinder&amp;otracker=from-search" target="_blank">
                              <h3>GRAB THE DEAL</h3>
                            </a>
                            </span>
                          </div>
                        </div>
                        <p class="fashion-item-name">Mixer</p>
                        <img src="\common\images_of_payit_home/flip logo.png" width="100" style=" position: absolute;width: 103px;height: 74px;margin-top: -98px;margin-left: 14px;opacity: 0.6;"/>
                        <p><span class="real-price-span">Rs2,499</span> <span class="price-span"><del>Rs3,495</del></span></p>
                      </div>
                    </div>
                    <div class="col-sm-7 electronics-image-div1">
                      <div class="col-sm-4 electronics-image-div-inside1">
                        <div id="mainwrapper">
                          <div id="box-6" class="box">
                            <img id="image-6" src="../common/images_of_payit_home/grinder.png" width="100%" />
                            <span class="caption scale-caption caption1">
                              <a href="http://www.snapdeal.com/product/sree-lakshmi-table-top-wet/659866575299#bcrumbSearch:griners|bcrumbLabelId:3604" target="_blank">
                              <h3>GRAB THE DEAL</h3>
                            </a>
                            </span>
                          </div>
                        </div>
                        <p class="electronics-item-name">Grinder</p>
                        <img src="\common\images_of_payit_home/Snapdeal.png" width="100" style="position: absolute;width: 103px;height: 74px;margin-top: -98px;margin-left: 12px;opacity: 0.7; "/>
                        <p><span class="real-price-span">Rs2,854</span> <span class="price-span"><del>Rs4,990</del></span></p>
                      </div>
                      <div class="col-sm-4 electronics-image-div-inside1">
                        <div id="mainwrapper">
                          <div id="box-6" class="box">
                            <img id="image-6" src="../common/images_of_payit_home/projectors.png" width="100%" />
                            <span class="caption scale-caption caption1">
                              <a href="http://www.snapdeal.com/product/epson-ehtw570-hd-ready-720p/675181056588#bcrumbSearch:digital%20camera|bcrumbLabelId:629" target="_blank">
                              <h3>GRAB THE DEAL</h3>
                            </a>
                            </span>
                          </div>
                        </div>
                        <p class="electronics-item-name">Projector</p>
                        <img src="\common\images_of_payit_home/Snapdeal.png" width="100" style="position: absolute;width: 103px;height: 74px;margin-top: -98px;margin-left: 12px;opacity: 0.7; "/>
                        <p><span class="real-price-span">Rs56,250</span> <span class="price-span"><del>Rs63,469</del></span></p>
                      </div>
                      <div class="col-sm-4">
                        <div id="mainwrapper">
                          <div id="box-6" class="box">
                            <img id="image-6" src="../common/images_of_payit_home/geneator.png" width="100%" />
                            <span class="caption scale-caption caption1">
                              <a href="http://www.snapdeal.com/product/poweron-generator-red/653306421143#bcrumbSearch:|bcrumbLabelId:790" target="_blank">
                              <h3>GRAB THE DEAL</h3>
                            </a>
                            </span>
                          </div>
                        </div>
                        <p class="electronics-item-name">Generator</p>
                        <img src="\common\images_of_payit_home/Snapdeal.png" width="100" style="position: absolute;width: 103px;height: 74px;margin-top: -98px;margin-left: 12px;opacity: 0.7; "/>
                        <p><span class="real-price-span">Rs65,450</span> <span class="price-span"><del>Rs70,000</del></span></p>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>





    <!-- Electronics Item End -->
