
  <!-- content -->
  <div class="page-content pdt40"  >
 
   <div class="page-section">
    <div class="container">
     <div class="row pdt40 " style="margin-top: 80px;">
     <!-- <div class="col-md-2" style="margin:auto 0px;"></div> -->

       <div class="col-md-12 pdl0 form-signin" style="margin:auto 0px;"> 

       <div class="lonin_side-view col-md-4 pdl0">

       <div id="myCarousel" class="carousel slide" data-ride="carousel">
  <!-- Indicators -->
  <ol class="carousel-indicators">
    <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
    <li data-target="#myCarousel" data-slide-to="1"></li>
    <li data-target="#myCarousel" data-slide-to="2"></li>
  </ol>

  <!-- Wrapper for slides -->
  <div class="carousel-inner" role="listbox">
    <div class="item active">
     <ul class="left">
            <i class="glyph-icon flaticon-tool9">Payitezy</i>
            <h5>Pay with Payitezy Wallet</h5>
            <li>Payitezy your bills </li>
            <li>In case of refund, money will be credited to your wallet </li>
            <li> Use Payitezy Wallet on our websites</li>
        </ul>
    </div>

    <div class="item">
      <ul class="left">
            <i class="glyph-icon flaticon-tool9">Payitezy</i>
            <h5>Pay with Payitezy Wallet</h5>
            <li>Payitezy your bills </li>
            <li>In case of refund, money will be credited to your wallet </li>
            <li> Use Payitezy Wallet on our websites</li>
        </ul>
    </div>

    <div class="item">
       <ul class="left">
            <i class="glyph-icon flaticon-tool9">Payitezy</i>
            <h5>Pay with Payitezy Wallet</h5>
            <li>Payitezy your bills </li>
            <li>In case of refund, money will be credited to your wallet </li>
            <li> Use Payitezy Wallet on our websites</li>
        </ul>
    </div>
  </div>

  
</div>
 
 
 

        <!--  <ul class="left">
            <i class="glyph-icon flaticon-tool9">Payitezy</i>
            <h5>Pay with Payitezy Wallet</h5>
            <li>Payitezy your bills </li>
            <li>In case of refund, money will be credited to your wallet </li>
            <li> Use Payitezy Wallet on our websites</li>
        </ul> -->
       </div>     
<div class=" col-md-8">
 <ul class="nav nav-tabs">
   
    <li class="active"><a href="#menu1">Login </a></li>
    <li><a href="#menu2">Register</a></li>
    
  </ul>

  <div class="tab-content ">
    <div id="menu1" class="tab-pane fade in active pdt30">
    <div class="col-lg-6" style="border-right:1px solid #ccc;">
        <!-- <h2 class="form-signin-heading">Please sign in</h2> -->
        <form>
        <label for="inputEmail" class="">Email address</label>
        <input type="email" id="inputEmail" class="form-control" placeholder="Email address" required="" autofocus="">
        <label for="inputPassword" class="">Password</label>
        <input type="password" id="inputPassword" class="form-control" placeholder="Password" required="">
        <div class="checkbox">
          <label>
            <input type="checkbox" value="remember-me"> Remember me
          </label>
        </div>
        <button class="btn btn-lg  btn-block" type="submit"><i class="glyph-icon flaticon-avatar pdr10"></i> Secure LogIn</button>
        <a href="" class="frg_pwd pull-right">Forgot Password ?</a>
        
      </form>
      <br/>
      <br/>
      </div>
      <div class="col-lg-6">
        <form>
          <br/>
          <br/>
        <button class="btn btn-lg  btn-block facb_lgin" type="submit"><i class="fa fa-facebook"></i>Sign in With Facebook</button>
         <h3 class="text-center"> Or</h3>
        <button class="btn btn-lg  btn-block gmail_lgin" type="submit"><i class="fa fa-envelope"></i>Sign in With Gmail</button>
        </form>
      </div>
    </div>
    <div id="menu2" class="tab-pane fade pdt20">
    <form >
        <!-- <h2 class="form-signin-heading">Please sign in</h2> -->
        <div class="col-md-6">
        <h5>PERSONAL INFORMATION</h5>
        <label  class="">Full Name</label>
        <input type="text" id="" class="form-control" placeholder="Full Name" required="" autofocus="">
         <label for="inputEmail" class="">Mobile Number</label>
        <input type="text"  class="form-control" placeholder="Mobile Number" required="" >
         <label for="inputEmail" class="">Email Address</label>
        <input type="email"  class="form-control" placeholder="Password" required="">
       
        </div>
         <div class="col-md-6">
         <h5>LOGIN INFORMATION</h5>
           <label  class="">Password</label>
        <input type="password" id="" class="form-control" placeholder="Password" required="" >
        <label  class="">Confirm Password</label>
        <input type="password" class="form-control" placeholder="Confirm Password" required="">
        <div class="checkbox">
          <label>
            <input type="checkbox" value="remember-me"> I hearby  Agree
          </label>
        </div>
        <button class="btn btn-lg  btn-block mgt20" type="submit"><i class="glyph-icon flaticon-user106 pdr10"></i>Create Your Payitezy Account</button>
         </div>
        
      </form>
     
    </div>
    
  </div>

      </div>
       </div>
<!--        <div class="col-md-1" style="margin:auto 0px;"></div> -->
     </div>
    </div>
   </div> <!-- page-section -->
   
   <div class="pagesection mgt10" style="background-color:#f7f7f7;">
    <div class="container">
     <div class="row"></div>
     <div class=" row" ></div>
    </div>
   </div><!-- pagesection-->
  </div><!-- content end-->
 