  <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
<script>
$(document).ready(function(){
    $(".nav-tabs a").click(function(){
        $(this).tab('show');
    });
});
</script>
  <div class="page-content pdt40"  >
  <div class="">
    <div class="" >
      <div class="page-section banner default" id="tab_img">
         <div class="container">
                <div class="row">
                    <!-- <img src="/common/img/home/flipkart/20150529-113916-row-4.png" /> -->
                     <div style="float: left;margin-top: 170px;margin-left: 360px;padding: 20px;"><h1 style="color:#008899;">Find Products and Deals</h1></div>
                    <div class="payit-search">


                        <div class="col-lg-9 pdl0 pdr0">
                            <input type="search" class="search-input" placeholder="search for latest deals and prices" />
                                <i class="fa fa-search search-position"></i>
                           
                        </div>
                        <div class="col-lg-3 pdl0 pdr0">
                            <input type="button" class="input_main_search" value="SEARCH" />
                        </div>
                    </div>
                </div>
            </div>
      
      </div>

      <!-- its bill payments and recharge tabs -->
<!-- <th:block th:replace="fragments/BillTicketPaymentsFragment"></th:block> -->




    

    </div>
  </div>
  <th:block th:replace="fragments/StoresListFragment"></th:block><!-- page-section --> 
 <th:block th:replace="fragments/FeatureDealsFragment"></th:block><!-- page-section -->
 <th:block th:replace="fragments/ImageBannerFragment"></th:block>


<th:block th:replace="fragments/NewArrivalsFragment"></th:block>
<th:block th:replace="fragments/ParallaxFragment"></th:block>

<th:block th:replace="fragments/LatestDealsFragment"></th:block>
<th:block th:replace="fragments/ImageBannerSecondFragment"></th:block>
  <th:block th:replace="fragments/FashionStyleFragment"></th:block>
   <!-- <div class="pagesection mgt10 ">
    <div class="container">
     <div class="row">
     <div class="col-md-12" >
      <div class="htmlwidget  hidden-xs hidden-xs" style="">
       <table style="width: 100%;" border="0" cellspacing="0" cellpadding="0">
        <tbody>
         <tr>
          <td height="20">&nbsp;</td>
         </tr>
        </tbody>
       </table>
      </div>
     </div>
     </div>
    </div>
   </div> --><!-- pagesection-->
   <th:block th:replace="fragments/BooksMediaFragment"></th:block><!-- pagesection-->
   <th:block th:replace="fragments/JewelryItemFragment"></th:block>
  </div><!-- content end-->
