<div class="col-md-12" ng-init="recharge_type='prepaid_recharge'">
            <label class="mg-50 radio-label">
          <input type="radio" name="optionsRadios" id="optionsRadios1" value="prepaid_recharge" ng-model="recharge_type"  ng-checked="true" />
            Prepaid Mobile
          </label>
          <label class="radio-label">
            <input type="radio" name="optionsRadios" id="optionsRadios2" value="postpaid_recharge" ng-model="recharge_type" />
            Postpaid Mobile
          </label>
              </div>

              <form ng-show="recharge_type == 'prepaid_recharge'">
           <div class="col-md-3">
            <span class="input_spl input--hoshi">
        <input type="text" ng-keyup="getPlans($event)"  ng-model="number" class="input__field input__field--hoshi  prenumber_input" pattern="[0-9]*" maxlength="10"/>
          <label class="input__label input__label--hoshi input__label--hoshi-color-1" for="input-4">
            <span class="input__label-content input__label-content--hoshi">Prepaid Mobile Number</span>
          </label>
        </span> 
           </div>

           <div class="col-md-3">
            <span class="input_spl input--hoshi">
          <!-- <input class="input__field input__fieldhoshi" type="text" id="input-4" /> -->
              <select ng-model="operator" class="input__field input__field--hoshi form-control_select1" aria-label="ngSelected demo">
                            <option value="" disabled="disabled"  selected="selected"><span style="color:#dddddd"></span></option> 
                           <option  th:each="operator:${payitezyPrepaidOperators}"  th:value="${operator.id}" th:text="${operator.payitezyOperatorName}" th:attr="data-attr=${operator.payitezyOperatorType}">Airtel</option>
                        </select>
          <label class="input__label input__label--hoshi input__label--hoshi-color-1" for="input-4">
            <span class="input__label-content input__label-content--hoshi">Operator</span>
          </label>
        </span>
         </div>

           <div class="col-md-2">

            <span class="input_spl input--hoshi">
         <input type="text" ng-model="amount" class="input__field input__field--hoshi amt"/>
          <label class="input__label input__label--hoshi input__label--hoshi-color-1" for="input-4">
            <span class="input__label-content input__label-content--hoshi">Amount</span>
          </label>
        </span>
            
           </div>

           <div class="col-md-2 p-none brw_plans">
             <div class="f-12 c-blk">Browse Plans of <select ng-model="operator" class="form-control_select1" style="width: 75px;float: left;padding: 0px;margin: 10px;border:none !important;font-size:12px !important;" aria-label="ngSelected demo">
                            <option value="" disabled="disabled"  selected="selected"><span style="color:#dddddd"></span></option> 
                           <option  th:each="operator:${payitezyPrepaidOperators}"  th:value="${operator.id}" th:text="${operator.payitezyOperatorName}" th:attr="data-attr=${operator.payitezyOperatorType}">Airtel</option>
                        </select> Operator</div>
             
             
                <select ng-model="numberCircle" id="inputEmail"  class="" aria-label="ngSelected demo" disabled="disabled" style="border: none !important;font-size:12px !important;width: 93px;float: left;padding: 0px;margin: -27px 85px;" >
                     <option th:each="circle:${payitezyCircles}"  th:value="${circle.id}" th:text="${circle.circleName}">States</option>
                        </select>
                       
           </div>

           <div class="col-md-2 btn-mg">
     <button type="submit" class="btn btn-proceed" ng-click="getPrepaidMobileRecharge($event)"><i class="fa fa-check-circle" aria-hidden="true"></i>Proceed</button>
           </div>
           </form>

           

<!-- Postpaid Form Details -->
                 <form ng-show="recharge_type == 'postpaid_recharge'">
           <div class="col-md-3">
            <span class="input_spl input--hoshi">
           <input type="text" ng-keyup="getPostpaidPlans($event)"  ng-model="postpaidnumber" class="input__field input__field--hoshi" pattern="[0-9]*" maxlength="10"/>
          <label class="input__label input__label--hoshi input__label--hoshi-color-1" for="input-4">
            <span class="input__label-content input__label-content--hoshi">Postpaid Mobile Number</span>
          </label>
        </span> 
           </div>

           <div class="col-md-3">
            <span class="input_spl input--hoshi">
          <!-- <input class="input__field input__fieldhoshi" type="text" id="input-4" /> -->
              <select ng-model="postpaidoperator" class="input__field input__field--hoshi form-control_select1" aria-label="ngSelected demo">
                           <!--  <option value="" disabled="disabled"  selected="selected"><span style="color:#dddddd"></span></option> -->
                           <option  th:each="operator:${payitezyPostpaidOperators}"  th:value="${operator.id}" th:text="${operator.payitezyOperatorName}" th:attr="data-attr=${operator.payitezyOperatorType}">Airtel</option>
                           
                        </select>
          <label class="input__label input__label--hoshi input__label--hoshi-color-1" for="input-4">
            <span class="input__label-content input__label-content--hoshi">Operator</span>
          </label>
        </span>
         </div>

           <div class="col-md-2">

            <span class="input_spl input--hoshi">
         <input type="text" ng-model="billamount" class="input__field input__field--hoshi amt"/>
          <label class="input__label input__label--hoshi input__label--hoshi-color-1" for="input-4">
            <span class="input__label-content input__label-content--hoshi">Amount</span>
          </label>
        </span>
            
           </div>

           <!-- <div class="col-md-2 p-none brw_plans hide">
             <a class="f-12 c-blk">Browse Plans of <span>&nbsp;{{operatorarray.finaloperator}}</span> Operator</a>
                <select ng-model="numberCircle" id="inputEmail"  class="form-control_select" aria-label="ngSelected demo" disabled="disabled" style="border-bottom:none !important;font-size:12px !important;">
                     <option th:each="circle:${payitezyCircles}"  th:value="${circle.id}" th:text="${circle.circleName}">States</option>
                        </select>
           </div> -->

           <div class="col-md-4 btn-mg">
     <button type="submit" class="btn btn-proceed" ng-click="getPostpaidMobileBillPayment($event)"><i class="fa fa-check-circle" aria-hidden="true"></i>Proceed</button>
           </div>
           </form>






     <!-- Plans for Recharges -->
            <div class="col-lg-12 recharge_plans hide" style="background:rgba(255, 255, 255, 0.78);margin-top:55px;">
                  <div class="row b-b">
                     <div class="col-lg-2"> <a class="c-blk"><label>Browse Plans of <span>&nbsp;{{operatorarray.finaloperator}}</span> Operator</label></a><!--  <select ng-model="operator" id="inputEmail"  class="form-control_select" aria-label="ngSelected demo" disabled="disabled" style="border-bottom:none !important;">
                            <option value="" disabled="disabled"  selected="selected"><span style="color:#dddddd">operator</span></option>
                           <option  value="1">Airtel</option>
                           <option value="2">Vodafone</option>
                           <option value="3">BSNL TopUp</option>
                           <option value="4">Reliance CDMA</option>
                           <option value="5">Reliance GSM</option>
                           <option value="6">Aircel</option>
                           <option value="8">Idea</option>
                           <option value="9">Tata Indicom</option>
                           <option value="11">Tata Docomo</option>
                           <option value="12">Virgin CDMA</option>
                           <option value="16">Uninor</option>
                        </select> -->
               <select ng-model="numberCircle" id="inputEmail"  class="form-control_select" aria-label="ngSelected demo" disabled="disabled" style="border-bottom:none !important;font-size:12px !important;">
                     <option th:each="circle:${payitezyCircles}"  th:value="${circle.id}" th:text="${circle.circleName}">States</option>
                        </select>
                      </div>
                     <div class="col-lg-2 p-none"><a class="c-blk"><label>TalkTime</label></a></div>
                     <div class="col-lg-2 p-none"><a class="c-blk"><label>Validity</label></a></div>
                     <div class="col-lg-4"><a class="c-blk"><label>Description</label></a></div>
                     <div class="col-lg-2"><a class="c-blk"><label>Price</label></a></div>
                  </div>

                   <ul class="nav col-lg-2 col-md-2 col-sm-2">

            <li class="" ng-repeat="(k,v) in pre_recharge_type">
              <a class="f-c-w" data-toggle="tab" href="#{{k | nospace}}">
               <span class="mbl_pic tab_icn"></span>
               <span class=" tab_txt">{{k}}</span>
            </a></li>
            
            
         </ul>
          <div class="tab-content col-lg-10 col-md-10 col-sm-10 recharge_plans_div">
                     <div id="2GData" class="tab-pane fade in active">
                        <div class="row row_padding" ng-repeat="(k,v) in twog">
                         <!--  <div ng-repeat="(k1,v1) in v"> -->
                        <div class="col-lg-2 p-none"><a class="f-c-w">{{v.recharge_talktime}}</a></div>
                     <div class="col-lg-3"><a class="f-c-w">{{v.recharge_validity}}</a></div>
                     <div class="col-lg-5 p-none"><a class="f-c-w">{{v.recharge_shortdesc}}</a><a>{{v.recharge_longdesc}}</a></div>
                     <div class="col-lg-2 p-none"><a class="plans_btn f-c-w " ng-click="getRechargeValue($event)">{{v.recharge_amount}}<i class="fa fa-inr icon_padding" aria-hidden="true"></i></a></div>
                   <!-- </div> -->
                  </div>
                  
                  </div>
                    
                 
                     <div id="3GData" class="tab-pane fade in">
                       <div class="row row_padding" ng-repeat="(k,v) in threeg">
                         <!--  <div ng-repeat="(k1,v1) in v"> -->
                        <div class="col-lg-2 p-none"><a class="f-c-w">{{v.recharge_talktime}}</a></div>
                     <div class="col-lg-3"><a class="f-c-w">{{v.recharge_validity}}</a></div>
                     <div class="col-lg-5 p-none"><a class="f-c-w">{{v.recharge_shortdesc}}</a><a>{{v.recharge_longdesc}}</a></div>
                     <div class="col-lg-2 p-none"><a class="plans_btn f-c-w ">{{v.recharge_amount}}<i class="fa fa-inr icon_padding" aria-hidden="true"></i></a></div>
                   <!-- </div> -->
                  </div>
                  </div>


                     <div id="FullTalktime" class="tab-pane fade in">
                       <div class="row row_padding" ng-repeat="(k,v) in ft">
                         <!--  <div ng-repeat="(k1,v1) in v"> -->
                        <div class="col-lg-2 p-none"><a class="f-c-w">{{v.recharge_talktime}}</a></div>
                     <div class="col-lg-3"><a class="f-c-w">{{v.recharge_validity}}</a></div>
                     <div class="col-lg-5 p-none"><a class="f-c-w">{{v.recharge_shortdesc}}</a><a>{{v.recharge_longdesc}}</a></div>
                     <div class="col-lg-2 p-none"><a class="plans_btn f-c-w ">{{v.recharge_amount}}<i class="fa fa-inr icon_padding" aria-hidden="true"></i></a></div>
                   <!-- </div> -->
                  </div>
                  </div>
                    
                
                     <div id="ISD" class="tab-pane fade in">
                      <div class="row row_padding" ng-repeat="(k,v) in isd">
                         <!--  <div ng-repeat="(k1,v1) in v"> -->
                        <div class="col-lg-2 p-none"><a class="f-c-w">{{v.recharge_talktime}}</a></div>
                     <div class="col-lg-3"><a class="f-c-w">{{v.recharge_validity}}</a></div>
                     <div class="col-lg-5 p-none"><a class="f-c-w">{{v.recharge_shortdesc}}</a><a>{{v.recharge_longdesc}}</a></div>
                     <div class="col-lg-2 p-none"><a class="plans_btn f-c-w ">{{v.recharge_amount}}<i class="fa fa-inr icon_padding" aria-hidden="true"></i></a></div>
                   <!-- </div> -->
                  </div>
                  </div>


                     <div id="Local" class="tab-pane fade in">
                        <div class="row row_padding" ng-repeat="(k,v) in l">
                         <!--  <div ng-repeat="(k1,v1) in v"> -->
                        <div class="col-lg-2 p-none"><a class="f-c-w">{{v.recharge_talktime}}</a></div>
                     <div class="col-lg-3"><a class="f-c-w">{{v.recharge_validity}}</a></div>
                     <div class="col-lg-5 p-none"><a class="f-c-w">{{v.recharge_shortdesc}}</a><a>{{v.recharge_longdesc}}</a></div>
                     <div class="col-lg-2 p-none"><a class="plans_btn f-c-w ">{{v.recharge_amount}}<i class="fa fa-inr icon_padding" aria-hidden="true"></i></a></div>
                   <!-- </div> -->
                  </div>
                  </div>
                    
               
               <div id="Other" class="tab-pane fade in">
                      <div class="row row_padding" ng-repeat="(k,v) in other">
                         <!--  <div ng-repeat="(k1,v1) in v"> -->
                        <div class="col-lg-2 p-none"><a class="f-c-w">{{v.recharge_talktime}}</a></div>
                     <div class="col-lg-3"><a class="f-c-w">{{v.recharge_validity}}</a></div>
                     <div class="col-lg-5 p-none"><a class="f-c-w">{{v.recharge_shortdesc}}</a><a>{{v.recharge_longdesc}}</a></div>
                     <div class="col-lg-2 p-none"><a class="plans_btn f-c-w ">{{v.recharge_amount}}<i class="fa fa-inr icon_padding" aria-hidden="true"></i></a></div>
                   <!-- </div> -->
                  </div>
                  </div>


                     <div id="Roaming" class="tab-pane fade in">
                      <div class="row row_padding" ng-repeat="(k,v) in roaming">
                         <!--  <div ng-repeat="(k1,v1) in v"> -->
                        <div class="col-lg-2 p-none"><a class="f-c-w">{{v.recharge_talktime}}</a></div>
                     <div class="col-lg-3"><a class="f-c-w">{{v.recharge_validity}}</a></div>
                     <div class="col-lg-5 p-none"><a class="f-c-w">{{v.recharge_shortdesc}}</a><a>{{v.recharge_longdesc}}</a></div>
                     <div class="col-lg-2 p-none"><a class="plans_btn f-c-w ">{{v.recharge_amount}}<i class="fa fa-inr icon_padding" aria-hidden="true"></i></a></div>
                   <!-- </div> -->
                  </div>
                  </div>


                  <div id="SMS" class="tab-pane fade in">
                       <div class="row row_padding" ng-repeat="(k,v) in sms">
                         <!--  <div ng-repeat="(k1,v1) in v"> -->
                        <div class="col-lg-2 p-none"><a class="f-c-w">{{v.recharge_talktime}}</a></div>
                     <div class="col-lg-3"><a class="f-c-w">{{v.recharge_validity}}</a></div>
                     <div class="col-lg-5 p-none"><a class="f-c-w">{{v.recharge_shortdesc}}</a><a>{{v.recharge_longdesc}}</a></div>
                     <div class="col-lg-2 p-none"><a class="plans_btn f-c-w ">{{v.recharge_amount}}<i class="fa fa-inr icon_padding" aria-hidden="true"></i></a></div>
                   <!-- </div> -->
                  </div>
                  </div>  

                   <div id="STD" class="tab-pane fade in">
                       <div class="row row_padding" ng-repeat="(k,v) in std">
                         <!--  <div ng-repeat="(k1,v1) in v"> -->
                        <div class="col-lg-2 p-none"><a class="f-c-w">{{v.recharge_talktime}}</a></div>
                     <div class="col-lg-3"><a class="f-c-w">{{v.recharge_validity}}</a></div>
                     <div class="col-lg-5 p-none"><a class="f-c-w">{{v.recharge_shortdesc}}</a><a>{{v.recharge_longdesc}}</a></div>
                     <div class="col-lg-2 p-none"><a class="plans_btn f-c-w ">{{v.recharge_amount}}<i class="fa fa-inr icon_padding" aria-hidden="true"></i></a></div>
                   <!-- </div> -->
                  </div>
                  </div> 

                   <div id="Topup" class="tab-pane fade in">
                       <div class="row row_padding" ng-repeat="(k,v) in tu">
                         <!--  <div ng-repeat="(k1,v1) in v"> -->
                        <div class="col-lg-2 p-none"><a class="f-c-w">{{v.recharge_talktime}}</a></div>
                     <div class="col-lg-3"><a class="f-c-w">{{v.recharge_validity}}</a></div>
                     <div class="col-lg-5 p-none"><a class="f-c-w">{{v.recharge_shortdesc}}</a><a>{{v.recharge_longdesc}}</a></div>
                     <div class="col-lg-2 p-none"><a class="plans_btn f-c-w ">{{v.recharge_amount}}<i class="fa fa-inr icon_padding" aria-hidden="true"></i></a></div>
                   <!-- </div> -->
                  </div>
                  </div> 

                  </div>
                </div> 
<!-- End Plans for Recharges -->

