  <!-- Men Fashion -->


    <div class="mfashion">
      <div class="container mfashion-contai-div">
        <div class="row">
          <div class="col-sm-3 mfashion-div">
            <div class="mfashion-head">
              MENS FASHION
            </div>
            <ul>
              <li><a href="#">Shirts</a></li>
              <li><a href="#">T-Shirts</a></li>
              <li><a href="#">Jackets</a></li>
              <li><a href="#">Watches</a></li>
              <li><a href="#">Suits</a></li>
              <li><a href="#">Footwear</a></li>
              <li><a href="#">Tresours</a></li>
              <li><a href="#">Accessories</a></li>
              <li><a href="#">Sunglasses</a></li>
              <li><a href="#">Scarves</a></li>
              <li><a href="#">Hair Accessories</a></li>
            </ul>
          </div>
          <div class="col-sm-9 mfashion-div2">
            <div>
              <ul class="nav nav-tabs ">
                <li class="active"><a data-toggle="tab" href="#m-f1">Best Seller</a></li>
                <li><a data-toggle="tab" href="#m-f2">Most Viewed</a></li>
                <li><a data-toggle="tab" href="#m-f3">Specials</a></li>
                <li><a data-toggle="tab" href="#m-f4">New Arrivals</a></li>
                <li class="mfashion-arrows">
                  <a href="#">
                    <img src="../common/images_of_payit_home/1458135634_arrow-up-01.png" width="10%" style="float: right;"/>
                  </a>
                  <a href="#">
                    <img src="../common/images_of_payit_home/1458135604_arrow-down-01.png" width="10%" style="float: right;display: block;margin-top: -5px;"/>
                  </a>
                </li>
              </ul>
              <div class="tab-content">
                <div id="m-f1" class="tab-pane fade in active">
                  <div class="row">
                    <div class="col-sm-5">
                      <img src="../common/images_of_payit_home/men-fashion.jpg" width="98%" />
                    </div>
                    <div class="col-sm-7 mfashion-image-div">
                      <div class="col-sm-4 mfashion-image-div-inside1">
                        <div id="mainwrapper">
                          <div id="box-6" class="box">
                            <img id="image-6" src="../common/images_of_payit_home/formal.png" width="100%" />
                            <span class="caption scale-caption caption2">
                              <a href="http://www.flipkart.com/lee-marc-men-s-solid-formal-shirt/p/itmefdyta3nfvdvw?pid=SHTEFDYTHZJSFWUY&amp;ref=L%3A-2981910555541812297&amp;srno=p_1&amp;query=mens+formal+shirts&amp;otracker=from-search" target="_blank">
                              <h3>GRAB THE DEAL</h3>
                            </a>
                            </span>
                          </div>
                        </div>
                        <p class="mfashion-item-name">Formal Shirt</p>
                        <img src="\common\images_of_payit_home/flip logo.png" width="100" style=" position: absolute;width: 103px;height: 74px;margin-top: -98px;margin-left: 14px;opacity: 0.4;"/>
                        <p><span class="real-price-span">Rs495</span> <span class="price-span"><del>Rs550</del></span></p>
                        <div class="ram hide">
                          
                          <h3>GRAB THE DEAL</h3>
                       
                        </div>
                      </div>
                      <div class="col-sm-4 mfashion-image-div-inside1">
                        <div id="mainwrapper">
                          <div id="box-6" class="box">
                            <img id="image-6" src="../common/images_of_payit_home/T-shirt.png" width="100%" />
                            <span class="caption scale-caption caption2">
                              <a href="http://www.flipkart.com/thisrupt-solid-men-s-polo-neck-t-shirt/p/itme7ceuugvg27nn?pid=TSHE7CEU5NBHHEHF&amp;al=RcUdeNbCaixDydMr98Dj%2FsldugMWZuE7wkNiXfq8GiSdUSExQfxIMw17aUwzFUwg6jXwUg76snE%3D&amp;ref=L%3A-211581505124546221&amp;srno=p_2&amp;query=T-shits+for+men&amp;otracker=from-search" target="_blank" >
                              <h3>GRAB THE DEAL</h3>
                            </a>
                            </span>
                          </div>
                        </div>
                        <p class="mfashion-item-name">T-shirt</p>
                        <img src="\common\images_of_payit_home/flip logo.png" width="100" style="    position: absolute;width: 103px;height: 74px;margin-top: -98px;margin-left: 25px;opacity: 0.4;"/>
                        <p><span class="real-price-span">Rs539</span> <span class="price-span"><del>Rs899</del></span></p>
                      </div>
                      <div class="col-sm-4 mfashion-image-div-inside2">
                        <div id="mainwrapper">
                          <div id="box-6" class="box">
                            <img id="image-6" src="../common/images_of_payit_home/kurtha.png" width="100%" />
                            <span class="caption scale-caption caption2">
                              <a href="http://www.flipkart.com/see-designs-solid-men-s-straight-kurta/p/itmebkqjnpcdz9ph?pid=KTAEBKQJ3288EGK6&amp;al=lmPF3b7MExn2TjQYorLKVsldugMWZuE7O96I17%2B9oWl13Czz4oSVCqhRHUGmK0MG9drohk%2FRVDo%3D&amp;ref=L%3A-41629649103138929&amp;srno=p_1&amp;query=kurthas+for+men&amp;otracker=from-search" target="_blank">
                              <h3>GRAB THE DEAL</h3>
                              </a>
                            </span>
                          </div>
                        </div>
                        <p class="fashion-item-name">Kurta</p>
                        <img src="\common\images_of_payit_home/flip logo.png" width="100" style="    position: absolute;width: 103px;height: 74px;margin-top: -98px;margin-left: 21px;opacity: 0.4;" />
                        <p><span class="real-price-span">Rs636</span> <span class="price-span"><del>Rs849</del></span></p>
                      </div>
                    </div>
                    <div class="col-sm-7 mfashion-image-div1">
                      <div class="col-sm-4 mfashion-image-div-inside1">
                        <div id="mainwrapper">
                          <div id="box-6" class="box">
                            <img id="image-6" src="../common/images_of_payit_home/payja.png" width="100%" />
                            <span class="caption scale-caption caption2">
                              <a href="http://www.snapdeal.com/product/clai-peachpuff-silk-blended-kurta/685973466876#bcrumbSearch:Pyjama%20Set%20for%20men" target="_blank">
                              <h3>GRAB THE DEAL</h3>
                            </a>
                            </span>
                          </div>
                        </div>
                        <p class="mfashion-item-name">Pyjama Set</p>
                        <img src="\common\images_of_payit_home/Snapdeal.png" width="100" style="position: absolute;width: 103px;height: 74px;margin-top: -119px;margin-left: 12px;opacity: 0.7; "/>
                        <p><span class="real-price-span">Rs1,245</span> <span class="price-span"><del>Rs3,499</del></span></p>
                      </div>
                      <div class="col-sm-4 mfashion-image-div-inside1">
                        <div id="mainwrapper">
                          <div id="box-6" class="box">
                            <img id="image-6" src="../common/images_of_payit_home/for.png" width="100%" />
                            <span class="caption scale-caption caption2">
                              <a href="http://www.flipkart.com/john-players-slim-fit-men-s-trousers/p/itmefzfqwgftztxm?pid=TROE4HCHQR2DZCPX&amp;al=lmPF3b7MExlYC6Hx67wdSsldugMWZuE7wkNiXfq8GiSoNph0e0IjUYyHz7J5lFKEU2X5BASy0Sg%3D&amp;ref=L%3A-7823245426474532120&amp;srno=p_8&amp;query=formal+pants&amp;otracker=from-search" target="_blank">
                              <h3>GRAB THE DEAL</h3>
                            </a>
                            </span>
                          </div>
                        </div>
                        <p class="mfashion-item-name">Formal pants</p>
                        <img src="\common\images_of_payit_home/flip logo.png" width="100" style="position: absolute;width: 103px;height: 74px;margin-top: -119px;margin-left: 21px;opacity: 0.5;" />
                        <p><span class="real-price-span">Rs749 </span> <span class="price-span"><del>Rs1,499</del></span></p>
                      </div>
                      <div class="col-sm-4">
                        <div id="mainwrapper">
                          <div id="box-6" class="box">
                            <img id="image-6" src="../common/images_of_payit_home/night.png" width="100%" />
                            <span class="caption scale-caption caption2">
                              <a href="http://www.flipkart.com/colors-blends-men-s-striped-top-pyjama-set/p/itmeej3acfadhm4z?pid=NSTEF749GNGHUEYU&amp;ref=L%3A-4295200168252455556&amp;srno=p_2&amp;query=night+dress+for+men&amp;otracker=from-search" target="_blank">
                              <h3>GRAB THE DEAL</h3>
                            </a>
                            </span>
                          </div>
                        </div>
                        <p class="mfashion-item-name">Night dress</p>
                        <img src="\common\images_of_payit_home/flip logo.png" width="100" style="position: absolute;width: 103px;height: 74px;margin-top: -119px;margin-left: 8px;opacity: 0.4;" />
                        <p><span class="real-price-span">Rs949</span> <span class="price-span"><del>Rs1,700</del></span></p>
                      </div>
                    </div>
                  </div>
                </div>
                <div id="m-f2" class="tab-pane fade">
                  <div class="row">
                    <div class="col-sm-5">
                      <img src="../common/images_of_payit_home/men-fashion.jpg" width="98%"/>
                    </div>
                    <div class="col-sm-7 mfashion-image-div">
                      <div class="col-sm-4 mfashion-image-div-inside1">
                        <div id="mainwrapper">
                          <div id="box-6" class="box">
                            <img id="image-6" src="../common/images_of_payit_home/payja.png" width="100%" />
                            <span class="caption scale-caption caption2">
                              <a href="http://www.snapdeal.com/product/clai-peachpuff-silk-blended-kurta/685973466876#bcrumbSearch:Pyjama%20Set%20for%20men" target="_blank">
                              <h3>GRAB THE DEAL</h3>
                            </a>
                            </span>
                          </div>
                        </div>
                        <p class="mfashion-item-name">Pyjama Set</p>
                        <img src="\common\images_of_payit_home/Snapdeal.png" width="100" style="     position: absolute;width: 103px;height: 74px;margin-top: -104px; margin-left: 12px;opacity: 0.7;"/>
                        <p><span class="real-price-span">Rs1,245</span> <span class="price-span"><del>Rs3,499</del></span></p>
                        <div class="ram hide">
                          <h3>GRAB THE DEAL</h3>
                        </div>
                      </div>
                      <div class="col-sm-4 mfashion-image-div-inside1">
                        <div id="mainwrapper">
                          <div id="box-6" class="box">
                            <img id="image-6" src="../common/images_of_payit_home/formal.png" width="100%" />
                            <span class="caption scale-caption caption2">
                             <a href="http://www.flipkart.com/lee-marc-men-s-solid-formal-shirt/p/itmefdyta3nfvdvw?pid=SHTEFDYTHZJSFWUY&amp;ref=L%3A-2981910555541812297&amp;srno=p_1&amp;query=mens+formal+shirts&amp;otracker=from-search" target="_blank">
                              <h3>GRAB THE DEAL</h3>
                            </a>
                            </span>
                          </div>
                        </div>
                        <p class="mfashion-item-name">Formal Shirt</p>
                        <img src="\common\images_of_payit_home/flip logo.png" width="100" style="    position: absolute;width: 103px;height: 74px;margin-top: -98px;margin-left: 14px;opacity: 0.4;"/>
                        <p><span class="real-price-span">Rs495</span> <span class="price-span"><del>Rs550</del></span></p>
                      </div>
                      <div class="col-sm-4 mfashion-image-div-inside2">
                        <div id="mainwrapper">
                          <div id="box-6" class="box">
                            <img id="image-6" src="../common/images_of_payit_home/jeans.png" width="100%" />
                            <span class="caption scale-caption caption2">
                              <a href="http://www.flipkart.com/wrangler-vegas-fit-men-s-jeans/p/itmeeymxygamz6sy?pid=JEAEEYMXWWRPXPGE&amp;al=NVB4oJ6vEPpyeOUXpyb9R8ldugMWZuE7%2FLHTI2SOE0b5xhyvuS7kx1vfEmSxjgMl6TTExbiPQpY%3D&amp;ref=L%3A5621432003669016995&amp;amp;amp;srno=p_3&amp;amp;query=mens+jeans&amp;otracker=from-search" target="_blank">
                              <h3>GRAB THE DEAL</h3>
                            </a>
                            </span>
                          </div>
                        </div>
                        <p class="fashion-item-name">Jeans</p>
                        <img src="\common\images_of_payit_home/flip logo.png" width="100" style="   position: absolute;width: 103px;height: 74px;margin-top: -98px;margin-left: 27px;opacity: 0.6;"/>
                        <p><span class="real-price-span">Rs1,347</span> <span class="price-span"><del>Rs2,995</del></span></p>
                      </div>
                    </div>
                    <div class="col-sm-7 mfashion-image-div1">
                      <div class="col-sm-4 mfashion-image-div-inside1">
                        <div id="mainwrapper">
                          <div id="box-6" class="box">
                            <img id="image-6" src="../common/images_of_payit_home/blasers.png" width="100%" />
                            <span class="caption scale-caption caption2">
                              <a href="http://www.flipkart.com/bluethreads-solid-single-breasted-party-men-s-blazer/p/itmebxfz3hb6byrz?pid=BZREBXFZYQEQKXGV&amp;al=HfQ3Q3aVhVFX%2BjuITfv1z8ldugMWZuE7mxWx381qOwT7tqu%2FDPhFqqgyIq31ujA8M9s1eKFkOjQ%3D&amp;ref=L%3A-8003701691138357653&amp;srno=p_1&amp;query=blasers&amp;otracker=from-search" target="_blank">
                              <h3>GRAB THE DEAL</h3>
                            </a>
                            </span>
                          </div>
                        </div>
                        <p class="mfashion-item-name">Blazer</p>
                        <img src="\common\images_of_payit_home/flip logo.png" width="100" style=" position: absolute;width: 103px;height: 74px;margin-top: -98px;margin-left: 21px;opacity: 0.4;"/>
                        <p><span class="real-price-span">Rs1,179</span> <span class="price-span"><del>Rs1,573</del></span></p>
                      </div>
                      <div class="col-sm-4 mfashion-image-div-inside1">
                        <div id="mainwrapper">
                          <div id="box-6" class="box">
                            <img id="image-6" src="../common/images_of_payit_home/laptop.png" width="100%" />
                            <span class="caption scale-caption caption2">
                              <a href="http://www.snapdeal.com/product/toshiba-attractive-black-laptop-backpack15/1119178235#bcrumbSearch:|bcrumbLabelId:434" target="_blank">
                              <h3>GRAB THE DEAL</h3>
                            </a>
                            </span>
                          </div>
                        </div>
                        <p class="mfashion-item-name">Loptop Bag</p>
                        <img src="\common\images_of_payit_home/Snapdeal.png" width="100" style=" position: absolute;width: 103px;height: 74px;margin-top: -98px;margin-left: 21px;opacity: 0.7;"/>
                        <p><span class="real-price-span">Rs598</span> <span class="price-span"><del>Rs1,199</del></span></p>
                      </div>
                      <div class="col-sm-4">
                        <div id="mainwrapper">
                          <div id="box-6" class="box">
                            <img id="image-6" src="../common/images_of_payit_home/Dot.jpg" width="100%" />
                            <span class="caption scale-caption caption2">
                              <a href="http://www.flipkart.com/evila-india-retails-private-limited-men-s-dhoti-kurta-set/p/itmeggjhzhetsujc?pid=ETHEGGJHDWZP7G8H&amp;ref=L%3A5292760966610635895&amp;srno=p_1&amp;query=dothi&amp;otracker=from-search" target="_blank">
                              <h3>GRAB THE DEAL</h3>
                            </a>
                            </span>
                          </div>
                        </div>
                        <p class="mfashion-item-name">Dhoti Set</p>
                        <img src="\common\images_of_payit_home/flip logo.png" width="100" style="position: absolute;width: 120px;height: 84px;margin-left: 6px;margin-top: -99px;opacity: 0.6;"/>
                        <p><span class="real-price-span">Rs1,674</span> <span class="price-span"><del>Rs1,860</del></span></p>
                      </div>
                    </div>
                  </div>
                </div>
                <div id="m-f3" class="tab-pane fade">
                  <div class="row">
                    <div class="col-sm-5">
                      <img src="../common/images_of_payit_home/men-fashion.jpg" width="98%"/>
                    </div>
                    <div class="col-sm-7 mfashion-image-div">
                      <div class="col-sm-4 mfashion-image-div-inside1">
                        <div id="mainwrapper">
                          <div id="box-6" class="box">
                            <img id="image-6" src="../common/images_of_payit_home/jeans.png" width="100%" />
                            <span class="caption scale-caption caption2">
                              <a href="http://www.flipkart.com/wrangler-vegas-fit-men-s-jeans/p/itmeeymxygamz6sy?pid=JEAEEYMXWWRPXPGE&amp;al=NVB4oJ6vEPpyeOUXpyb9R8ldugMWZuE7%2FLHTI2SOE0b5xhyvuS7kx1vfEmSxjgMl6TTExbiPQpY%3D&amp;ref=L%3A5621432003669016995&amp;amp;amp;srno=p_3&amp;amp;query=mens+jeans&amp;otracker=from-search" target="_blank">
                              <h3>GRAB THE DEAL</h3>
                                 </a>
                            </span>
                          </div>
                        </div>
                        <p class="mfashion-item-name">Jeans</p>
                        <img src="\common\images_of_payit_home/flip logo.png" width="100" style=" position: absolute;width: 103px;height: 74px;margin-top: -98px;margin-left: 27px;opacity: 0.6;"/>
                        <p><span class="real-price-span">Rs1,347</span> <span class="price-span"><del>Rs2,995</del></span></p>
                        <div class="ram hide">
                          
                          <h3>GRAB THE DEAL</h3>
                     
                        </div>
                      </div>
                      <div class="col-sm-4 mfashion-image-div-inside1">
                        <div id="mainwrapper">
                          <div id="box-6" class="box">
                            <img id="image-6" src="../common/images_of_payit_home/mens-j.png" width="100%" />
                            <span class="caption scale-caption caption2">
                              <a href="http://www.flipkart.com/wild-nature-full-sleeve-solid-men-s-rain-jacket/p/itmefr8gfqhvhgx9?pid=JCKEFR8GJDGYWQKP&amp;ref=L%3A3871632231992149600&amp;srno=p_23&amp;query=mens+jackets&amp;otracker=from-search" target="_blank">
                              <h3>GRAB THE DEAL</h3>
                            </a>
                            </span>
                          </div>
                        </div>
                        <p class="mfashion-item-name">Mens Jaket</p>
                        <img src="\common\images_of_payit_home/flip logo.png" width="100" style=" position: absolute;width: 103px;height: 74px;margin-top: -98px;margin-left: 27px;opacity: 0.6;"/>
                        <p><span class="real-price-span">Rs2,745</span> <span class="price-span"><del>Rs50.99</del></span></p>
                      </div>
                      <div class="col-sm-4 mfashion-image-div-inside2">
                        <div id="mainwrapper">
                          <div id="box-6" class="box">
                            <img id="image-6" src="../common/images_of_payit_home/Three.png" width="100%" />
                            <span class="caption scale-caption caption2">
                              <a href="http://www.flipkart.com/british-terminal-self-design-men-s-three-fourths/p/itmeahkumtpyaxtt?pid=TFHEAHKUGJSDJUVG&amp;al=NVB4oJ6vEPoIdSzkL9ump8ldugMWZuE7wkNiXfq8GiQzaklWn7fAdMp55KN%2ByM02uknGagLlEXA%3D&amp;ref=L%3A-243162946572498688&amp;srno=p_17&amp;amp;query=mens+3%2F4&amp;otracker=from-search" target="_blank">
                              <h3>GRAB THE DEAL</h3>
                            </a>
                            </span>
                          </div>
                        </div>
                        <p class="fashion-item-name">Three Fourths</p>
                        <img src="\common\images_of_payit_home/flip logo.png" width="100" style=" position: absolute;width: 120px;height: 84px;margin-left: 6px;margin-top: -104px;opacity: 0.6;"/>
                        <p><span class="real-price-span">Rs799 </span> <span class="price-span"><del>Rs2,899</del></span></p>
                      </div>
                    </div>
                    <div class="col-sm-7 mfashion-image-div1">
                      <div class="col-sm-4 mfashion-image-div-inside1">
                        <div id="mainwrapper">
                          <div id="box-6" class="box">
                            <img id="image-6" src="../common/images_of_payit_home/short.png" width="100%" />
                            <span class="caption scale-caption caption2">
                              <a href="http://www.flipkart.com/london-buck-solid-men-s-denim-shorts/p/itmecuf3zmckrcgr?pid=SRTECUF3MJGKXWKD&amp;al=NVB4oJ6vEPphddYI3cJbccldugMWZuE7eGHgUTGjVrrYSuA4QGspBaR3DC3pJNFx6wqlhOce%2B6I%3D&amp;ref=L%3A-8833672944761945084&amp;srno=p_8&amp;query=mens+shots&amp;otracker=from-search" target="_blank">
                              <h3>GRAB THE DEAL</h3>
                            </a>
                            </span>
                          </div>
                        </div>
                        <p class="mfashion-item-name">Shorts</p>
                        <img src="\common\images_of_payit_home/flip logo.png" width="100" style=" position: absolute;width: 120px;height: 84px;margin-left: 6px;margin-top: -104px;opacity: 0.6;"/>
                        <p><span class="real-price-span">Rs599</span> <span class="price-span"><del>Rs1,499</del></span></p>
                      </div>
                      <div class="col-sm-4 mfashion-image-div-inside1">
                        <div id="mainwrapper">
                          <div id="box-6" class="box">
                            <img id="image-6" src="../common/images_of_payit_home/bania.png" width="100%" />
                            <span class="caption scale-caption caption2">
                              <a href="http://www.snapdeal.com/product/zimfit-green-cotton-vests-pack/623753197778#bcrumbSearch:vest" target="_blank">
                              <h3>GRAB THE DEAL</h3>
                            </a>
                            </span>
                          </div>
                        </div>
                        <p class="mfashion-item-name">half banian</p>
                        <img src="\common\images_of_payit_home/Snapdeal.png" width="100" style=" position: absolute;width: 103px;height: 74px;margin-top: -96px;margin-left: 14px;opacity: 0.7;"/>
                        <p><span class="real-price-span">Rs289</span> <span class="price-span"><del>Rs599</del></span></p>
                      </div>
                      <div class="col-sm-4">
                        <div id="mainwrapper">
                          <div id="box-6" class="box">
                            <img id="image-6" src="../common/images_of_payit_home/cargos.png" width="100%" />
                            <span class="caption scale-caption caption2">
                              <a href="http://www.flipkart.com/sports-52-wear-c1595-men-s-cargos/p/itmeb5mzfx88dsts?pid=CRGEB5MZDSZ3TAWS&amp;al=HfQ3Q3aVhVGK6mLtbKxpEMldugMWZuE75aUsiwTbcEObmOPm%2BvRjaDghjxA%2B0Z9Wo328Fb9uQLA%3D&amp;ref=L%3A6926041108196707319&amp;srno=p_9&amp;query=cargos&amp;otracker=from-search" target="_blank">
                              <h3>GRAB THE DEAL</h3>
                            </a>
                            </span>
                          </div>
                        </div>
                        <p class="mfashion-item-name">Cargos</p>
                        <img src="\common\images_of_payit_home/flip logo.png" width="100" style="position: absolute;width: 120px;height: 84px;margin-left: 6px;margin-top: -104px;opacity: 0.6;"/>
                        <p><span class="real-price-span">Rs1,397</span> <span class="price-span"><del>Rs1,995</del></span></p>
                      </div>
                    </div>
                  </div>
                </div>
                <div id="m-f4" class="tab-pane fade">
                  <div class="row">
                    <div class="col-sm-5">
                      <img src="../common/images_of_payit_home/men-fashion.jpg" width="98%"/>
                    </div>
                    <div class="col-sm-7 mfashion-image-div">
                      <div class="col-sm-4 mfashion-image-div-inside1">
                        <div id="mainwrapper">
                          <div id="box-6" class="box">
                            <img id="image-6" src="../common/images_of_payit_home/blasers.png" width="100%" />
                            <span class="caption scale-caption caption2">
                              <a href="http://www.flipkart.com/bluethreads-solid-single-breasted-party-men-s-blazer/p/itmebxfz3hb6byrz?pid=BZREBXFZYQEQKXGV&amp;al=HfQ3Q3aVhVFX%2BjuITfv1z8ldugMWZuE7mxWx381qOwT7tqu%2FDPhFqqgyIq31ujA8M9s1eKFkOjQ%3D&amp;ref=L%3A-8003701691138357653&amp;srno=p_1&amp;query=blasers&amp;otracker=from-search" target="_blank">
                              <h3>GRAB THE DEAL</h3>
                            </a>
                            </span>
                          </div>
                        </div>
                        <p class="mfashion-item-name">Blazer</p>
                        <img src="\common\images_of_payit_home/flip logo.png" width="100" style="   position: absolute;width: 103px;height: 74px;margin-top: -98px; margin-left: 21px;opacity: 0.4;"/>
                        <p><span class="real-price-span">Rs1,179</span> <span class="price-span"><del>Rs1,573</del></span></p>
                        <div class="ram hide">
                          <h3>GRAB THE DEAL</h3>
                        </div>
                      </div>
                      <div class="col-sm-4 mfashion-image-div-inside1">
                        <div id="mainwrapper">
                          <div id="box-6" class="box">
                            <img id="image-6" src="../common/images_of_payit_home/casual.jpg" width="100%" />
                            <span class="caption scale-caption caption2">
                              <a href="http://www.flipkart.com/rodid-men-s-checkered-casual-shirt/p/itme7h86huh7z4nw?pid=SHTE7H86BGKXCEFT&amp;ref=L%3A99335649096911366&amp;srno=b_82&amp;findingMethod=Menu" target="_blank">
                              <h3>GRAB THE DEAL</h3>
                            </a>
                            </span>
                          </div>
                        </div>
                        <p class="mfashion-item-name">Casual Shirt</p>
                         <img src="\common\images_of_payit_home/flip logo.png" width="100" style="position: absolute;width: 120px;height: 84px;margin-left: 6px;margin-top: -104px;opacity: 0.6"/>
                        <p><span class="real-price-span">Rs499</span> <span class="price-span"><del>Rs1,790</del></span></p>
                      </div>
                      <div class="col-sm-4 mfashion-image-div-inside2">
                        <div id="mainwrapper">
                          <div id="box-6" class="box">
                            <img id="image-6" src="../common/images_of_payit_home/Dot.jpg" width="100%" />
                            <span class="caption scale-caption caption2">
                              <a href="http://www.flipkart.com/evila-india-retails-private-limited-men-s-dhoti-kurta-set/p/itmeggjhzhetsujc?pid=ETHEGGJHDWZP7G8H&amp;ref=L%3A5292760966610635895&amp;srno=p_1&amp;query=dothi&amp;otracker=from-search" target="_blank">
                              <h3>GRAB THE DEAL</h3>
                            </a>
                            </span>
                          </div>
                        </div>
                        <p class="fashion-item-name">Dhoti set</p>
                         <img src="\common\images_of_payit_home/flip logo.png" width="100" style="position: absolute;width: 120px;height: 84px;margin-left: 6px;margin-top: -99px;opacity: 0.6;"/>
                        <p><span class="real-price-span">Rs1,674 </span> <span class="price-span"><del>Rs1,860</del></span></p>
                      </div>
                    </div>
                    <div class="col-sm-7 mfashion-image-div1">
                      <div class="col-sm-4 mfashion-image-div-inside1">
                        <div id="mainwrapper">
                          <div id="box-6" class="box">
                            <img id="image-6" src="../common/images_of_payit_home/foot.png" width="100%" />
                            <span class="caption scale-caption caption2">
                              <a href="http://www.flipkart.com/puma-woody-dp-men-sandals/p/itmeeydprz3qhdvs?pid=SNDEDZ43ZH9DHGWF&amp;ref=L%3A-2804341587842481058&amp;srno=p_7&amp;query=men+footwares&amp;otracker=from-search" target="_blank">
                              <h3>GRAB THE DEAL</h3>
                            </a>
                            </span>
                          </div>
                        </div>
                        <p class="mfashion-item-name">Foot Wear</p>
                         <img src="\common\images_of_payit_home/flip logo.png" width="100" style="position: absolute;width: 103px;height: 74px;margin-top: -98px;margin-left: 21px;opacity: 0.7;"/>
                        <p><span class="real-price-span">Rs988 </span> <span class="price-span"><del>Rs1,799</del></span></p>
                      </div>
                      <div class="col-sm-4 mfashion-image-div-inside1">
                        <div id="mainwrapper">
                          <div id="box-6" class="box">
                            <img id="image-6" src="../common/images_of_payit_home/laptop.png" width="100%" />
                            <span class="caption scale-caption caption2">
                              <a href="http://www.snapdeal.com/product/toshiba-attractive-black-laptop-backpack15/1119178235#bcrumbSearch:|bcrumbLabelId:434" target="_blank">
                              <h3>GRAB THE DEAL</h3>
                            </a>
                            </span>
                          </div>
                        </div>
                        <p class="mfashion-item-name">Laptop Bag</p>
                        <img src="\common\images_of_payit_home/Snapdeal.png" width="100" style=" position: absolute;width: 103px;height: 74px;margin-top: -98px;margin-left: 21px;opacity: 0.7;" />
                        <p><span class="real-price-span">Rs598</span> <span class="price-span"><del>Rs1,199</del></span></p>
                      </div>
                      <div class="col-sm-4">
                        <div id="mainwrapper">
                          <div id="box-6" class="box">
                            <img id="image-6" src="../common/images_of_payit_home/sar.png" width="100%" />
                            <span class="caption scale-caption caption2">
                              <a href="http://www.snapdeal.com/product/citypret-woolen-printed-winter-scarves/618599843000#bcrumbSearch:scarves%20for%20men" target="_blank">
                              <h3>GRAB THE DEAL</h3>
                            </a>
                            </span>
                          </div>
                        </div>
                        <p class="mfashion-item-name">Scarves</p>
                        <img src="\common\images_of_payit_home/Snapdeal.png" width="100" style=" position: absolute;width: 103px;height: 74px;margin-top: -98px;margin-left: 21px;opacity: 0.7;" />
                        <p><span class="real-price-span">Rs990 </span> <span class="price-span"><del>Rs1,650</del></span></p>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>



    <!-- Men Fashion End -->
