<div class="parallax_page"> 
	<div class="container parallax_container" style="background: 50% 0 no-repeat fixed; background-image: url('../common/images_of_payit_home/paralax11.jpg');">
		<div class="row parallax_row">
			<div class="col-sm-4 parallax_div1">
				<a href="#">
					<img src="../common/images_of_payit_home/s32.png"/>
				</a>
				<p class="parallax_para_head">SPORTS SHOES</p>
				<p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s</p>
			</div>
			<div class="col-sm-4 parallax_div1">
				<a href="#">
					<img src="../common/images_of_payit_home/s32.png"/>
				</a>
				<p class="parallax_para_head">SPORTS SHOES</p>
				<p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s</p>
			</div>
			<div class="col-sm-4 parallax_div1">
				<a href="#">
					<img src="../common/images_of_payit_home/s32.png"/>
				</a>
				<p class="parallax_para_head">SPORTS SHOES</p>
				<p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s</p>
			</div>
		</div>
	</div>
</div>