<div class="page-content pdt40"  >
  
   <div class="page-section pdt40">
    <div class="container">
     <div class="row">
       <div class="prd_list pdt10">
        <div class="col-lg-12"><h2>  Mobile Phones</h2></div>
       </div>
     </div>
     <div class="row">
  <div class="">
    <div class="col-lg-9 col-md-9 col-xs-9 pdr0">
    <div class="promn_tdv">
    <article class="app-tp">
                          <ul style="height:100%">
                              <li>
                                  <span class="tp-brdr"></span>
                                  <span class="small-applnc"><i class="glyph-icon flaticon-screen54"></i></span>
                              </li>
                              <li>
                                  <p>Electronics</p>
<span class="product-info">
1536+ Options
starting from ₹699
</span>
                              </li>
                          </ul>
                      </article>
                      <article class="app-tp">
                          <ul style="height:100%;">
                              <li>
                                  <span class="tp-brdr"></span>
                                  <span class="small-applnc"><i class="glyph-icon flaticon-home115"></i></span>
                              </li>
                              <li>
                                  <p>Musical Electronics</p>
                                  <span class="product-info">
1236+ Options
starting from ₹7099
</span>
                              </li>
                          </ul>
                      </article>
                      <article class="app-tp">
                          <ul style="height:100%;">
                              <li>
                                  <span class="tp-brdr"></span>
                                  <span class="small-applnc"><i class="glyph-icon flaticon-graduation43"></i></span>
                              </li>
                              <li>
                                  <p>Books Category</p>
                                  <span class="product-info">
2506+ Options
starting from ₹699
</span>
                              </li>
                          </ul>  
                      </article>

      </div>
      <div class="promn_tdv">
    <article class="app-tp">
                          <ul style="height:100%">
                              <li>
                                  <span class="tp-brdr"></span>
                                  <span class="small-applnc"><i class="glyph-icon flaticon-jacket2"></i></span>
                              </li>
                              <li>
                                  <p>Men &amp; Women Fashion</p>
<span class="product-info">
5036+ Options
starting from ₹499
</span>
                              </li>
                          </ul>
                      </article>
                      <article class="app-tp">
                          <ul style="height:100%;">
                              <li>
                                  <span class="tp-brdr"></span>
                                  <span class="small-applnc"><i class="glyph-icon flaticon-kitchen56"></i></span>
                              </li>
                              <li>
                                  <p>Home Furniture</p>
                                  <span class="product-info">
4536+ Options
starting from ₹199
</span>
                              </li>
                          </ul>
                      </article>
                      <article class="app-tp">
                          <ul style="height:100%;">
                              <li>
                                  <span class="tp-brdr"></span>
                                  <span class="small-applnc"><i class="glyph-icon flaticon-sportive5"></i></span>
                              </li>
                              <li>
                                  <p>Footwear Brands</p>
                                  <span class="product-info">
3630+ Options
starting from ₹299
</span>
                              </li>
                          </ul>  
                      </article>
                      
      </div>
    </div>
    <div class="col-lg-3 col-md-3 col-xs-3 img_right " style="padding-left:0px;">
      <img src="common/img/images1/rightimg.jpg" alt="" class="" onload="" border="0" width="250"/>
    </div>

  </div>
</div>
    </div>
   </div> <!-- page-section -->
   <div class="pagesection mgt10">
    <div class="container">
     <div class="row">
   <div th:include="fragments/FilterFragment"></div>
   <div th:include="fragments/ProductsListFragment"></div>
   </div>
  </div>
  </div>
   </div>