<div class="page-section">
    <div class="container">
     <div class="row">
      <div class="col-md-12">
        <div class="productlistwidget plw-12">
          <div class="row home-headertext">
           <div class="">
            <div class="col-lg-4"></div>
            <div class="col-lg-4">
              <div style="margin-top:-16px;text-align:center;background:#184848;color: #fff;font-size: 22px;">
                Compare products
              </div>
            </div>
            <div class="col-lg-4"></div>            
           </div>
          </div>
        </div>
      </div>
      <div class="other_brd">
      <!-- <h4>  </h4> -->
       <ul>
        <li>
         <a href="merchant?name=AMAZON">
          <img src="common/img/storeimg/amazon.jpg" />
         </a>
        </li>
        <li>
         <a href="merchant?name=EBAY">
          <img src="common/img/storeimg/ebay.png" />
         </a>
        </li>
        <li>
         <a href="">
          <img src="common/img/storeimg/paytm.jpg" />
         </a>
        </li>
        <li>
         <a href="merchant?name=SNAPDEAL">
          <img src="common/img/storeimg/snapdeal.png" />
         </a>
        </li>
        <li>
         <a href="">
          <img src="common/img/storeimg/shopcluse.jpg" />
         </a>
        </li>
        <li>
         <a href="merchant?name=FLIPKART">
          <img src="common/img/storeimg/New-Flipkart-Logo.jpg" />
         </a>
        </li>
       </ul>
      </div>
     </div>
    </div>
   </div> <!-- page-section -->