<div ng-controller="SearchController" class="modal modal-fullscreen fade" id="modal-fullscreen" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">

     <div class="search-dropdown">
              <button id="btn-dd-search" data-isall="1" data-type="movies" data-value="MT">
                <span class="icon-type">
                <i class="fa fa-th-large"></i>
                   </span>
                <span class="selected-type">       
                Select plan</span>
                <span class="arrow-down"> 
                </span>
              </button>
              <ul class="search-dropdown-menu">
                <li class="">
                  <a href="#" class="__item" data-isall="0" data-type="movies" data-value="MT" data-placeholder="Book a Movie or Pick a Cinema" data-search-placeholder="Search for a Movie or Cinema">
                    <span class="icon-type">
                      <i class="fa fa-money"></i>
                    </span>Prepaid
                  </a>
                </li>
                <li class="">
                  <a href="#" class="__item" data-isall="0" data-type="events" data-value="CT" data-placeholder="Pick an Event or Venue" data-search-placeholder="Search for an Event or Venue">
                    <span class="icon-type">
                      <i class="fa fa-file-text"></i>
                    </span>Postpaid
                  </a>
                </li>     
              </ul>
            </div>
            <span class="twitter-typeahead" style="position: relative;display: inline-block;"><input type="text" class="search-box typeahead tt-input" placeholder="please enter your mobile number" autocomplete="off" spellcheck="false" dir="auto" style="position: relative; vertical-align: top; background-color: #fff;"/></span>
            <span class="search-list-icon" id="search-list-icon"></span>
        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
        <!-- <h4 class="modal-title" id="myModalLabel">Modal title</h4> -->
      </div>
      <div class="modal-body">
        ...
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>