	<div class="col-lg-8 col-md-8 col-sm-8 col-xs-12" style="border:1px solid #eee; border-left:0px solid; padding-right:0px; padding-left:0px;">
						<div class="price_table_in" th:each="productMerchant:${productMerchants}" th:if="not ${#lists.isEmpty(productMerchants)}">          
								<div class="prc-tbl-row prc-tbl-row--online" >      
										<div class="prc-tbl-row__inr clearfix">            
												<div class="prc-tbl-clm prc-tbl-clm--str">      
														<div class="prc-tbl__str-logo-wrpr">        
																<img class="prc-tbl__str-logo" th:src="${productMerchant.product_store_logo}" alt="" />  
																<div class="rtng-wrpr rtng-wrpr--l ">      
																		<div class="star-rating ">
																				<span style="width:82%"></span>
																		</div>    
																</div>    
														</div>    
												</div>                                    
												<div class="prc-tbl-clm prc-tbl-clm--avlblty">        
												<div th:if="${productMerchant.product_iscod=='1'}" class="prc-tbl__avlblty prc-tbl__avlblty-COD prc-tbl__avlbltydsbld">        Cash on Delivery      
													</div>  
											 	<div th:if="${productMerchant.product_iscod!='1'}" class="prc-tbl__avlblty prc-tbl__avlblty-COD prc-tbl__avlbltydsbld">  No      Cash on Delivery      
													</div>     
													<div class="prc-tbl__avlblty prc-tbl__avlblty-emi" th:if="${productMerchant.product_isemi!='1'}">   No     EMI Available              
													</div>     
													<div class="prc-tbl__avlblty prc-tbl__avlblty-emi" th:if="${productMerchant.product_isemi=='1'}">        EMI Available              
													</div>    
													<div class="prc-tbl__avlblty prc-tbl__avlblty-rtrn">        
															<span>Return Policy: </span>        
															<strong th:text="${productMerchant.product_return_time}">10 days</strong>      
													</div>          
											</div>              
											<div class="prc-tbl-clm prc-tbl-clm--cost">        
												<div class="prc-tbl__cost ">       <span class="prc-tbl__cost-rpe"><i class="fa fa-inr"></i></span>      <span class="prc-tbl__cost-val" th:text="${productMerchant.product_price_after}">26,723</span>    
												</div>
												<div class="prc-tbl__prc-drop-btn btn--no-bg btn--no-bg-prctbl-alrt  js-popup-trgt">           Price Drop Alert      
													</div>                               
										</div>
										<div class="prc-tbl-clm prc-tbl-clm--gts" th:with="url=${productMerchant.product_store_url}+'&amp;dest='+ ${#strings.toUpperCase(#strings.arraySplit(productMerchant.product_store,'.')[0])}">
												<div class="store"><a th:href="'/redirectto?next='+${url}"><h3>Go To Store</h3></a></div></div>
												<div class="" style="margin-left: 29%;">        
													<div class="prc-tbl__dtls prc-tbl__dtls-dlvr">        <strong th:inline="text">[[${productMerchant.product_delivery}]]</strong> delivery      
													</div>                      
													  
											</div>
										</div>   

										<div class="prc-tbl__xtrs clearfix">                              
										</div> 

								</div>        
						</div>
						<div th:block="${#lists.isEmpty(productMerchants)}">No Sellers For this Product, Will Keep you updated</div>
				
		</div>