
					<div class="col-lg-4 col-md-4 col-sm-4 col-xs-12 " style="border:1px solid #eee; padding-left:0px; padding-right:0px;">
						<div class="prdct-dtl__left">
								<div class="prdct-dtl__save"></div>

								<div class="prdct-dtl__thmbnl-wrpr">
										<div class="" >
												<br/>
												<img class="prdct-dtl__thmbnl-img" th:src="${product[0].product_image_full[0]}" data-image="https://d1nfvnlhmjw5uh.cloudfront.net/55553-1-desktop-normal.jpg" alt="LG 32LN5110 32 inch HD Ready LED TV price in India" data-thumb-id="1"/>
										</div>


								</div>
								<div class="prdct-dtl__tlbr clearfix">
										<div class="prdct-dtl__tlbr-rtng">
												<div class="rtng-wrpr rtng-wrpr--l prdct-dtl__tlbr-item">
														<div class="star-rating ">
																<span style="width:92%"></span>
														</div>
														<div class="rtng__cnt">(from 144 ratings)</div>
														<span class="prdct-dtl__tlbr-rvws prdct-dtl__tlbr-item js-inpg-link">
														17 Reviews
												</span>
												</div>
												
										</div>
										<div class="prdct-dtl__tlbr-actn pdt10">
												<span class="prdct-dtl__tlbr-item prdct-dtl__tlbr-item--prc-alrt text-link js-popup-trgt" data-href="http://www.mysmartprice.com/promotions/pricealert.php?isbn=55553&amp;productname=LG+32LN5110+32+inch+HD+Ready+LED+TV&amp;bestprice=26000&amp;ispopup=true">
														price drop alert
												</span>
										</div>
								</div>
								<div class="prdct-dtl__vrnt clearfix">
								</div>
								<div class="snpim">
										<img class="usr-rvw__str-logo" th:src="${productMerchants[0].product_store_logo}" alt="snapdeal"/>

								</div>
								<div class="prdct-dtl__lwst-prc clearfix">
										<div class="prdct-dtl__lwst-prc-ttl">LOWEST PRICE</div>
										<div class="prdct-dtl__slr-prc-rcmnd">
												<div class="prdct-dtl__slr-prc-rcmnd-inr">
														<span class="prdct-dtl__slr-prc-rcmnd-rpe"><i class="fa fa-inr"></i></span>
														<span class="prdct-dtl__slr-prc-rcmnd-val" th:text="${productMerchants[0].product_price_after}">26,000</span>
												</div>
										</div>
								</div>
								<div class="prdct-dtl__vrnt clearfix">
								</div>
								<ul class="prdct-dtl__spfctn-wrpr"><li class="prdct-dtl__spfctn"><span class="prdct-dtl__spfctn-txt" th:each="spec:${productSpecifications}" th:text="${spec.product_spec}">100% Original product</span></li><!-- <li class="prdct-dtl__spfctn"><span class="prdct-dtl__spfctn-txt">Manufacturer Warranty</span></li><li class="prdct-dtl__spfctn"><span class="prdct-dtl__spfctn-txt">Connectivity : 2 x HDMI &amp; 1 x USB</span></li><li class="prdct-dtl__spfctn"><span class="prdct-dtl__spfctn-txt">Display Resolution : 1366x768</span></li><li class="prdct-dtl__spfctn"><span class="prdct-dtl__spfctn-txt">Refresh Rate : 100Hz</span></li><li class="prdct-dtl__spfctn"><span class="prdct-dtl__spfctn-txt">Screen Size : 81 cm (32)</span></li><li class="prdct-dtl__spfctn"><span class="prdct-dtl__spfctn-txt">Type : LED TV</span></li> --></ul>

						</div>
				</div>