<div class="page-content pdt40"  >

	<div class="page-section pdt40">
		<div class="container pdt30">
			<div class="row prd_list">
					<div class="col-lg-12"><span>Home</span>
							<h6 style="border-bottom:1px solid #eee; padding-bottom:10px;" th:inline="text"> [[${product[0].product_main_category}]]  &gt; [[${product[0].product_name}]] </h6>
					</div>
			</div>
			<div class="row">
					<div class="col-lg-5">
							<h2 class="prdct-dtl__ttl singl_itmnme" th:text="${product[0].product_name}">
								
						</h2>
				</div>
				<div class="col-lg-7"></div>
		</div>
</div>
</div> <!-- page-section -->
<div class="pagesection">
		<div class="container">
		<div class="row">
<th:block th:replace="fragments/SingleProductMainPropertiesFragment"></th:block>
	<th:block th:replace="fragments/SingleProductOtherStoreDetailsFragment"></th:block>		
</div>
</div>
</div>
</div><!-- pagesection-->