  <div class="row">
                        <div class="catg_hed_serc">
                            <div class="col-sm-12 pdt20 pdb10">
                                <b><h4>Snapdeal List Items</h4></b>
                                <div class="pull-right catg_serc col-sm-3 pdr0 ">
                                    <input type="search" class="form-control" placeholder="Item's Search Here"  autofocus="" />
                                    <i class="fa fa-search search-position" sty=""></i>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="list_items_main ">
                            <div class="col-lg-3 col-md-3 col-sm-3 col-xs" th:each="product:${snapdealProducts}">
                            <div class="list_item">
                                <div class="list_item_image">
                                <div class="item-disc"><span>3 % Off</span></div>
                                  <a th:href="${product.link}" target="_blank">
                                    <img th:src="${product.imageLink}"/>
                                  </a>
                                </div>
                                 <div class="list_item_descrip">
                                     <div class="list_item_title">
                                       <a th:href="${product.link}">
                                           <p th:text="${product.title}"></p>
                                       </a>  
                                     </div>
                                     <div class="list_item_price">
                                     <div class="price_row">
                                         <span class="item_price_disco strike" th:inline="text"> Rs. [[${product.mrp}]]</span>
                                         <span class="item_price" th:inline="text" >Rs. [[${product.effectivePrice}]]</span>
                                     </div>
                                         
                                     </div>

                                 </div>
                                 </div>
                            </div><!-- item- -->
                            
                            
                        </div>
                    </div>