<div class="back-img snapdl-bnrimg">
            <div class="container">
                <div class="row">
                 <img src="/common/img/home/banners/snapdeal-logo.png"/>
                    <div class="payit-search">
                        <div class="col-lg-9 pdl0 pdr0">
                            <input type="search" class="search-input" placeholder="search"/>
                                <i class="fa fa-search search-position"></i>
                            
                        </div>
                        <div class="col-lg-3 pdl0 pdr0">
                            <input type="button" class="snapdeal-search-btn" value="SEARCH"/>
                        </div>
                    </div>
                </div>
            </div>
        </div>