<div class="row">
    <div class="">
        <div class="col-sm-12 ">
            <b><h4>Snapdeal Big Offerrs</h4></b>
        </div>
    </div>
</div>
<div class="row">
  <div class="snapdeal-images">
      <div class="col-sm-4 pdl5 pdr5">
          <a href="/redirectto?next=http://www.snapdeal.com/search%3fkeyword=books%26santizedKeyword=books+in+all+categories%26catId=%26categoryId=364%26suggested=true%26vertical=p%26noOfResults=48%26clickSrc=suggested%26lastKeyword=%26prodCatId=%26changeBackToAll=false%26foundInAll=false%26categoryIdSearched=%26cityPageUrl=%26url=%26utmContent=%26dealDetail=%26sort=rlvncy%26q=discount%3A0%20-%2010%5E10%20-%2020%5E20%20-%2030%5E30%20-%2040%5E40%20-%2050%7C%26utm_source=aff_prog%26utm_campaign=afts%26offer_id=17%26aff_id=83698&amp;dest=SNAPDEAL" target="_blank">
              <img src="/common/img/home/snapdeal/book1.jpg" alt="Books" />
          </a>
      </div>
      <div class="col-sm-4 pdl5 pdr5 ">
        <a href="/redirectto?next=http://www.snapdeal.com/products/household-essentials%3futm_source=aff_prog%26utm_campaign=afts%26offer_id=17%26aff_id=83698&amp;dest=SNAPDEAL" target="_blank">
          <img src="/common/img/home/snapdeal/dns25.jpg" alt="Daily Needs"/>
        </a>
      </div>
      <div class="col-sm-4 pdl5 pdr5">
          <a href="/redirectto?next=http://www.snapdeal.com/offers/deal-of-the-day%3futm_source=aff_prog%26utm_campaign=afts%26offer_id=17%26aff_id=83698&amp;dest=SNAPDEAL" target="_blank">
              <img src="/common/img/home/snapdeal/dodnewgold13.jpg" alt="Deal Of The Day"/>
          </a>
      </div>
      <!-- <div class="col-sm-2 pdl5 pdr5">
          <a href="">
              <img src="/common/img/home/flipkart-search-img/20160210-215526-2.1.jpg" / style="width: 100%;height: 264px;">
          </a>
      </div> -->
  </div>
</div>
<div class="row mgt10 mgb20">
  <div class="snapdeal-images">
      <div class="col-sm-4 pdl5 pdr5">
          <a href="/redirectto?next=http://www.snapdeal.com/search?keyword=all%20sports%20balls%26santizedKeyword=%26catId=%26categoryId=%26suggested=false%26vertical=%26noOfResults=48%26clickSrc=go_header%26lastKeyword=%26prodCatId=%26changeBackToAll=false%26foundInAll=false%26categoryIdSearched=%26cityPageUrl=%26url=%26utmContent=%26dealDetail=%26sort=rlvncy%26utm_source=aff_prog%26utm_campaign=afts%26offer_id=17%26aff_id=83698&amp;dest=SNAPDEAL" target="_blank">
              <img src="/common/img/home/snapdeal/ball1.jpg" alt="All Balls"/>
          </a>
      </div>
      <div class="col-sm-4 pdl5 pdr5 ">
          <a href="/redirectto?next=http://www.snapdeal.com/search%3fkeyword=all%20brands%20shirts%20for%20mens%26santizedKeyword=all+brands+shirts%26catId=%26categoryId=%26suggested=false%26vertical=%26noOfResults=48%26clickSrc=go_header%26lastKeyword=%26prodCatId=%26changeBackToAll=false%26foundInAll=false%26categoryIdSearched=%26cityPageUrl=%26url=%26utmContent=%26dealDetail=%26sort=rlvncy%26utm_source=aff_prog%26utm_campaign=afts%26offer_id=17%26aff_id=83698&amp;dest=SNAPDEAL" target="_blank">
              <img src="/common/img/home/snapdeal/shirt1.jpg" alt="ALL Shirts"/>
          </a>
      </div>
      <div class="col-sm-4 pdl5 pdr5">
          <a href="/redirectto?next=http://www.snapdeal.com/search%3fkeyword=electric%20kitchen%20things%26santizedKeyword=electric+kitchen+items%26catId=%26categoryId=%26suggested=false%26vertical=p%26noOfResults=48%26clickSrc=go_header%26lastKeyword=%26prodCatId=%26changeBackToAll=false%26foundInAll=false%26categoryIdSearched=%26cityPageUrl=%26url=%26utmContent=%26dealDetail=%26sort=rlvncy%26utm_source=aff_prog%26utm_campaign=afts%26offer_id=17%26aff_id=83698&amp;dest=SNAPDEAL" target="_blank">
              <img src="/common/img/home/snapdeal/homenead1.jpg" alt="Home Electronics"/>
          </a>
      </div>
      <!-- <div class="col-sm-2 pdl5 pdr5">
          <a href="">
              <img src="/common/img/home/flipkart-search-img/20160210-215526-2.1.jpg" / style="width: 100%;height: 264px;">
          </a>
      </div> -->
  </div>
</div>
<div class="row mgt10">
    <div class="">
        <div class="col-sm-12 ">
            <b><h4>Special Offers </h4></b>
        </div>
    </div>
</div>
<div class="row ">
  <div class="snapdeal-images">
    <div class="col-sm-6 pdl5 pdr5">
      <a href="/redirectto?next=http://www.snapdeal.com/search%3fkeyword=%20watches%26santizedKeyword=men+premium+watches%26catId=0%26categoryId=%26suggested=false%26vertical=p%26noOfResults=48%26clickSrc=go_header%26lastKeyword=%26prodCatId=%26changeBackToAll=false%26foundInAll=false%26categoryIdSearched=%26cityPageUrl=%26url=%26utmContent=%26dealDetail=%26sort=rlvncy%26utm_source=aff_prog%26utm_campaign=afts%26offer_id=17%26aff_id=83698&amp;dest=SNAPDEAL" target="_blank">
          <img src="/common/img/home/snapdeal/watchesbronze22.jpg" alt="Watches Combo's"/>
      </a>
    </div>
    <div class="col-sm-6 pdl5 pdr5">
      <a href="/redirectto?next=http://www.snapdeal.com/search%3fkeyword=ladies%20earings%26santizedKeyword=watches%26catId=%26categoryId=341%26suggested=true%26vertical=p%26noOfResults=48%26clickSrc=suggested%26lastKeyword=%26prodCatId=%26changeBackToAll=false%26foundInAll=false%26categoryIdSearched=%26cityPageUrl=%26url=%26utmContent=%26dealDetail=%26sort=rlvncy%26utm_source=aff_prog%26utm_campaign=afts%26offer_id=17%26aff_id=83698&amp;dest=SNAPDEAL" target="_blank">
        <img src="/common/img/home/snapdeal/wfjewellery1.jpg" alt="Ladies Earings"/>
      </a>
    </div>
  </div>
</div>
<div class="row mgt20">
  <div class="snapdeal-images">
    <div class="col-sm-3 pdl5 pdr5">
      <a href="/redirectto?next=http://www.snapdeal.com/search%3fkeyword=mens%20footwear%26santizedKeyword=%26catId=%26categoryId=0%26suggested=true%26vertical=p%26noOfResults=48%26clickSrc=suggested%26lastKeyword=%26prodCatId=%26changeBackToAll=false%26foundInAll=false%26categoryIdSearched=%26cityPageUrl=%26url=%26utmContent=%26dealDetail=%26sort=rlvncy%26utm_source=aff_prog%26utm_campaign=afts%26offer_id=17%26aff_id=83698&amp;dest=SNAPDEAL" target="_blank">
          <img src="/common/img/home/snapdeal/2FebMensHomepageWidget.jpg" alt="Mens Footwear"/>
      </a>
    </div>
    <div class="col-sm-3 pdl5 pdr5">
      <a href="/redirectto?next=http://www.snapdeal.com/search%3fkeyword=anarkali%20dresses%26santizedKeyword=%26catId=%26categoryId=%26suggested=false%26vertical=p%26noOfResults=48%26clickSrc=go_header%26lastKeyword=%26prodCatId=%26changeBackToAll=false%26foundInAll=false%26categoryIdSearched=%26cityPageUrl=%26url=%26utmContent=%26dealDetail=%26sort=rlvncy%26utm_source=aff_prog%26utm_campaign=afts%26offer_id=17%26aff_id=83698&amp;dest=SNAPDEAL" target="_blank">
        <img src="/common/img/home/snapdeal/5thFeb_anarkali_HP.jpg" alt="Ladies Dresses"/>
      </a>
    </div>
    <div class="col-sm-3 pdl5 pdr5">
      <a href="/redirectto?next=http://www.snapdeal.com/search%3fkeyword=mobiles%26santizedKeyword=%26catId=%26categoryId=%26suggested=false%26vertical=p%26noOfResults=48%26clickSrc=go_header%26lastKeyword=%26prodCatId=%26changeBackToAll=false%26foundInAll=false%26categoryIdSearched=%26cityPageUrl=%26url=%26utmContent=%26dealDetail=%26sort=rlvncy%26utm_source=aff_prog%26utm_campaign=afts%26offer_id=17%26aff_id=83698&amp;dest=SNAPDEAL" target="_blank">
        <img src="/common/img/home/snapdeal/RD_Mobile-Phones_priced-forr-all_Home-page-widget.jpg" alt="Mobile Phones"/>
      </a>
    </div>
    <div class="col-sm-3 pdl5 pdr5">
      <a href="/redirectto?next=http://www.snapdeal.com/search%3fkeyword=bombay%20dying%20cotton%20bed%20sheets%26santizedKeyword=bombay+dying+cotton+double+bedsheets%26catId=%26categoryId=%26suggested=true%26vertical=p%26noOfResults=48%26clickSrc=suggested%26lastKeyword=%26prodCatId=%26changeBackToAll=false%26foundInAll=false%26categoryIdSearched=%26cityPageUrl=%26url=%26utmContent=%26dealDetail=%26sort=plth%26utm_source=aff_prog%26utm_campaign=afts%26offer_id=17%26aff_id=83698&amp;dest=SNAPDEAL" target="_blank">
          <img src="/common/img/home/snapdeal/bedsheet-1.jpg" alt="Bed Sheets"/>
      </a>
    </div>
  </div>
</div>
<div class="row mgt10">
    <div class="">
        <div class="col-sm-12 ">
            <b><h4>Popular Items </h4></b>
        </div>
    </div>
</div>
<div class="row ">
  <div class="snapdeal-images">
    <div class="col-sm-3 pdl5 pdr5">
      <a href="/redirectto?next=http://www.snapdeal.com/offers/kids-indoorgames%3fSRPID=customsearch%26keywd=toys%20%26%20games%26utm_source=aff_prog%26utm_campaign=afts%26offer_id=17%26aff_id=83698&amp;dest=SNAPDEAL" target="_blank">
        <img src="/common/img/home/snapdeal/book2.png" />
      </a>
    </div>
    <div class="col-sm-3 pdl5 pdr5">
      <a href="/redirectto?next=http://www.snapdeal.com/search%3fkeyword=laptops%26santizedKeyword=%26catId=%26categoryId=%26suggested=true%26vertical=%26noOfResults=48%26clickSrc=suggested%26lastKeyword=%26prodCatId=%26changeBackToAll=false%26foundInAll=false%26categoryIdSearched=%26cityPageUrl=%26url=%26utmContent=%26dealDetail=%26sort=rlvncy%26utm_source=aff_prog%26utm_campaign=afts%26offer_id=17%26aff_id=83698&amp;dest=SNAPDEAL" target="_blank">
        <img src="/common/img/home/snapdeal/backcase1.png" />
      </a>
    </div>
    <div class="col-sm-3 pdl5 pdr5">
      <a href="/redirectto?next=http://www.snapdeal.com/search%3fkeyword=iphone%26santizedKeyword=laptops%26catId=%26categoryId=%26suggested=true%26vertical=p%26noOfResults=48%26clickSrc=suggested%26lastKeyword=%26prodCatId=%26changeBackToAll=false%26foundInAll=false%26categoryIdSearched=%26cityPageUrl=%26url=%26utmContent=%26dealDetail=%26sort=rlvncy%26utm_source=aff_prog%26utm_campaign=afts%26offer_id=17%26aff_id=83698&amp;dest=SNAPDEAL" target="_blank">
        <img src="/common/img/home/snapdeal/ifone.jpg" alt="Iphones"/>
      </a>
    </div>
    <div class="col-sm-3 pdl5 pdr5">
      <a href="/redirectto?next=http://www.snapdeal.com/search%3fkeyword=tv%26santizedKeyword=laptops%26catId=66%26categoryId=%26suggested=true%26vertical=p%26noOfResults=48%26clickSrc=suggested%26lastKeyword=%26prodCatId=%26changeBackToAll=false%26foundInAll=false%26categoryIdSearched=%26cityPageUrl=%26url=%26utmContent=%26dealDetail=%26sort=rlvncy%26utm_source=aff_prog%26utm_campaign=afts%26offer_id=17%26aff_id=83698&amp;dest=SNAPDEAL" target="_blank">
        <img src="/common/img/home/snapdeal/leds.png" />
      </a>
    </div>
  </div>
</div>
<div class="row mgt20 ">
  <div class="snapdeal-images">
    <div class="col-sm-6 pdl5 pdr5">
      <a href="/redirectto?next=http://www.snapdeal.com/products/kids-walkers%3fsort=plrty%26utm_source=aff_prog%26utm_campaign=afts%26offer_id=17%26aff_id=83698&amp;dest=SNAPDEAL" target="_blank">
        <img src="/common/img/home/snapdeal/kidswalkers.jpg" />
      </a>
    </div>
    <div class="col-sm-6 pdl5 pdr5">
      <a href="/redirectto?next=http://www.snapdeal.com/products/kids-footwear%3fsort=plrty%26SRPID=customsearch%26keywd=kids%20footwear%26utm_source=aff_prog%26utm_campaign=afts%26offer_id=17%26aff_id=83698&amp;dest=SNAPDEAL" target="_blank">
        <img src="/common/img/home/snapdeal/kidsfootwear.jpg" />
      </a>
    </div>
  </div>
</div>
 <div class="row mgt10">
    <div class="">
        <div class="col-sm-12 ">
            <b><h4>Shop by Trends </h4></b>
        </div>
    </div>
</div>
<div class="row ">
  <div class="snapdeal-images">
    <div class="col-sm-3 pdl5 pdr5 text-center">
      <a href="/redirectto?next=http://www.snapdeal.com/search%3fkeyword=formals%20dress%20for%20kids%26santizedKeyword=formals+for+kids%26catId=%26categoryId=%26suggested=false%26vertical=p%26noOfResults=48%26clickSrc=go_header%26lastKeyword=%26prodCatId=%26changeBackToAll=false%26foundInAll=false%26categoryIdSearched=%26cityPageUrl=%26url=%26utmContent=%26dealDetail=%26sort=rlvncy%26utm_source=aff_prog%26utm_campaign=afts%26offer_id=17%26aff_id=83698&amp;dest=SNAPDEAL" target="_blank">
          <img src="/common/img/home/snapdeal/612widgetboys.jpg" />
      </a>
    </div>
    <div class="col-sm-3 pdl5 pdr5">
      <a href="/redirectto?next=http://www.snapdeal.com/search%3fkeyword=tshirts%20pack%20for%20kids%20boys%26santizedKeyword=formals+dress+for+kids%26catId=%26categoryId=%26suggested=true%26vertical=p%26noOfResults=48%26clickSrc=suggested%26lastKeyword=%26prodCatId=%26changeBackToAll=false%26foundInAll=false%26categoryIdSearched=%26cityPageUrl=%26url=%26utmContent=%26dealDetail=%26sort=rlvncy%26utm_source=aff_prog%26utm_campaign=afts%26offer_id=17%26aff_id=83698&amp;dest=SNAPDEAL" target="_blank">
          <img src="/common/img/home/snapdeal/charactersboyswidgets.jpg" />
      </a>
    </div>
    <div class="col-sm-3 pdl5 pdr5">
      <a href="/redirectto?next=http://www.snapdeal.com/search%3fkeyword=kids%20fashion%20dress%26santizedKeyword=%26catId=%26categoryId=0%26suggested=true%26vertical=p%26noOfResults=48%26clickSrc=suggested%26lastKeyword=%26prodCatId=%26changeBackToAll=false%26foundInAll=false%26categoryIdSearched=%26cityPageUrl=%26url=%26utmContent=%26dealDetail=%26sort=rlvncy%26utm_source=aff_prog%26utm_campaign=afts%26offer_id=17%26aff_id=83698&amp;dest=SNAPDEAL" target="_blank">
          <img src="/common/img/home/snapdeal/nautinatiboyswidget.jpg" />
      </a>
    </div>
    <div class="col-sm-3 pdl5 pdr5">
      <a href="/redirectto?next=http://www.snapdeal.com/search%3fkeyword=cargo%20for%20kids%20boys%26santizedKeyword=tshirts+pack+for+kids+boys%26catId=%26categoryId=%26suggested=false%26vertical=p%26noOfResults=48%26clickSrc=go_header%26lastKeyword=%26prodCatId=%26changeBackToAll=false%26foundInAll=false%26categoryIdSearched=%26cityPageUrl=%26url=%26utmContent=%26dealDetail=%26sort=rlvncy%26utm_source=aff_prog%26utm_campaign=afts%26offer_id=17%26aff_id=83698&amp;dest=SNAPDEAL" target="_blank">
        <img src="/common/img/home/snapdeal/cargosboyswidget.jpg" />
      </a>
    </div>
  </div>
</div>