<div class="" th:if="${#httpServletRequest.getParameter('name')=='SNAPDEAL'}">
			<h3 style="margin-top: 110px;text-align:center;" >
				<img src="/common/img/storeimg/snapdeal.png" style="border:0"  width="150px" class="CToWUd"/>
			</h3>
			<!-- <div class="col-lg-2"></div>
			<div class="col-lg-2"></div>
			<div class="col-lg-2"></div> -->
			<div  class="col-lg-offset-3" data-SDID="888577883"  data-identifier="SnapdealAffiliateAds" data-height="60" data-width="800" data-margin-left="100px"></div>
<script id="snap_zxcvbnhg" async="" src="https://affiliate-ads.snapdeal.com/affiliate/js/snapdealAffiliate.js"></script>
		<div class="col-lg-offset-3 m-t-sm" data-SDID="828317677" data-identifier="SnapdealAffiliateAds" data-height="90" data-width="728" style="margin-top: 100px;"></div>
		<script async="" id="snap_zxcvbnhg" src="https://affiliate-ads.snapdeal.com/affiliate/js/snapdealAffiliate.js"></script>
		
	</div>
